trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - Application
    - Test
    - 'Performance Toolkit'
    - DevOps    

resources:
  repositories:
  - repository: scriptsRepo
    type: git
    name:  'NpCore/NpDevOps'

stages:
  - template: /YAML/ZAL Build Definitions/Prerelease build.yml@scriptsRepo
    parameters:
      pool:
        name: NP Core Pipelines
        demands: 
        - docker
        # Now only 2019 is available but in the future it will be every newer version.
        # Then we will probably remove this requirement as it will alwyas TRUE.
        - Agent.OS -equals Windows_NT
        - Agent.OSVersion -equals 10.0.17763
      containerDefinitions:
        - name: Auto
        
        - name: vLatest_CLOUD
          alwaysRun: true

        - name: Insider_CLOUD
          alwaysRun: true
          continueOnError: true
        
      analyzers: ('UICop','CodeCop')
      keyVaultCert:
        azureKeyVaultCertName: BusinessCentralKeyVaultReader
        azureADtenantID: ec3af438-38fc-4d9b-b8be-058101411d3a
        azureKeyVaultClientId: b38b8bef-17d2-4368-84ce-f9880a45eed0
      translations:
        translationsRepoUrl: https://gitlab.com/navipartner1/npcore/npcore-translations.git
        translationRepoUser: AzureDevOpsCI
        translationRepoPassword: $(GitLab-TranslationRepositoryAccessToken)
        translationsRepoBranchName: i10n_master
        translationsTargetRepoBranchName: master
      combinedAppsNuGetSourceUri: https://pkgs.dev.azure.com/navipartner/_packaging/NaviPartner.NavApps/nuget/v3/index.json
      generatePermissions:
        enabled: true
        alObjectsFolder: $(Build.Repository.LocalPath)/Application/src/
        destinationFileName: /Permissions/NPRETAIL.PermissionSet.al
        objectId: 6014400
        objectName: 'NPR NP RETAIL'
        objectCaption: 'NP Retail'
        xmlRoleId: 'NP RETAIL'
        xmlRoleName: 'NP Retail'        
      testApps:
      - 'Performance Toolkit'
      - 'Test'
      outputLogExcludeFilters:
      - (?=^[\w\W]*(AL0432):[\w\W]*)(?!^[\w\W]*AL0432:[\w\W]*(Tag:[\w\W]*))