trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - Documentation
    exclude:
    - Documentation/internal/*

pool:
  name: NP Core Pipelines

variables:
  docfxUrl: 'https://github.com/dotnet/docfx/releases/download/v2.58.4/docfx.zip'
  azureBlobStorageUrl: 'https://npretaildocs.blob.core.windows.net/`$web'
  azureCopyUrl: 'https://azcopyvnext.azureedge.net/release20210920/azcopy_windows_amd64_10.12.2.zip'

steps:
- task: PowerShell@2
  inputs:
    targetType: 'filePath'
    filePath: '$(System.DefaultWorkingDirectory)\Documentation\.tools\deploy.ps1'
    arguments: '-workspaceFolder "$(System.DefaultWorkingDirectory)" -docfxUrl $(docfxUrl) -AzureBlobStorageUrl $(azureBlobStorageUrl) -AzureBlobStorageSAS $env:BLOB_SAS_TOKEN -AzureCopyUrl $(azureCopyUrl)'
  displayName: 'Publish documentation'
  env:
    BLOB_SAS_TOKEN: $(BlobSASToken)