trigger: none

schedules:
  - cron: "0 1 * * *" #UTC TIME! mm HH DD MM DW
    displayName: 'Daily BCPT container run'
    branches:
      include:
      - master
    always: true

resources:
  repositories:
  - repository: scriptsRepo
    type: git
    name: 'NpCore/NpDevOps'

stages:
  - template: /YAML/ZAL Build Definitions/BCPT.yml@scriptsRepo
    parameters:
      pool:
        name: 'NP PerfTest'
        demands: 
        - docker
        - Agent.OS -equals Windows_NT
      
      containerDefinitions:
        - name: vLatest_CLOUD
          alwaysRun: true

      testTargets:
        - 'current_branch'
        - 'prerelease_latest'
        - 'release_latest'

      appDependencies:
        - id: 992c2309-cca4-43cb-9e41-911f482ec088
          name: NP Retail
          publisher: NaviPartner
        - id: ef12bed6-ad9b-4460-b8ee-be8dc0e6fb6c
          name: NP Retail Performance Toolkit
          publisher: NaviPartner
          nugetPackage: 'NaviPartner.NPRetail'
      
      importRapidStartFiles:
        - 'MINIMAL-NPRWITHBCPT.rapidstart'
      
      compileApps:
        - 'Application'
        - 'Performance Toolkit'

      analyzers: ('AppSourceCop','UICop','CodeCop')
      generatePermissions:
        enabled: true
        alObjectsFolder: $(Build.Repository.LocalPath)/Application/src/
        destinationFileName: /Permissions/NPRETAIL.PermissionSet.al
        objectId: 6014400
        objectName: 'NPR NP RETAIL'
        objectCaption: 'NP Retail'
        xmlRoleId: 'NP RETAIL'
        xmlRoleName: 'NP Retail'           
      outputLogExcludeFilters:
        - (?=^[\w\W]*(AL0432):[\w\W]*)(?!^[\w\W]*AL0432:[\w\W]*(Tag:[\w\W]*))

      runSuiteCodes: $(SuiteCodes)