trigger: none

resources:
  repositories:
  - repository: scriptsRepo
    type: git
    name: 'NpCore/NpDevOps'

stages:
- template: /YAML/ZAL Build Definitions/PR Validation build.yml@scriptsRepo
  parameters:
    pool:
      name: NP Core Pull Request Pipelines
      demands: 
      - docker
      # Now only 2019 is available but in the future it will be every newer version.
      # Then we will probably remove this requirement as it will alwyas TRUE.
      - Agent.OS -equals Windows_NT
      - Agent.OSVersion -equals 10.0.17763
    containerDefinitions:
        - name: Auto

        - name: BC1700

        - name: BC1704

        - name: BC1711

        - name: BC1804
       
        - name: BC1906

        - name: BC2103_CLOUD
          alwaysRun: true        

        - name: vLatest_CLOUD
          compareAppWithSpecificCompareAppVersion: true
          alwaysRun: true

        - name: Insider_CLOUD
          compareAppWithSpecificCompareAppVersion: true
          alwaysRun: true
          continueOnError: true
               
    analyzers: ('AppSourceCop','UICop','CodeCop')
    keyVaultCert:
      azureKeyVaultCertName: BusinessCentralKeyVaultReader
      azureADtenantID: ec3af438-38fc-4d9b-b8be-058101411d3a
      azureKeyVaultClientId: b38b8bef-17d2-4368-84ce-f9880a45eed0
    objectVisibilityCheck: TRUE
    obsoleteTagsCheck: true
    applicationAreaCheck:
      enabled: true
      allowedApplicationAreas: ("NPRRetail", 
                                "NPRTicketEssential", 
                                "NPRTicketAdvanced",
                                "NPRTicketDynamicPrice",
                                "NPRTicketWallet",
                                "NPRMembershipEssential",
                                "NPRMembershipAdvanced",
                                "NPRNaviConnect",
                                "NPRHeyLoyalty",
                                "NPRRSRLocal",
                                "NPRRSLocal",
                                "NPRRSFiscal",
                                "NPRSIFiscal",
                                "NPRNOFiscal",
                                "NPRCROFiscal",
                                "NPRBGFiscal")
      exceptions: (@{Type = "Page"; Id = 6151094; Name = "NPR Feature Management" })
    generatePermissions:
      enabled: true
      alObjectsFolder: $(Build.Repository.LocalPath)/Application/src/
      destinationFileName: /Permissions/NPRETAIL.PermissionSet.al
      objectId: 6014400
      objectName: 'NPR NP RETAIL'
      objectCaption: 'NP Retail'
      xmlRoleId: 'NP RETAIL'
      xmlRoleName: 'NP Retail'
    runTests: true
    testApps:
    - 'Performance Toolkit'
    - 'Test'
    outputLogExcludeFilters:
    - (?=^[\w\W]*(AL0432):[\w\W]*)(?!^[\w\W]*AL0432:[\w\W]*(Tag:[\w\W]*))