
# For anything that is not covered by the other rules
* @navipartner/hardware @navipartner/isv-1 @navipartner/isv-2

/.github/ @navipartner/pipelines
/CODEOWNERS @navipartner/dev-management

/Application/src/_ControlAddIns/Dragonglass/ @navipartner/frontend
/Application/src/_ControlAddIns/HardwareConnector/ @navipartner/hardware
/Application/src/_ControlAddIns/NPCamera/ @navipartner/hardware
/Application/src/Accessories/ @navipartner/isv-1
/Application/src/Attributes/ @navipartner/isv-1
/Application/src/Azure\ AD\ Application\ Management/ @navipartner/isv-1
/Application/src/Azure\ Function\ Management/ @navipartner/hardware
/Application/src/BTwentyFour\ Service/ @navipartner/isv-2
/Application/src/Case\ System\ Phone\ Home/ @navipartner/isv-2
/Application/src/Click\ &\ Collect/ @navipartner/isv-2
/Application/src/Consignor/ @navipartner/isv-1
/Application/src/Coupon/ @navipartner/isv-1
/Application/src/Customer\ Phone\ Lookup/ @navipartner/isv-1
/Application/src/Data\ Log/ @navipartner/isv-2
/Application/src/Data\ Package/ @navipartner/isv-2
/Application/src/Digital\ Receipt/ @navipartner/isv-1
/Application/src/Dimensions/ @navipartner/isv-2
/Application/src/Ecommerce/ @navipartner/isv-2
/Application/src/Email\ Template\ (PDF2NAV)/ @navipartner/isv-1
/Application/src/Environment/ @navipartner/isv-1
/Application/src/Event\ Module/ @navipartner/attractions
/Application/src/Exchange\ Label/ @navipartner/isv-2
/Application/src/External\ POS\ Sale/ @navipartner/isv-2
/Application/src/Feature\ Flags/ @navipartner/isv-1
/Application/src/Feature\ Management/ @navipartner/isv-1
/Application/src/File\ Transfer/ @navipartner/hardware
/Application/src/GDPR/ @navipartner/attractions
/Application/src/Global\ POS\ Sales/ @navipartner/isv-2
/Application/src/Group\ Codes/ @navipartner/isv-1
/Application/src/Hardware\ Connector/ @navipartner/hardware
/Application/src/HeyLoyalty\ Integration/ @navipartner/isv-2
/Application/src/Intercompany/ @navipartner/isv-1
/Application/src/Inventory\ Cost\ Adjmt/ @navipartner/isv-2
/Application/src/Item\ AddOn/ @navipartner/isv-1
/Application/src/Item\ Catalog/ @navipartner/isv-1
/Application/src/Item\ Category/ @navipartner/isv-1
/Application/src/Item\ Hierarchy/ @navipartner/isv-1
/Application/src/Item\ Reference/ @navipartner/isv-1
/Application/src/Item\ Status/ @navipartner/isv-2
/Application/src/Item\ Worksheet/ @navipartner/isv-1
/Application/src/Job\ Queue/ @navipartner/isv-2
/Application/src/Key\ Vault/ @navipartner/dev-management
/Application/src/Localizations/ @navipartner/compliance
/Application/src/MPOS/ @navipartner/hardware
/Application/src/Magento/ @navipartner/isv-2
/Application/src/Magento\ 2/ @navipartner/isv-2
/Application/src/Main\ Item\ Variations/ @navipartner/isv-2
/Application/src/Member\ Module/ @navipartner/attractions
/Application/src/NaviConnect/ @navipartner/isv-2
/Application/src/NaviDocs/ @navipartner/isv-2
/Application/src/NpXml/ @navipartner/isv-2
/Application/src/OIOUBL/ @navipartner/isv-2
/Application/src/Package/ @navipartner/isv-1
/Application/src/Pacsoft/ @navipartner/isv-1
/Application/src/POS\ Action\ (with\ Misc\ actions)/ @navipartner/isv-1
/Application/src/POS\ Background\ Tasks/ @navipartner/isv-1
/Application/src/POS\ Compliance/ @navipartner/compliance
/Application/src/POS\ Core/ @navipartner/isv-1
/Application/src/POS\ Customer\ Input/ @navipartner/hardware
/Application/src/POS\ Cross\ Reference/ @navipartner/isv-2
/Application/src/POS\ Data\ Source/ @navipartner/isv-1
/Application/src/POS\ Discount/ @navipartner/isv-1
/Application/src/POS\ Display/ @navipartner/hardware
/Application/src/POS\ Info/ @navipartner/isv-2
/Application/src/POS\ Input\ Box/ @navipartner/isv-1
/Application/src/POS\ Item\ Availability/ @navipartner/isv-2
/Application/src/POS\ Payment/ @navipartner/isv-1
/Application/src/POS\ Payment/EFT/ @navipartner/hardware
/Application/src/POS\ Payment\ Bin/ @navipartner/isv-2
/Application/src/POS\ Payment\ Denomination/ @navipartner/isv-2
/Application/src/POS\ Posting/ @navipartner/isv-2
/Application/src/POS\ Quote/ @navipartner/isv-2
/Application/src/POS\ RMA/ @navipartner/isv-2
/Application/src/POS\ Resume\ Sale/ @navipartner/isv-2
/Application/src/POS\ Sales\ Document/ @navipartner/isv-2
/Application/src/POS\ Scenarios/ @navipartner/isv-1
/Application/src/POS\ Security/ @navipartner/isv-1
/Application/src/POS\ Service/ @navipartner/isv-2
/Application/src/POS\ Setup/ @navipartner/isv-2
/Application/src/POS\ Statistics/ @navipartner/isv-2
/Application/src/POS\ Store/ @navipartner/isv-2
/Application/src/POS\ Tax\ Calculation/ @navipartner/isv-2
/Application/src/POS\ Tax\ Free/ @navipartner/isv-2
/Application/src/POS\ Unit/ @navipartner/isv-2
/Application/src/PrintNode/ @navipartner/hardware
/Application/src/Raptor/ @navipartner/isv-2
/Application/src/Reimbursement/ @navipartner/isv-2
/Application/src/Replication/ @navipartner/isv-1
/Application/src/Restaurant/ @navipartner/isv-2
/Application/src/Retail\ Item\ Journal/ @navipartner/isv-2
/Application/src/Retail\ Journal/ @navipartner/isv-2
/Application/src/Retail\ Price/ @navipartner/isv-1
/Application/src/Retail\ Print/ @navipartner/hardware
/Application/src/Retail\ Voucher/ @navipartner/isv-1
/Application/src/Retention\ Policy/ @navipartner/isv-2
/Application/src/Sales\ Price/ @navipartner/isv-1
/Application/src/Self\ Service/ @navipartner/hardware @navipartner/isv-1
/Application/src/Sentry/ @navipartner/dev-management
/Application/src/Setup\ Wizards/ @navipartner/isv-2
/Application/src/Shopify\ Integration/ @navipartner/isv-2
/Application/src/Smart\ Email/ @navipartner/isv-1
/Application/src/Statistics\ and\ Overview/ @navipartner/isv-2
/Application/src/Ticket\ Module/ @navipartner/attractions
/Application/src/Variety/ @navipartner/isv-1