.transcendence {
  .seating-setup-locations__location {
    padding: 5px 10px;
    transition: background-color 0.2s ease-out;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: $colorPrimary300;
    }

    &.selected {
      background-color: $colorPrimary100;

      span {
        color: $colorText200 !important;
      }
    }

    > span {
      float: left;
      padding: 8px 0;
    }
  }

  .seating-setup-locations__buttons {
    .seating-setup-menu-button {
      float: right;
      margin-left: 6px;
      padding: 0.75em;
      border: 1px solid transparent;
      border-radius: $borderRadius;

      &:hover {
        border-color: $colorPrimary300;
      }
    }
  }

  .seating-setup-locations__no-location {
    padding: 10px;
  }

  .seating-setup-menu__new-location {
    background-color: $colorPrimary300;
    padding: 1em 0;
    border-top: 1px solid $colorSecondary200;
    border-bottom: 1px solid $colorSecondary200;

    .seating-setup-menu-button {
      width: 95%;
      margin: 0 auto;
      text-align: center;
      background-color: $colorSecondary100;
      box-shadow: $boxShadow;
      transition: background-color 0.2s ease-out;

      &:hover {
        background: $colorPrimary100;

        span {
          color: $colorText200;
        }
      }
    }
  }

  .seating-setup-menu__buttons {
    .seating-setup-menu-button {
      &:hover {
        background: $colorPrimary300;
      }
    }
  }
}
