.transcendence {
  .table-waiter-pad-menu {
    background: $colorSecondary100;
    border-radius: 3px;
    position: absolute;
    right: -2em;
    top: 0;
    transform: translateX(100%);
    width: 150px;
    z-index: 9;
    animation: width-height2 cubic-bezier(0.4, 0, 0.2, 1) 0.3s forwards;
    overflow: hidden;

    .button.button--simple {
      margin: 0;

      &.table-waiter-pad-menu-close-button {
        top: -1px;
        right: 0;
        box-shadow: none;
        position: absolute;

        > div {
          background: none;
          font-size: 1.2em;
          padding: 0;
          transition: font-size 0.2s ease-in-out;

          .caption {
            &:after {
              content: "\d7";
              color: $colorText100;
              font-size: 1.4em;
            }
          }
        }

        &:hover {
          > div {
            font-size: 1.3em;
          }
        }
      }

      &.table-waiter-pad-menu-add-new-button {
        box-shadow: none;
        margin: 1em auto;

        > div {
          background: $colorPrimary100;
        }

        &:hover {
          > div {
            background: $colorPrimary200;
          }
        }
      }
    }
  }

  .table-waiter-pad-menu__title {
    font-size: 1.1em;
    font-weight: 600;
    background: $colorPrimary100;
    color: $colorText100;
    padding: 0.7em 0.5em;
    cursor: default;
  }

  .table-waiter-pad-menu__pad {
    cursor: pointer;
    padding: 0.5em;
    border-bottom: 1px solid map-get($colors, "light-gray");
    color: $colorText100;
    font-size: 0.9em;

    &:hover {
      background-color: $colorSecondary100;
    }
  }
}
