:root {
  --color-primary: #6388ae;
  --color-secondary: #ffffff;
  --green: #5eb267;
  --red: #db3439;
  --dark-red: #982420;
  --gray: #a4b4c8;
  --light-gray: #555555;
  --purple: #80588c;
  --indigo: #655093;
  --yellow: #e5d736;
  --orange: #f0aa35;
  --white: #d8d8d8;
  --dark-gray: #222222;
  --blue: #0f1011;
  --dark-blue: #24323f;
  --light-blue: #4a5560;
  --color-primary-hover: #29578d;
  --color-secondary-hover: #555555;
  --green-hover: #34803c;
  --red-hover: #b30d13;
  --dark-red-hover: #6c1714;
  --gray-hover: #76889c;
  --purple-hover: #5e3b69;
  --indigo-hover: #45346a;
  --yellow-hover: #aea115;
  --orange-hover: #a76b07;
  --white-hover: #9c9c9c;
  --light-gray-hover: #686868;
  --dark-gray-hover: #363636;
  --blue-hover: #415467;
  --dark-blue-hover: #314355;
  --light-blue-hover: #596877;
  --primary-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --light-font: "Segoe UI Light" Tahoma, Geneva, Verdana, sans-serif;
  --default-font-size: 1.6rem;
  --text-color: #ffffff;
  --text-color-secondary: #cccccc;
  --text-color-disabled: #dedede20;
  --input-text-color: #494949;
  --login-left-width: 60%;
  --login-right-width: 40%;
  --last-sale-text-color: #eee;
  --last-sale-bg: #4b4b4b;
  --login-bg: #ffffff;
  --login-button-grid-padding: 0;
  --login-padding: 0;
  --input-with-caption-bg: #6388ae;
  --view-padding: 1.5em;
  --container--space: 1.5em;
  --button-space: 0.3em;
  --button-padding: 0.5em;
  --button-bg-disabled: #c1cddd;
  --button-color-disabled: #ffffff;
  --button-shadow: none;
  --button-shadow-disabled: none;
  --button-bg: #6388ae;
  --button-bg-hover: #4d7399;
  --button-switch-bg: #d8d8d8;
  --default-icon-font: "Font Awesome 5 Pro";
  --label-bg-color: inherit;
  --label-padding: 0;
  --input-border: none;
  --input-erase-bg: #6388ae;
  --info-box-title-height: 2.25em;
  --info-box-caption-height: 1.17em;
  --info-box-color: #444;
  --info-box-bg: #ffffff;
  --caption-box-bg: #e9e9e9;
  --info-box-border-color: #c7c7c7;
  --grid-column-border: none;
  --grid-column-padding: 0.5% 1%;
  --grid-column-width: 11%;
  --grid-first-column-width: 45%;
  --grid-row-border: 1px solid #f1f4fa;
  --grid-row-highlight-bg: #cee5f9;
  --grid-text-color: #444;
  --subtotal-padding: 5px;
  --popup-max-height: 75%;
  --popup-max-width: 60%;
  --popup-min-width: 40%;
  --popup-shadow: none;
  --popup-title-bg: #309ce6;
  --popup-title-height: 40px;
  --popup-title-font-size: 20px;
  --popup-body-bg: #ffffff;
  --popup-button-bg: #ffffff;
  --popup-button-height: 100px;
  --popup-button-width: 115px;
  --popup-body-text-color: #494949;
  --date-picker-height: 300px;
  --statusbar-color: #eee;
  --statusbar-shadow: none;
  --danger: firebrick;
  --overlay-bg: rgba(224, 224, 224, 0.3);
  --shadow: none;
  --border-radius: 3px;
  --body-bg: #ffffff;
  --dot-width: 5px;
  --dot-height: 5px;
  --left-pos: -9999px;
  --lookup-row-shadow: none;
  --lookup-row-hover: #cee5f9;
  --lookup-row-selected: #cee5f9;
  --lookup-row-selected-hover: #b4d0e9;
  --lookup-row-text-dark: #626262;
  --lookup-row-text-light: #868686; }


/*# sourceMappingURL=themeLight.css.map*/