/* div#toolbar {
    display: none;
} */

.body.transcendence {
    background: none;
}

.transcendence .button {
    margin-right: 0.3em;
}

.transcendence .button > div,
.transcendence .view.login .loginpad .button > div {
    border-radius: 0;
    background-color: #6388ae;
    color: #fff;
}

.transcendence .button > div:hover, 
.transcendence .button > div:active,
.transcendence .view.login .loginpad .button > div:hover,
.transcendence .view.login .loginpad .button > div:active {
    background-color: #29578d;
    color: #fff;
}

.transcendence .button,
.transcendence .button:active {
    box-shadow: none;
}

.transcendence .button > div.button--disabled {
    background-color: #c1cddd !important;
    color: #fff;
    cursor: default !important;
}

.transcendence .button > div.button--disabled:hover, 
.transcendence .button > div.button--disabled:focus {
    background-color: #c1cddd !important;
    color: #fff;
}

.transcendence .input.input--with-caption {
    background: none;
    padding: 0;
    border-radius: 0;
}

.transcendence .input .input__label {
    background-color: #457db5;
    color: #fff;
    padding: 5px 10px;
}

.transcendence .input .input__holder {
    border-radius: 0;
    background-color: #dedede;
    box-shadow: none;
}

.transcendence .input .input__textbox {
    border: 1px solid #b5cfe7;
}

.transcendence .input .input__erase {
    background-color: #6388ae;
    border: 1px solid transparent;
    color: #fff;
}

.transcendence .input .input__erase:hover {
    background: #29578d;
    border: 1px solid transparent;
}

.transcendence .input .input__erase:active {
    transform: scale(0.95, 0.95);
    background: none;
    border: 1px solid transparent;
}

.transcendence .input .input__erase:active > i {
    transform: scale(1);
}

.transcendence .view.login .loginpad {
    background: none;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
}

.transcendence .view.login .loginpad .buttongrid {
    padding: 0;
}

.transcendence .buttongrid .buttongrid__row {
    padding-bottom: 0.3em;
}

.transcendence .buttongrid .buttongrid__row:last-child {
    padding-bottom: 0;
}

.transcendence .captionbox {
    background-color: #e9e9e9;
    color: #000;
    border-radius: 0;
    box-shadow: none;
}

.transcendence .captionbox .captionbox__datacaption--title {
    border-bottom: 1px solid #c7c7c7;
    background: none;
}

.transcendence .view.login .captionbox > :last-child.captionbox__datacaption {
    background-color: #4b4b4b;
}

.transcendence .text-enter {
    width: 100%;
}

.transcendence .text-enter__entry {
    color: #000;
    background: #fff;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #b5cfe7;     
}

.transcendence .text-enter__entry.is-closing {
    animation: slideOut .5s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}

.transcendence .grid {
    box-shadow: none;
    border-radius: 0;
    overflow: hidden;
    background: none;
}

.transcendence .grid .grid__table.grid__table--body {
    border: 1px solid #c1c4ca;
}

.transcendence .grid .grid__table table tbody td {
    border-right: 1px solid #c1c4ca;
    color: #000;
}

.transcendence .grid .grid__table table tbody tr.tr-highlight {
    background-color: #cee5f9;
    border-bottom: 1px solid #f1f4fa;
    box-shadow: none;
}

.transcendence .grid .grid__table table thead {
    background-color: #457db5;
    color: #eee;
}

.transcendence .grid .grid__table table tbody tr {
    border-bottom: 1px solid #f1f4fa;
}

.transcendence .subtotal {
    background: none;
    color: #1b3050;
    margin: 5px 5px 5px 0;
    padding: 0;
}

.transcendence .page.sale .input.input--with-caption {
    box-shadow: none;
}

.transcendence .input .input__textbox {
    color: #000;
    background: #fff;
}

.transcendence .input .input__textbox::selection {
    background: none;
    color: #000;
}

.transcendence .dialog-host .input__notification {
    color: #000;
}

.statusbar {
    background: #457db5;
    box-shadow: none;
}

.transcendence .grid .grid__table table tbody td.loading {
    color: #6388ae;
}

.transcendence .loading span {
    background-color: #888888;
    color: #888888;
}

.transcendence .dialog-host .dialog__container .dialog__body {
    background: none;
}

.transcendence .dialog-host .dialog__container.dialog__container--message .dialog__body span, 
.transcendence .dialog-host .dialog__container.dialog__container--confirm .dialog__body span, 
.transcendence .dialog-host .dialog__container.dialog__container--error .dialog__body span {
    color: #555;
}

.transcendence .dialog-host .dialog__container .dialog__titlebar {
    background-color: #309ce6;
    color: #fff;
    font-weight: normal;
    height: auto;
    padding: 0;
}

.transcendence .dialog-host .dialog__container {
    background-color: #fff;
    border-radius: 0;
}

.transcendence .dialog-host .dialog__container .dialog__body > span {
    color: #000;
}

.transcendence .dialog-host .dialog__container .dialog__buttons {
    background: #e9edef;
    height: 80px;
    align-items: center;
    padding: 15px;
}

.transcendence .dialog-host .dialog__container .dialog__buttons .button {
    height: 100%;
    margin-right: 0.3em;
}

.transcendence .dialog-host .dialog__container .dialog__buttons .button:last-child {
    margin-right: 0;
}

.transcendence .dialog-host .button > div {
    border-radius: 0;
    background-color: #6388ae;
    color: #fff;
}

.transcendence .dialog-host .button > div:hover, 
.transcendence .button > div:active {
    background-color: #29578d;
    color: #fff;
}

.transcendence .dialog-host .button > div.button--selected {
    background-color: #29578d;
}

.transcendence .dialog-host .dialog__buttons .button > div:hover, 
.transcendence .dialog-host .dialog__buttons .button > div:active {
    background-color: #29578d;
    color: #fff;
}

.transcendence .dialog-host .dialog__buttons .button > div {
    border-radius: 0;
    background-color: #6388ae;
    color: #fff;
}

.transcendence .dialog-host .button > div.button--disabled {
    background-color: #c1cddd !important;
    color: #fff;
    cursor: default !important;
}

.transcendence .dialog-host .button > div.button--disabled:hover, 
.transcendence .button > div.button--disabled:focus {
    background-color: #c1cddd !important;
    color: #fff;
}

.transcendence .dialog-host.dialog-host--show {
    background: rgba(224, 224, 224, 0.3);
}

.transcendence .dialog__container--configuration {
    color: #000;
}

.transcendence .dialog__container--configuration .dialog__body {
    padding: 1.5em;
}

.transcendence .dialog__container--configuration .dialog__body span.switch__caption,
.transcendence .dialog__container--configuration .dialog__body .plus-minus-editor__caption span,
.transcendence .dialog__container--configuration .dialog__body .radio-group__caption span,
.transcendence .dialog__container--configuration .dialog__body .dialog__settings_body__caption span {
    color: #000;
}

.transcendence .dialog__settings_body__caption {
    padding: 0 0 15px 0;
}

.transcendence .dialog__settings_body__caption span {
    color: #000;
}

.transcendence .dialog-configuration__group {
    margin-bottom: 10px;
    padding: 0;
}

.transcendence .dialog-configuration__group__caption {
    background-color: #6388ae;
    border-radius: 0;
}

.transcendence .dialog-configuration__group__caption:hover {
    background-color:#29578d;
}

.transcendence .switch,
.transcendence .plus-minus-editor {
    border: 1px solid #e9edef;
    margin: 0 0 10px;
}

.transcendence .dialog-configuration__group__content .switch:last-child {
    border: none;
}

.transcendence .dialog-configuration__group .switch,
.transcendence .dialog-configuration__group .dialog-configuration__group__caption,
.transcendence .dialog-configuration__group .plus-minus-editor {
    margin: 0;
}

.transcendence .plus-minus-editor__buttons .subtract, 
.transcendence .plus-minus-editor__buttons .add {
    background-color: #6388ae;
}

.transcendence .plus-minus-editor__buttons .subtract:hover, 
.transcendence .plus-minus-editor__buttons .add:hover {
    background-color:#29578d;
}

.transcendence .plus-minus-editor__buttons .subtract.disabled, 
.transcendence .plus-minus-editor__buttons .add.disabled {
    background-color: #c1cddd;
    color:#fff;
}

.transcendence .plus-minus-editor__buttons {
    border: 1px solid #e9edef;
}

.transcendence .plus-minus-editor__buttons .value {
    background: none;
    color: #000;
}

.transcendence .dialog-configuration__group__content {
    border: 1px solid #b5cfe7;
    border-top: 0;
}

.transcendence .switch__pointer {
    background-color: #E9E9E9;
}

.transcendence .dialog-configuration__group__content .plus-minus-editor,
.transcendence .dialog-configuration__group__content .switch {
    border: none;
    border-bottom: 1px solid #e9edef;
    margin-bottom: 0;
}

/* .transcendence .switch__checkbox:checked + .switch__pointer {
    background-color: #4A664D
} */

.transcendence .switch__label--radio-group {
    border: 1px solid #e9edef;
    margin-right: 10px;
    margin-bottom: 10px;
    flex: 0 1 calc(33.33% - 10px);
}

.transcendence .dialog__settings__body {
    height: 100%;
}

.transcendence .switch__label--radio-group.true {
    background-color: rgba(94, 178, 103, 0.2);
}

.transcendence .dialog-configuration__group.is-expanded .dialog-configuration__group__content {
    background: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
}

.transcendence .datepicker-inline .datepicker .datepicker--nav,
.transcendence .datepicker-inline .datepicker .datepicker--cell.-current-.-selected-,
.transcendence .datepicker-inline .datepicker .datepicker--cell.-selected-,
.transcendence .datepicker-inline .datepicker .datepicker--cell.-selected-.-focus- {
    background-color: #457db5;
    color: #fff;
}

.transcendence .datepicker-inline .datepicker .datepicker--nav-action:hover,
.transcendence .datepicker-inline .datepicker .datepicker--nav-title:hover {
    background: #29578d;
}
.transcendence .datepicker-inline .datepicker .datepicker--day-name {
    color: #309CE6;
}

@keyframes slideOut {
    0% {        
		transform: scale(1) translateY(0);
		opacity: .7;
    }

    100% {        
		transform: scale(0.67) translateY(5px);
		opacity: 0;
    }
}

@keyframes fadeIn-slideIn {
    0% {        
		transform: translateY(calc(-100% - 6px));
		opacity: 1;
    }

    100% {        
		transform: translateY(0);
		opacity: .7;
	}
}

/* COLORED BUTTONS */

/* GREEN */

.transcendence .button .button--color-green, 
.transcendence .button .button.image-below.button--color-green .caption, 
.transcendence .button .button.image-above.button--color-green .caption, 
.transcendence .button .button--color-green button.button--color-green {
    background-color: #5eb267 !important;
}

.transcendence .button .button--color-green:hover, 
.transcendence .button .button.image-below.button--color-green:hover .caption, 
.transcendence .button .button.image-above.button--color-green:hover .caption, 
.transcendence .button .button-color-green button.button--color-green:hover {
    background-color: #34803c !important;
}

/* YELLOW */

.transcendence .button .button--color-yellow, 
.transcendence .button .button.image-below.button--color-yellow .caption, 
.transcendence .button .button.image-above.button--color-yellow .caption, 
.transcendence .button .button--color-yellow button.button--color-yellow {
    background-color: #e5d736 !important;
}

.transcendence .button .button--color-yellow:hover, 
.transcendence .button .button.image-below.button--color-yellow:hover .caption, 
.transcendence .button .button.image-above.button--color-yellow:hover .caption, 
.transcendence .button .button-color-yellow button.button--color-yellow:hover {
    background-color: #aea115 !important;
}

/* RED */

.transcendence .button .button--color-red, 
.transcendence .button .button.image-below.button--color-red .caption, 
.transcendence .button .button.image-above.button--color-red .caption, 
.transcendence .button .button--color-red button.button--color-red {
    background-color: #db3439 !important;
}

.transcendence .button .button--color-red:hover, 
.transcendence .button .button.image-below.button--color-red:hover .caption, 
.transcendence .button .button.image-above.button--color-red:hover .caption, 
.transcendence .button .button-color-red button.button--color-red:hover {
    background-color: #b30d13 !important;
}

/* DARK RED */

.transcendence .button .button--color-dark-red, 
.transcendence .button .button.image-below.button--color-dark-red .caption, 
.transcendence .button .button.image-above.button--color-dark-red .caption, 
.transcendence .button .button--color-dark-red button.button--color-dark-red {
    background-color: #982420 !important;
}

.transcendence .button .button--color-dark-red:hover, 
.transcendence .button .button.image-below.button--color-dark-red:hover .caption, 
.transcendence .button .button.image-above.button--color-dark-red:hover .caption, 
.transcendence .button .button-color-dark-red button.button--color-dark-red:hover {
    background-color: #6c1714 !important;
}

/* ORANGE */

.transcendence .button .button--color-orange, 
.transcendence .button .button.image-below.button--color-orange .caption, 
.transcendence .button .button.image-above.button--color-orange .caption, 
.transcendence .button .button--color-orange button.button--color-orange {
    background-color: #f0aa35 !important;
}

.transcendence .button .button--color-orange:hover, 
.transcendence .button .button.image-below.button--color-orange:hover .caption, 
.transcendence .button .button.image-above.button--color-orange:hover .caption, 
.transcendence .button .button-color-orange button.button--color-orange:hover {
    background-color: #a76b07 !important;
}

/* PURPLE */

.transcendence .button .button--color-purple, 
.transcendence .button .button.image-below.button--color-purple .caption, 
.transcendence .button .button.image-above.button--color-purple .caption, 
.transcendence .button .button--color-purple button.button--color-purple {
    background-color: #80588c !important;
}

.transcendence .button .button--color-purple:hover, 
.transcendence .button .button.image-below.button--color-purple:hover .caption, 
.transcendence .button .button.image-above.button--color-purple:hover .caption, 
.transcendence .button .button-color-purple button.button--color-purple:hover {
    background-color: #5e3b69 !important;
}

/* WHITE */

.transcendence .button .button--color-white, 
.transcendence .button .button.image-below.button--color-white .caption, 
.transcendence .button .button.image-above.button--color-white .caption, 
.transcendence .button .button--color-white button.button--color-white {
    background-color: #D8D8D8 !important;
}

.transcendence .button .button--color-white:hover, 
.transcendence .button .button.image-below.button--color-white:hover .caption, 
.transcendence .button .button.image-above.button--color-white:hover .caption, 
.transcendence .button .button-color-white button.button--color-white:hover {
    background-color: #9c9c9c !important;
}

/* BLUE */

.transcendence .button .button--color-blue, 
.transcendence .button .button.image-below.button--color-blue .caption, 
.transcendence .button .button.image-above.button--color-blue .caption, 
.transcendence .button .button--color-blue button.button--color-blue {
    background-color: #457db5 !important;
}

.transcendence .button .button--color-blue:hover, 
.transcendence .button .button.image-below.button--color-blue:hover .caption, 
.transcendence .button .button.image-above.button--color-blue:hover .caption, 
.transcendence .button .button-color-blue button.button--color-blue:hover {
    background-color: #415467 !important;
}

/* DARK BLUE */

.transcendence .button .button--color-dark-blue, 
.transcendence .button .button.image-below.button--color-dark-blue .caption, 
.transcendence .button .button.image-above.button--color-dark-blue .caption, 
.transcendence .button .button--color-dark-blue button.button--color-dark-blue {
    background-color: #457db5 !important;
}

.transcendence .button .button--color-dark-blue:hover, 
.transcendence .button .button.image-below.button--color-dark-blue:hover .caption, 
.transcendence .button .button.image-above.button--color-dark-blue:hover .caption, 
.transcendence .button .button-color-dark-blue button.button--color-dark-blue:hover {
    background-color: #314355 !important;
}

/* LIGHT BLUE */

.transcendence .button .button--color-light-blue, 
.transcendence .button .button.image-below.button--color-light-blue .caption, 
.transcendence .button .button.image-above.button--color-light-blue .caption, 
.transcendence .button .button--color-light-blue button.button--color-light-blue {
    background-color: #b5cfe7 !important;
}

.transcendence .button .button--color-light-blue:hover, 
.transcendence .button .button.image-below.button--color-light-blue:hover .caption, 
.transcendence .button .button.image-above.button--color-light-blue:hover .caption, 
.transcendence .button .button-color-light-blue button.button--color-light-blue:hover {
    background-color: #596877 !important;
}

/* GRAY */

.transcendence .button .button--color-gray, 
.transcendence .button .button.image-below.button--color-gray .caption, 
.transcendence .button .button.image-above.button--color-gray .caption, 
.transcendence .button .button--color-gray button.button--color-gray {
    background-color: #a4b4c8 !important;
}

.transcendence .button .button--color-gray:hover, 
.transcendence .button .button.image-below.button--color-gray:hover .caption, 
.transcendence .button .button.image-above.button--color-gray:hover .caption, 
.transcendence .button .button-color-gray button.button--color-gray:hover {
    background-color: #76889c !important;
}

/* LIGHT GRAY */

.transcendence .button .button--color-light-gray, 
.transcendence .button .button.image-below.button--color-light-gray .caption, 
.transcendence .button .button.image-above.button--color-light-gray .caption, 
.transcendence .button .button--color-light-gray button.button--color-light-gray {
    background-color: #e9e9e9 !important;
}

.transcendence .button .button--color-light-gray:hover, 
.transcendence .button .button.image-below.button--color-light-gray:hover .caption, 
.transcendence .button .button.image-above.button--color-light-gray:hover .caption, 
.transcendence .button .button-color-light-gray button.button--color-light-gray:hover {
    background-color: #686868 !important;
}

/* DARK GRAY */

.transcendence .button .button--color-dark-gray, 
.transcendence .button .button.image-below.button--color-dark-gray .caption, 
.transcendence .button .button.image-above.button--color-dark-gray .caption, 
.transcendence .button .button--color-dark-gray button.button--color-dark-gray {
    background-color: #4b4b4b !important;
}

.transcendence .button .button--color-dark-gray:hover, 
.transcendence .button .button.image-below.button--color-dark-gray:hover .caption, 
.transcendence .button .button.image-above.button--color-dark-gray:hover .caption, 
.transcendence .button .button-color-dark-gray button.button--color-dark-gray:hover {
    background-color: #363636 !important;
}

/* INDIGO */

.transcendence .button .button--color-indigo, 
.transcendence .button .button.image-below.button--color-indigo .caption, 
.transcendence .button .button.image-above.button--color-indigo .caption, 
.transcendence .button .button--color-indigo button.button--color-indigo {
    background-color: #655093 !important;
}

.transcendence .button .button--color-indigo:hover, 
.transcendence .button .button.image-below.button--color-indigo:hover .caption, 
.transcendence .button .button.image-above.button--color-indigo:hover .caption, 
.transcendence .button .button-color-indigo button.button--color-indigo:hover {
    background-color: #45346a !important;
}
