div#toolbar {
    display: none;
}

div.body.transcendence {
    background-color: #fff;
}

.transcendence .button>div:hover, .transcendence .button>div:active {
    background-color: #00B7C3;
    color: #fff;
}

.transcendence .button>div {
    border-radius: 3px;
    background-color: #008089;
    color: #fff;
}

.transcendence .input.input--with-caption {
    background-color: #00B7C3;
    padding: 0.5em 1em 1em 1em;
    border-radius: 3px;
}

.transcendence div.button {
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.35);
}

.transcendence div.button:active {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.35);
}

.transcendence .input .input__label {
    background-color: inherit;
    color: #fff;
    margin: 0 auto 8px;
    width: 100%;
    padding: 0;
}

.transcendence .input .input__holder {
    width: 100%;
    display: flex;
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    padding: 0;
    overflow: hidden;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.35);
}

.transcendence .input .input__textbox {
    border: inherit;
    padding: 5px 50px 5px 10px;
    width: 100%;
    margin: 0;
    outline: none;
    border: none;
}

.transcendence .input .input__erase {
    background-color: #505C6D;
    border: 1px solid #505C6D;
    color: #fff;
}

.transcendence .input .input__erase:hover {
    background: #7B8491;
    border: 1px solid #7B8491;
}

.transcendence .input .input__erase:active {
    transform: none;
    background-color: #7B8491;
    border: 1px solid #7B8491;
}

.transcendence .input .input__erase:active > i {
    transform: scale(0.93);
}

.view.login .loginpad {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    background-color: #fff;
    border-radius: 3px;
    padding: 1em;
    box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.45);
}

.transcendence .view.login .loginpad .buttongrid {
    padding: 0.5em;
}

.transcendence .button {
    touch-action: none;
    display: flex;
    flex: 1;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    margin-right: 0.5em;
    min-width: 0px;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 0px;
}

.transcendence .buttongrid .buttongrid__row {
    padding-bottom: 0.5em;
    display: flex;
    flex: 1;
    min-height: 1%;
}

.transcendence .captionbox {
    background-color: #fff;
    color: #212121;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.4);
}

.transcendence .captionbox .captionbox__datacaption--title {
    border-bottom: 1px solid #505C6D;
}

.transcendence .view.login .captionbox > :last-child.captionbox__datacaption {
    background-color: #505C6D;
}

.transcendence .grid .grid__table table tbody td {
    border-right: inherit;
}

.transcendence .grid {
    box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}

.transcendence .grid .grid__table.grid__table--body {
    border: inherit;
    border-top: none;
    flex-basis: 0px;
}

.transcendence .grid .grid__table table tbody tr.tr-highlight {
    background-color: #00B7C3;
    border-bottom: 1px solid #00B7C3;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
}

.transcendence .grid .grid__table table thead {
    background-color: #505C6D;
    color: #fff;
}

.transcendence .grid .grid__table table tbody td {
    border-right: none;
    padding: 0.5% 1%;
    color: #212121;
}

.transcendence .subtotal {
    background-color: #505C6D;
    color: #212121;
    margin: 0;
    padding: 5px;
}

.transcendence .grid .grid__table table tbody tr {
    border-bottom: 1px solid #ddd;
}

.transcendence .page.sale .input.input--with-caption {
    box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.4);
}


.transcendence .dialog-host .dialog__container .dialog__body {
    background-color: #3e3e3e;
}

.transcendence .dialog-host .dialog__container.dialog__container--message .dialog__body span, .transcendence .dialog-host .dialog__container.dialog__container--confirm .dialog__body span, .transcendence .dialog-host .dialog__container.dialog__container--error .dialog__body span {
    color: #212121;
}

.transcendence .dialog-host .dialog__container .dialog__titlebar {
    background-color: #2f2f2f;
    color: #212121;
    font-weight: 300;
    height: 60px;
    padding: 12px;
}

.transcendence .dialog-host .dialog__container {
    background-color: #2f2f2f;
    border-radius: 3px;
    overflow: hidden;
}

.transcendence .dialog-host .dialog__container .dialog__body>span {
    color: #212121;
}

.transcendence .dialog-host .dialog__container .dialog__buttons {
    background: #2f2f2f;
    height: 100px;
    align-items: center;
    padding: 0px 8px;
}

.transcendence .dialog-host .dialog__container .dialog__buttons .button {
    flex: 0 1 115px;
    height: 50px;
    margin-right: 1.25em;
}

.transcendence .dialog-host .button>div:hover, .transcendence .button>div:active {
    background-color: #5f5f5f;
    color: #e4e4e4;
}

.transcendence .dialog-host .button>div {
    border-radius: 3px;
    background-color: #4f4f4f;
    color: #e4e4e4;
}

.transcendence .dialog-host .dialog__buttons .button>div:hover, .transcendence .dialog-host .dialog__buttons .button>div:active {
    background-color: #4f4f4f;
    color: #e4e4e4;
}

.transcendence .dialog-host .dialog__buttons .button>div {
    border-radius: 3px;
    background-color: #404040;
    color: #e4e4e4;
}

.transcendence .dialog-host .button>div.button--disabled:hover, .transcendence .button>div.button--disabled:focus {
    background-color: #75D8E7 !important;
    color: #fff;
}

.transcendence .dialog-host .button>div.button--disabled {
    background-color: #75D8E7 !important;
    color: #fff;
    cursor: default !important;
}

.transcendence .overlay {
    background: rgba(24, 24, 24, 0.67);
}

.transcendence .input .input__textbox {
    color: #222;
    background-color: #fff;
}

.transcendence .input .input__textbox::selection {
    background-color: #434343;
    color: #212121;
}

.transcendence .dialog-host .input__notification {
    color: #212121;
}

.transcendence .button>div.button--disabled:hover, .transcendence .button>div.button--disabled:focus {
    background-color: #75D8E7 !important;
    color: rgb(187, 242, 250);
}

.transcendence .button>div.button--disabled {
    background-color: #75D8E7 !important;
    color: rgb(187, 242, 250);
    cursor: default !important;
}

.transcendence div.button.button--disabled {
    box-shadow: none;
    transform: none !important;
}

.statusbar {
    background: #343434;
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.25);
}

.transcendence .grid .grid__table table tbody td.loading {
    color: #888888;
}

.transcendence .loading span {
    background-color: #888888;
    color: #888888;
}

/* COLORED BUTTONS */

/* GREEN */

.transcendence .button .button--color-green, .transcendence .button .button.image-below.button--color-green .caption, .transcendence .button .button.image-above.button--color-green .caption, .transcendence .button .button--color-green button.button--color-green {
    background-color: #3E5340 !important;
}

.transcendence .button .button--color-green:hover, .transcendence .button .button.image-below.button--color-green:hover .caption, .transcendence .button .button.image-above.button--color-green:hover .caption, .transcendence .button .button-color-green button.button--color-green:hover {
    background-color: #4A664D !important;
}

/* YELLOW */

.transcendence .button .button--color-yellow, .transcendence .button .button.image-below.button--color-yellow .caption, .transcendence .button .button.image-above.button--color-yellow .caption, .transcendence .button .button--color-yellow button.button--color-yellow {
    background-color: #605C34 !important;
    color: #ededed;
}

.transcendence .button .button--color-yellow:hover, .transcendence .button .button.image-below.button--color-yellow:hover .caption, .transcendence .button .button.image-above.button--color-yellow:hover .caption, .transcendence .button .button-color-yellow button.button--color-yellow:hover {
    background-color: #77723C !important;
    color: #ededed;
}

/* RED */

.transcendence .button .button--color-red, .transcendence .button .button.image-below.button--color-red .caption, .transcendence .button .button.image-above.button--color-red .caption, .transcendence .button .button--color-red button.button--color-red {
    background-color: #5D3435 !important;
    color: #ededed;
}

.transcendence .button .button--color-red:hover, .transcendence .button .button.image-below.button--color-red:hover .caption, .transcendence .button .button.image-above.button--color-red:hover .caption, .transcendence .button .button-color-red button.button--color-red:hover {
    background-color: #733C3D !important;
    color: #ededed;
}

/* DARK RED */

.transcendence .button .button--color-dark-red, .transcendence .button .button.image-below.button--color-dark-red .caption, .transcendence .button .button.image-above.button--color-dark-red .caption, .transcendence .button .button--color-dark-red button.button--color-dark-red {
    background-color: #412423 !important;
}

.transcendence .button .button--color-dark-red:hover, .transcendence .button .button.image-below.button--color-dark-red:hover .caption, .transcendence .button .button.image-above.button--color-dark-red:hover .caption, .transcendence .button .button-color-dark-red button.button--color-dark-red:hover {
    background-color: #522C2A !important;
}

/* ORANGE */

.transcendence .button .button--color-orange, .transcendence .button .button.image-below.button--color-orange .caption, .transcendence .button .button.image-above.button--color-orange .caption, .transcendence .button .button--color-orange button.button--color-orange {
    background-color: #635134 !important;
    color: #ededed;
}

.transcendence .button .button--color-orange:hover, .transcendence .button .button.image-below.button--color-orange:hover .caption, .transcendence .button .button.image-above.button--color-orange:hover .caption, .transcendence .button .button-color-orange button.button--color-orange:hover {
    background-color: #7A633C !important;
    color: #ededed;
}

/* PURPLE */

.transcendence .button .button--color-purple, .transcendence .button .button.image-below.button--color-purple .caption, .transcendence .button .button.image-above.button--color-purple .caption, .transcendence .button .button--color-purple button.button--color-purple {
    background-color: #473D4A !important;
}

.transcendence .button .button--color-purple:hover, .transcendence .button .button.image-below.button--color-purple:hover .caption, .transcendence .button .button.image-above.button--color-purple:hover .caption, .transcendence .button .button-color-purple button.button--color-purple:hover {
    background-color: #554859 !important;
}

/* WHITE */

.transcendence .button .button--color-white, .transcendence .button .button.image-below.button--color-white .caption, .transcendence .button .button.image-above.button--color-white .caption, .transcendence .button .button--color-white button.button--color-white {
    background-color: #aaaaaa !important;
    color: #ffffff;
}

.transcendence .button .button--color-white:hover, .transcendence .button .button.image-below.button--color-white:hover .caption, .transcendence .button .button.image-above.button--color-white:hover .caption, .transcendence .button .button-color-white button.button--color-white:hover {
    background-color: #c2c2c2 !important;
    color: #ffffff;
}

/* BLUE */

.transcendence .button .button--color-blue, .transcendence .button .button.image-below.button--color-blue .caption, .transcendence .button .button.image-above.button--color-blue .caption, .transcendence .button .button--color-blue button.button--color-blue {
    background-color: #384654 !important;
}

.transcendence .button .button--color-blue:hover, .transcendence .button .button.image-below.button--color-blue:hover .caption, .transcendence .button .button.image-above.button--color-blue:hover .caption, .transcendence .button .button-color-blue button.button--color-blue:hover {
    background-color: #415467 !important;
}

/* DARK BLUE */

.transcendence .button .button--color-dark-blue, .transcendence .button .button.image-below.button--color-dark-blue .caption, .transcendence .button .button.image-above.button--color-dark-blue .caption, .transcendence .button .button--color-dark-blue button.button--color-dark-blue {
    background-color: #24323F !important;
}

.transcendence .button .button--color-dark-blue:hover, .transcendence .button .button.image-below.button--color-dark-blue:hover .caption, .transcendence .button .button.image-above.button--color-dark-blue:hover .caption, .transcendence .button .button-color-dark-blue button.button--color-dark-blue:hover {
    background-color: #314355 !important;
}

/* LIGHT BLUE */

.transcendence .button .button--color-light-blue, .transcendence .button .button.image-below.button--color-light-blue .caption, .transcendence .button .button.image-above.button--color-light-blue .caption, .transcendence .button .button--color-light-blue button.button--color-light-blue {
    background-color: #4A5560 !important;
}

.transcendence .button .button--color-light-blue:hover, .transcendence .button .button.image-below.button--color-light-blue:hover .caption, .transcendence .button .button.image-above.button--color-light-blue:hover .caption, .transcendence .button .button-color-light-blue button.button--color-light-blue:hover {
    background-color: #596877 !important;
}

/* GRAY */

.transcendence .button .button--color-gray, .transcendence .button .button.image-below.button--color-gray .caption, .transcendence .button .button.image-above.button--color-gray .caption, .transcendence .button .button--color-gray button.button--color-gray {
    background-color: #494949 !important;
}

.transcendence .button .button--color-gray:hover, .transcendence .button .button.image-below.button--color-gray:hover .caption, .transcendence .button .button.image-above.button--color-gray:hover .caption, .transcendence .button .button-color-gray button.button--color-gray:hover {
    background-color: #585858 !important;
}

.transcendence .dialog__body .button .button--color-gray, .transcendence .button .button.image-below.button--color-gray .caption, .transcendence .button .button.image-above.button--color-gray .caption, .transcendence .button .button--color-gray button.button--color-gray {
    background-color: #424242 !important;
}

.transcendence .dialog__body .button .button--color-gray:hover, .transcendence .button .button.image-below.button--color-gray:hover .caption, .transcendence .button .button.image-above.button--color-gray:hover .caption, .transcendence .button .button-color-gray button.button--color-gray:hover {
    background-color: #505050 !important;
}

/* LIGHT GRAY */

.transcendence .button .button--color-light-gray, .transcendence .button .button.image-below.button--color-light-gray .caption, .transcendence .button .button.image-above.button--color-light-gray .caption, .transcendence .button .button--color-light-gray button.button--color-light-gray {
    background-color: #555555 !important;
}

.transcendence .button .button--color-light-gray:hover, .transcendence .button .button.image-below.button--color-light-gray:hover .caption, .transcendence .button .button.image-above.button--color-light-gray:hover .caption, .transcendence .button .button-color-light-gray button.button--color-light-gray:hover {
    background-color: #686868 !important;
}

/* DARK GRAY */

.transcendence .button .button--color-dark-gray, .transcendence .button .button.image-below.button--color-dark-gray .caption, .transcendence .button .button.image-above.button--color-dark-gray .caption, .transcendence .button .button--color-dark-gray button.button--color-dark-gray {
    background-color: #2b2b2b !important;
}

.transcendence .button .button--color-dark-gray:hover, .transcendence .button .button.image-below.button--color-dark-gray:hover .caption, .transcendence .button .button.image-above.button--color-dark-gray:hover .caption, .transcendence .button .button-color-dark-gray button.button--color-dark-gray:hover {
    background-color: #363636 !important;
}

/* INDIGO */

.transcendence .button .button--color-indigo, .transcendence .button .button.image-below.button--color-indigo .caption, .transcendence .button .button.image-above.button--color-indigo .caption, .transcendence .button .button--color-indigo button.button--color-indigo {
    background-color: #3F3553 !important;
}

.transcendence .button .button--color-indigo:hover, .transcendence .button .button.image-below.button--color-indigo:hover .caption, .transcendence .button .button.image-above.button--color-indigo:hover .caption, .transcendence .button .button-color-indigo button.button--color-indigo:hover {
    background-color: #4B3E66 !important;
}
