.transcendence {
  .dialog-host .dialog__container {
    &.dialog__container--lookup {
      height: 75%;
      width: 65%;

      .dialog__body {
        flex: auto;
        display: flex;

        .lookup-content-outer {
          flex: auto;

          .lookup-content {
            height: 100%;
            overflow-y: auto;
          }
        }

        span {
          display: block;
          color: $colorText100;
        }

        .lookup-loading {
          display: flex;
          flex: 1 1 auto;
          height: 3em;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          span {
            color: #898989;
            display: inline;
          }

          .lookup-loading__icon {
            padding: 0.25em;
            color: #898989;
            animation: spin 4s linear infinite;
          }
        }

        .lookup-entry {
          margin: 0.5em;
          padding: 0.5em;
          transition: background-color 300ms ease-out;

          &.lookup-entry--selected {
            background-color: $colorPrimary300;

            &:hover {
              background-color: $colorPrimary200;
            }
          }

          &:hover {
            background-color: $colorPrimary300;
          }

          .lookup-entry-line {
            padding: 0.25em;
            display: flex;
            flex-flow: row;
            justify-content: space-between;

            &.lookup-entry-line--main {
              span {
                color: $colorText100;
              }
            }

            .lookup-entry-line-cell {
              &--align {
                &-left {
                  text-align: left;
                }
                &-center {
                  text-align: center;
                }
                &-right {
                  text-align: right;
                }
              }

              &--font-size {
                &-x-small {
                  font-size: 0.75em;
                }

                &-small {
                  font-size: 0.85em;
                }

                &-normal {
                  font-size: 1em;
                }

                &-medium {
                  font-size: 1.15em;
                }

                &-large {
                  font-size: 1.25em;
                }

                &-x-large {
                  font-size: 1.33em;
                }
              }
            }

            .lookup-entry-line-cell__caption {
              font-size: 0.67em;
              color: $colorText300;
            }

            span {
              color: $colorText100;
            }
          }
        }
      }
    }
  }
}
