.transcendence {
  .dialog-host .dialog__container {
    &.dialog__container--calendarplusgrid {
      width: 1000px;
      height: 650px;
      max-height: initial;
      min-height: auto;
      max-width: initial;
      min-width: auto;

      @include respond-between(xxs, sm) {
        width: 100%;
        height: 100%;
      }

      .dialog__body {
        display: flex;
        height: 100%;

        @include respond-between(xxs, sm) {
          height: calc(100% - 140px);
          flex-flow: column;
        }

        .datepicker-host {
          width: 35%;

          @include respond-between(xxs, sm) {
            width: 100%;
            margin-bottom: 20px;
          }
        }

        .grid {
          width: 65%;

          @include respond-between(xxs, sm) {
            width: 100%;
          }
        }
      }
    }
  }
}
