.transcendence {
  .dialog-host .dialog__container {
    &.dialog__container--numpad {
      min-width: auto;
      min-height: auto;
      max-height: initial;
      width: 510px;
      height: 710px;

      @include respond-between(xxs, sm) {
        height: 100%;
        width: 100%;
      }

      .dialog__body {
        flex-flow: column;
        display: flex;
        height: calc(100% - 140px);

        .button .button__caption {
          font-size: 1.8rem;
        }

        .input {
          margin: 0.7em 0;
        }
      }
    }
  }
}
