.transcendence {
  .dialog-host .dialog__container {
    &.dialog__container--timeout {
      .dialog__body {
        animation-name: right-to-left;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        background: linear-gradient(
          to left,
          $colorPrimary100 50%,
          $colorSecondary100 50%
        );
        background-size: 200% 100%;
      }

      .dialog__buttons .button {
        flex: 0.97 1 115px;
      }
    }
  }
}
