.transcendence {
  .dialog__container.dialog__container--configuration-table {
    color: $colorText100;
    min-width: 50%;

    .dialog__titlebar {
      min-height: auto;
    }

    .dialog__body {
      min-height: 45vh;
      padding: 0;

      span {
        color: $colorText100;
      }
    }

    .dialog__settings__body {
      height: 100%;
    }

    table {
      width: 100%;
      padding: 0 20px;
      border-spacing: inherit;

      thead {
        table {
          border: none;
        }
      }

      table {
        padding: 0;
        border: 1px solid $colorPrimary100;
        margin-bottom: 10px;

        td,
        th {
          padding: 5px 0 5px 10px;
        }
      }
    }

    tr {
      position: relative;

      &.has-second-level {
        table {
          background: $colorPrimary100;
          border-radius: $borderRadius;
          border: none;
          margin: 0;
          position: relative;

          &:hover {
            background: $colorPrimary200;
          }

          span {
            color: $colorText100;
          }
        }

        td {
          padding: 0;

          td {
            padding: 10px;
          }
        }

        &.is-active {
          table {
            margin: 0;
          }
        }
      }

      &.second-level {
        td {
          background: $colorSecondary100;

          span {
            color: $colorText100;
          }
        }

        table {
          border: 1px solid $colorPrimary100;
          margin: 10px;
          width: calc(100% - 20px);
        }

        + tr table {
          margin-top: 10px;
        }
      }
    }

    td,
    th {
      padding: 0;
      width: 25%;
    }

    .toggle-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      transform: rotate(0);
      text-align: right;

      &:before {
        position: absolute;
        top: 14px;
        right: 14px;
      }
    }

    thead {
      td {
        border: none;
        padding-top: 0;
      }
    }

    .switch {
      margin: 0;
      border: none;
    }

    .switch__label {
      justify-content: center;
    }

    .column-caption {
      text-align: center;

      span {
        &:first-child {
          display: block;
          padding-bottom: 5px;
        }

        &:before {
          font-size: 30px;
        }

        &.fa-mobile:before {
          font-size: 40px;
        }
      }
    }
  }
}
