.transcendence {
  .bar {
    width: 16vw;
    height: 4vw;
    background: #fff;
    border: 1.5vw solid#2D577F;
    border-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
