.dragonglass {
  .l-vertical,
  .l-horizontal {
    @extend %container;
  }

  .l-horizontal {
    .l-panel:first-child {
      padding: map-get($layout, panel-padding);
    }
  }

  .l-vertical {
    flex-flow: column nowrap;
  }

  .react-swipeable-view-container {
    height: 100%;
  }
}
