.transcendence {
  .restaurant__locations {
    display: flex;
    background: $colorSecondary100;
    justify-content: center;
    padding: 0.8em;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
  }

  .restaurant__location__selection__button {
    &.is-active {
      .button > div {
        background-color: $colorPrimary200;
        box-shadow: none;
      }
    }
  }
}
