.transcendence {
  .restaurant__location {
    height: 100%;
  }

  .restaurant__location__name {
    opacity: 0.4;
    color: $colorText100;
    font-size: 30px;
    position: absolute;
    bottom: 0;
  }
}
