.transcendence {
  .waiter-pads__pad {
    color: #fff;
    margin-left: 10px;
    padding: 10px 25px;
    transition: border-color 0.3s ease-in-out;
    cursor: pointer;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;

    &.is-active {
      background-color: $colorPrimary200 !important;
      box-shadow: none;
    }
  }
}
