{
  "openapi": "3.0.1",
  "info": {
    "title": "Navipartner API External POS Sale",
    "description": "These examples show how to use Navipartner External POS Sale API"
  },
  "servers": [
    {
      "url": "https://api.businesscentral.dynamics.com/v2.0/{environmentName}/api/navipartner/pos/v1.0/",
      "variables": {
        "environmentName": {
          "default": "REPLACE_ME",
          "description": "Environment name"
        }
      },
      "description": "Microsoft BC Cloud"
    },
    {
      "url": "https://{tenantId}.dynamics-retail.com:7069/BC/api/navipartner/pos/v1.0/",
      "variables": {
        "tenantId": {
          "default": "REPLACE_ME",
          "description": "Tenant ID"
        }
      },
      "description": "NaviPartner OnPrem"
    },
    {
      "url": "https://{containerName}.dynamics-retail.net:443/BC/api/navipartner/pos/v1.0/",
      "variables": {
        "containerName": {
          "default": "REPLACE_ME",
          "description": "Container Name"
        }
      },
      "description": "NaviPartner Crane Container"
    }   
  ],
  "security": [
    {
      "BasicAuth":[],
      "OAuth2":["https://api.businesscentral.dynamics.com/.default"]
    }
  ]
,
  "paths": {
    "/companies": {
      "get": {
        "tags": [
          "companies.company"
        ],
        "summary": "Get entities from companies",
        "operationId": "companies.company.ListCompany",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "systemVersion",
                  "systemVersion desc",
                  "name",
                  "name desc",
                  "displayName",
                  "displayName desc",
                  "businessProfileId",
                  "businessProfileId desc",
                  "systemCreatedAt",
                  "systemCreatedAt desc",
                  "systemCreatedBy",
                  "systemCreatedBy desc",
                  "systemModifiedAt",
                  "systemModifiedAt desc",
                  "systemModifiedBy",
                  "systemModifiedBy desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "systemVersion",
                  "name",
                  "displayName",
                  "businessProfileId",
                  "systemCreatedAt",
                  "systemCreatedBy",
                  "systemModifiedAt",
                  "systemModifiedBy",
                  "externalPosSaleLines",
                  "externalPosSales"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "externalPosSaleLines",
                  "externalPosSales"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of company",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Microsoft.NAV.company"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/companies({id})": {
      "get": {
        "tags": [
          "companies.company"
        ],
        "summary": "Get entity from companies by key",
        "operationId": "companies.company.GetCompany",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "systemVersion",
                  "name",
                  "displayName",
                  "businessProfileId",
                  "systemCreatedAt",
                  "systemCreatedBy",
                  "systemModifiedAt",
                  "systemModifiedBy",
                  "externalPosSaleLines",
                  "externalPosSales"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "externalPosSaleLines",
                  "externalPosSales"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.NAV.company"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/companies({id})/externalPosSaleLines": {
      "get": {
        "tags": [
          "companies.externalPosSaleLine"
        ],
        "summary": "Get externalPosSaleLines from companies",
        "operationId": "companies.ListExternalPosSaleLines",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "externalPOSSaleEntryNo",
                  "externalPOSSaleEntryNo desc",
                  "lineNo",
                  "lineNo desc",
                  "systemId",
                  "systemId desc",
                  "registerNo",
                  "registerNo desc",
                  "salesTicketNo",
                  "salesTicketNo desc",
                  "saleType",
                  "saleType desc",
                  "type",
                  "type desc",
                  "no",
                  "no desc",
                  "date",
                  "date desc",
                  "variantCode",
                  "variantCode desc",
                  "quantity",
                  "quantity desc",
                  "unitPrice",
                  "unitPrice desc",
                  "vatPercent",
                  "vatPercent desc",
                  "discountType",
                  "discountType desc",
                  "discountPercent",
                  "discountPercent desc",
                  "discountAmount",
                  "discountAmount desc",
                  "unitOfMeasureCode",
                  "unitOfMeasureCode desc",
                  "amount",
                  "amount desc",
                  "amountIncludingVAT",
                  "amountIncludingVAT desc",
                  "currencyCode",
                  "currencyCode desc",
                  "priceIncludesVAT",
                  "priceIncludesVAT desc",
                  "description",
                  "description desc",
                  "description2",
                  "description2 desc",
                  "customDescr",
                  "customDescr desc",
                  "itemCategoryCode",
                  "itemCategoryCode desc",
                  "locationCode",
                  "locationCode desc",
                  "serialNo",
                  "serialNo desc",
                  "currencyAmount",
                  "currencyAmount desc",
                  "accessory",
                  "accessory desc",
                  "mainItemNo",
                  "mainItemNo desc",
                  "mainLineNo",
                  "mainLineNo desc",
                  "combinationItem",
                  "combinationItem desc",
                  "combinationNo",
                  "combinationNo desc",
                  "vatBusPostingGroup",
                  "vatBusPostingGroup desc",
                  "vatProdPostingGroup",
                  "vatProdPostingGroup desc",
                  "vatBaseAmount",
                  "vatBaseAmount desc",
                  "genPostingType",
                  "genPostingType desc",
                  "genBusPostingGroup",
                  "genBusPostingGroup desc",
                  "genProdPostingGroup",
                  "genProdPostingGroup desc",
                  "postingGroup",
                  "postingGroup desc",
                  "cost",
                  "cost desc",
                  "customCost",
                  "customCost desc",
                  "quantityBase",
                  "quantityBase desc",
                  "qtyPerUnitOfMeasure",
                  "qtyPerUnitOfMeasure desc",
                  "reasonCode",
                  "reasonCode desc",
                  "returnSaleSalesTicketNo",
                  "returnSaleSalesTicketNo desc",
                  "returnReasonCode",
                  "returnReasonCode desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "externalPOSSaleEntryNo",
                  "lineNo",
                  "systemId",
                  "registerNo",
                  "salesTicketNo",
                  "saleType",
                  "type",
                  "no",
                  "date",
                  "variantCode",
                  "quantity",
                  "unitPrice",
                  "vatPercent",
                  "discountType",
                  "discountPercent",
                  "discountAmount",
                  "unitOfMeasureCode",
                  "amount",
                  "amountIncludingVAT",
                  "currencyCode",
                  "priceIncludesVAT",
                  "description",
                  "description2",
                  "customDescr",
                  "itemCategoryCode",
                  "locationCode",
                  "serialNo",
                  "currencyAmount",
                  "accessory",
                  "mainItemNo",
                  "mainLineNo",
                  "combinationItem",
                  "combinationNo",
                  "vatBusPostingGroup",
                  "vatProdPostingGroup",
                  "vatBaseAmount",
                  "genPostingType",
                  "genBusPostingGroup",
                  "genProdPostingGroup",
                  "postingGroup",
                  "cost",
                  "customCost",
                  "quantityBase",
                  "qtyPerUnitOfMeasure",
                  "reasonCode",
                  "returnSaleSalesTicketNo",
                  "returnReasonCode",
                  "externalPosSale"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "externalPosSale"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of externalPosSaleLine",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Microsoft.NAV.externalPosSaleLine"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "companies.externalPosSaleLine"
        ],
        "summary": "Create new navigation property to externalPosSaleLines for companies",
        "operationId": "companies.CreateExternalPosSaleLines",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          }
        ],
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.NAV.externalPosSaleLine"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.NAV.externalPosSaleLine"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/companies({id})/externalPosSaleLines(externalPOSSaleEntryNo={externalPOSSaleEntryNo},lineNo={lineNo})": {
      "get": {
        "tags": [
          "companies.externalPosSaleLine"
        ],
        "summary": "Get externalPosSaleLines from companies",
        "operationId": "companies.GetExternalPosSaleLines",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "externalPOSSaleEntryNo",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "externalPOSSaleEntryNo",
                  "lineNo",
                  "systemId",
                  "registerNo",
                  "salesTicketNo",
                  "saleType",
                  "type",
                  "no",
                  "date",
                  "variantCode",
                  "quantity",
                  "unitPrice",
                  "vatPercent",
                  "discountType",
                  "discountPercent",
                  "discountAmount",
                  "unitOfMeasureCode",
                  "amount",
                  "amountIncludingVAT",
                  "currencyCode",
                  "priceIncludesVAT",
                  "description",
                  "description2",
                  "customDescr",
                  "itemCategoryCode",
                  "locationCode",
                  "serialNo",
                  "currencyAmount",
                  "accessory",
                  "mainItemNo",
                  "mainLineNo",
                  "combinationItem",
                  "combinationNo",
                  "vatBusPostingGroup",
                  "vatProdPostingGroup",
                  "vatBaseAmount",
                  "genPostingType",
                  "genBusPostingGroup",
                  "genProdPostingGroup",
                  "postingGroup",
                  "cost",
                  "customCost",
                  "quantityBase",
                  "qtyPerUnitOfMeasure",
                  "reasonCode",
                  "returnSaleSalesTicketNo",
                  "returnReasonCode",
                  "externalPosSale"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "externalPosSale"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.NAV.externalPosSaleLine"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "companies.externalPosSaleLine"
        ],
        "summary": "Update the navigation property externalPosSaleLines in companies",
        "operationId": "companies.UpdateExternalPosSaleLines",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "externalPOSSaleEntryNo",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          }
        ],
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.NAV.externalPosSaleLine"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "companies.externalPosSaleLine"
        ],
        "summary": "Delete navigation property externalPosSaleLines for companies",
        "operationId": "companies.DeleteExternalPosSaleLines",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "externalPOSSaleEntryNo",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/companies({id})/externalPosSaleLines(externalPOSSaleEntryNo={externalPOSSaleEntryNo},lineNo={lineNo})/externalPosSale": {
      "get": {
        "tags": [
          "companies.externalPosSaleLines.externalPosSale"
        ],
        "summary": "Get externalPosSale from companies",
        "operationId": "companies.externalPosSaleLines.GetExternalPosSale",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "externalPOSSaleEntryNo",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "entryNo",
                  "startTime",
                  "date",
                  "registerNo",
                  "salesTicketNo",
                  "salespersonCode",
                  "posStoreCode",
                  "customerNo",
                  "pricesIncludingVAT",
                  "eventNo",
                  "externalDocumentNo",
                  "reference",
                  "convertedToPOSEntry",
                  "posEntrySystemId",
                  "externalPosSaleLines"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "externalPosSaleLines"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.NAV.externalPosSale"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "companies.externalPosSaleLines.externalPosSale"
        ],
        "summary": "Update the navigation property externalPosSale in companies",
        "operationId": "companies.externalPosSaleLines.UpdateExternalPosSale",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "externalPOSSaleEntryNo",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          }
        ],
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.NAV.externalPosSale"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "companies.externalPosSaleLines.externalPosSale"
        ],
        "summary": "Delete navigation property externalPosSale for companies",
        "operationId": "companies.externalPosSaleLines.DeleteExternalPosSale",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "externalPOSSaleEntryNo",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "x-ms-docs-grouped-path": [
        "/companies({id})/externalPosSales({id1})/externalPosSaleLines(externalPOSSaleEntryNo={externalPOSSaleEntryNo},lineNo={lineNo})/externalPosSale"
      ]
    },
    "/companies({id})/externalPosSaleLines(externalPOSSaleEntryNo={externalPOSSaleEntryNo},lineNo={lineNo})/externalPosSale/externalPosSaleLines": {
      "get": {
        "tags": [
          "companies.externalPosSaleLines.externalPosSale.externalPosSaleLine"
        ],
        "summary": "Get externalPosSaleLines from companies",
        "operationId": "companies.externalPosSaleLines.externalPosSale.ListExternalPosSaleLines",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "externalPOSSaleEntryNo",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "externalPOSSaleEntryNo",
                  "externalPOSSaleEntryNo desc",
                  "lineNo",
                  "lineNo desc",
                  "systemId",
                  "systemId desc",
                  "registerNo",
                  "registerNo desc",
                  "salesTicketNo",
                  "salesTicketNo desc",
                  "saleType",
                  "saleType desc",
                  "type",
                  "type desc",
                  "no",
                  "no desc",
                  "date",
                  "date desc",
                  "variantCode",
                  "variantCode desc",
                  "quantity",
                  "quantity desc",
                  "unitPrice",
                  "unitPrice desc",
                  "vatPercent",
                  "vatPercent desc",
                  "discountType",
                  "discountType desc",
                  "discountPercent",
                  "discountPercent desc",
                  "discountAmount",
                  "discountAmount desc",
                  "unitOfMeasureCode",
                  "unitOfMeasureCode desc",
                  "amount",
                  "amount desc",
                  "amountIncludingVAT",
                  "amountIncludingVAT desc",
                  "currencyCode",
                  "currencyCode desc",
                  "priceIncludesVAT",
                  "priceIncludesVAT desc",
                  "description",
                  "description desc",
                  "description2",
                  "description2 desc",
                  "customDescr",
                  "customDescr desc",
                  "itemCategoryCode",
                  "itemCategoryCode desc",
                  "locationCode",
                  "locationCode desc",
                  "serialNo",
                  "serialNo desc",
                  "currencyAmount",
                  "currencyAmount desc",
                  "accessory",
                  "accessory desc",
                  "mainItemNo",
                  "mainItemNo desc",
                  "mainLineNo",
                  "mainLineNo desc",
                  "combinationItem",
                  "combinationItem desc",
                  "combinationNo",
                  "combinationNo desc",
                  "vatBusPostingGroup",
                  "vatBusPostingGroup desc",
                  "vatProdPostingGroup",
                  "vatProdPostingGroup desc",
                  "vatBaseAmount",
                  "vatBaseAmount desc",
                  "genPostingType",
                  "genPostingType desc",
                  "genBusPostingGroup",
                  "genBusPostingGroup desc",
                  "genProdPostingGroup",
                  "genProdPostingGroup desc",
                  "postingGroup",
                  "postingGroup desc",
                  "cost",
                  "cost desc",
                  "customCost",
                  "customCost desc",
                  "quantityBase",
                  "quantityBase desc",
                  "qtyPerUnitOfMeasure",
                  "qtyPerUnitOfMeasure desc",
                  "reasonCode",
                  "reasonCode desc",
                  "returnSaleSalesTicketNo",
                  "returnSaleSalesTicketNo desc",
                  "returnReasonCode",
                  "returnReasonCode desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "externalPOSSaleEntryNo",
                  "lineNo",
                  "systemId",
                  "registerNo",
                  "salesTicketNo",
                  "saleType",
                  "type",
                  "no",
                  "date",
                  "variantCode",
                  "quantity",
                  "unitPrice",
                  "vatPercent",
                  "discountType",
                  "discountPercent",
                  "discountAmount",
                  "unitOfMeasureCode",
                  "amount",
                  "amountIncludingVAT",
                  "currencyCode",
                  "priceIncludesVAT",
                  "description",
                  "description2",
                  "customDescr",
                  "itemCategoryCode",
                  "locationCode",
                  "serialNo",
                  "currencyAmount",
                  "accessory",
                  "mainItemNo",
                  "mainLineNo",
                  "combinationItem",
                  "combinationNo",
                  "vatBusPostingGroup",
                  "vatProdPostingGroup",
                  "vatBaseAmount",
                  "genPostingType",
                  "genBusPostingGroup",
                  "genProdPostingGroup",
                  "postingGroup",
                  "cost",
                  "customCost",
                  "quantityBase",
                  "qtyPerUnitOfMeasure",
                  "reasonCode",
                  "returnSaleSalesTicketNo",
                  "returnReasonCode",
                  "externalPosSale"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "externalPosSale"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of externalPosSaleLine",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Microsoft.NAV.externalPosSaleLine"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "companies.externalPosSaleLines.externalPosSale.externalPosSaleLine"
        ],
        "summary": "Create new navigation property to externalPosSaleLines for companies",
        "operationId": "companies.externalPosSaleLines.externalPosSale.CreateExternalPosSaleLines",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "externalPOSSaleEntryNo",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          }
        ],
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.NAV.externalPosSaleLine"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.NAV.externalPosSaleLine"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "x-ms-docs-grouped-path": [
        "/companies({id})/externalPosSales({id1})/externalPosSaleLines"
      ]
    },
    "/companies({id})/externalPosSaleLines(externalPOSSaleEntryNo={externalPOSSaleEntryNo},lineNo={lineNo})/externalPosSale/externalPosSaleLines(externalPOSSaleEntryNo={externalPOSSaleEntryNo1},lineNo={lineNo1})": {
      "get": {
        "tags": [
          "companies.externalPosSaleLines.externalPosSale.externalPosSaleLine"
        ],
        "summary": "Get externalPosSaleLines from companies",
        "operationId": "companies.externalPosSaleLines.externalPosSale.GetExternalPosSaleLines",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "externalPOSSaleEntryNo",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "externalPOSSaleEntryNo1",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo1",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "externalPOSSaleEntryNo",
                  "lineNo",
                  "systemId",
                  "registerNo",
                  "salesTicketNo",
                  "saleType",
                  "type",
                  "no",
                  "date",
                  "variantCode",
                  "quantity",
                  "unitPrice",
                  "vatPercent",
                  "discountType",
                  "discountPercent",
                  "discountAmount",
                  "unitOfMeasureCode",
                  "amount",
                  "amountIncludingVAT",
                  "currencyCode",
                  "priceIncludesVAT",
                  "description",
                  "description2",
                  "customDescr",
                  "itemCategoryCode",
                  "locationCode",
                  "serialNo",
                  "currencyAmount",
                  "accessory",
                  "mainItemNo",
                  "mainLineNo",
                  "combinationItem",
                  "combinationNo",
                  "vatBusPostingGroup",
                  "vatProdPostingGroup",
                  "vatBaseAmount",
                  "genPostingType",
                  "genBusPostingGroup",
                  "genProdPostingGroup",
                  "postingGroup",
                  "cost",
                  "customCost",
                  "quantityBase",
                  "qtyPerUnitOfMeasure",
                  "reasonCode",
                  "returnSaleSalesTicketNo",
                  "returnReasonCode",
                  "externalPosSale"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "externalPosSale"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.NAV.externalPosSaleLine"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "companies.externalPosSaleLines.externalPosSale.externalPosSaleLine"
        ],
        "summary": "Update the navigation property externalPosSaleLines in companies",
        "operationId": "companies.externalPosSaleLines.externalPosSale.UpdateExternalPosSaleLines",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "externalPOSSaleEntryNo",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "externalPOSSaleEntryNo1",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo1",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          }
        ],
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.NAV.externalPosSaleLine"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "companies.externalPosSaleLines.externalPosSale.externalPosSaleLine"
        ],
        "summary": "Delete navigation property externalPosSaleLines for companies",
        "operationId": "companies.externalPosSaleLines.externalPosSale.DeleteExternalPosSaleLines",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "externalPOSSaleEntryNo",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "externalPOSSaleEntryNo1",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo1",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "x-ms-docs-grouped-path": [
        "/companies({id})/externalPosSales({id1})/externalPosSaleLines(externalPOSSaleEntryNo={externalPOSSaleEntryNo},lineNo={lineNo})"
      ]
    },
    "/companies({id})/externalPosSales": {
      "get": {
        "tags": [
          "companies.externalPosSale"
        ],
        "summary": "Get externalPosSales from companies",
        "operationId": "companies.ListExternalPosSales",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "entryNo",
                  "entryNo desc",
                  "startTime",
                  "startTime desc",
                  "date",
                  "date desc",
                  "registerNo",
                  "registerNo desc",
                  "salesTicketNo",
                  "salesTicketNo desc",
                  "salespersonCode",
                  "salespersonCode desc",
                  "posStoreCode",
                  "posStoreCode desc",
                  "customerNo",
                  "customerNo desc",
                  "pricesIncludingVAT",
                  "pricesIncludingVAT desc",
                  "eventNo",
                  "eventNo desc",
                  "externalDocumentNo",
                  "externalDocumentNo desc",
                  "reference",
                  "reference desc",
                  "convertedToPOSEntry",
                  "convertedToPOSEntry desc",
                  "posEntrySystemId",
                  "posEntrySystemId desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "entryNo",
                  "startTime",
                  "date",
                  "registerNo",
                  "salesTicketNo",
                  "salespersonCode",
                  "posStoreCode",
                  "customerNo",
                  "pricesIncludingVAT",
                  "eventNo",
                  "externalDocumentNo",
                  "reference",
                  "convertedToPOSEntry",
                  "posEntrySystemId",
                  "externalPosSaleLines"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "externalPosSaleLines"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of externalPosSale",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Microsoft.NAV.externalPosSale"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "companies.externalPosSale"
        ],
        "summary": "Create new navigation property to externalPosSales for companies",
        "operationId": "companies.CreateExternalPosSales",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          }
        ],
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.NAV.externalPosSale"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.NAV.externalPosSale"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/companies({id})/externalPosSales({id1})": {
      "get": {
        "tags": [
          "companies.externalPosSale"
        ],
        "summary": "Get externalPosSales from companies",
        "operationId": "companies.GetExternalPosSales",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "id1",
            "in": "path",
            "description": "key: id of externalPosSale",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "externalPosSale"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "entryNo",
                  "startTime",
                  "date",
                  "registerNo",
                  "salesTicketNo",
                  "salespersonCode",
                  "posStoreCode",
                  "customerNo",
                  "pricesIncludingVAT",
                  "eventNo",
                  "externalDocumentNo",
                  "reference",
                  "convertedToPOSEntry",
                  "posEntrySystemId",
                  "externalPosSaleLines"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "externalPosSaleLines"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.NAV.externalPosSale"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "companies.externalPosSale"
        ],
        "summary": "Update the navigation property externalPosSales in companies",
        "operationId": "companies.UpdateExternalPosSales",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "id1",
            "in": "path",
            "description": "key: id of externalPosSale",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "externalPosSale"
          }
        ],
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.NAV.externalPosSale"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "companies.externalPosSale"
        ],
        "summary": "Delete navigation property externalPosSales for companies",
        "operationId": "companies.DeleteExternalPosSales",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "id1",
            "in": "path",
            "description": "key: id of externalPosSale",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "externalPosSale"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/companies({id})/externalPosSales({id1})/externalPosSaleLines": {
      "get": {
        "tags": [
          "companies.externalPosSales.externalPosSaleLine"
        ],
        "summary": "Get externalPosSaleLines from companies",
        "operationId": "companies.externalPosSales.ListExternalPosSaleLines",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "id1",
            "in": "path",
            "description": "key: id of externalPosSale",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "externalPosSale"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "externalPOSSaleEntryNo",
                  "externalPOSSaleEntryNo desc",
                  "lineNo",
                  "lineNo desc",
                  "systemId",
                  "systemId desc",
                  "registerNo",
                  "registerNo desc",
                  "salesTicketNo",
                  "salesTicketNo desc",
                  "saleType",
                  "saleType desc",
                  "type",
                  "type desc",
                  "no",
                  "no desc",
                  "date",
                  "date desc",
                  "variantCode",
                  "variantCode desc",
                  "quantity",
                  "quantity desc",
                  "unitPrice",
                  "unitPrice desc",
                  "vatPercent",
                  "vatPercent desc",
                  "discountType",
                  "discountType desc",
                  "discountPercent",
                  "discountPercent desc",
                  "discountAmount",
                  "discountAmount desc",
                  "unitOfMeasureCode",
                  "unitOfMeasureCode desc",
                  "amount",
                  "amount desc",
                  "amountIncludingVAT",
                  "amountIncludingVAT desc",
                  "currencyCode",
                  "currencyCode desc",
                  "priceIncludesVAT",
                  "priceIncludesVAT desc",
                  "description",
                  "description desc",
                  "description2",
                  "description2 desc",
                  "customDescr",
                  "customDescr desc",
                  "itemCategoryCode",
                  "itemCategoryCode desc",
                  "locationCode",
                  "locationCode desc",
                  "serialNo",
                  "serialNo desc",
                  "currencyAmount",
                  "currencyAmount desc",
                  "accessory",
                  "accessory desc",
                  "mainItemNo",
                  "mainItemNo desc",
                  "mainLineNo",
                  "mainLineNo desc",
                  "combinationItem",
                  "combinationItem desc",
                  "combinationNo",
                  "combinationNo desc",
                  "vatBusPostingGroup",
                  "vatBusPostingGroup desc",
                  "vatProdPostingGroup",
                  "vatProdPostingGroup desc",
                  "vatBaseAmount",
                  "vatBaseAmount desc",
                  "genPostingType",
                  "genPostingType desc",
                  "genBusPostingGroup",
                  "genBusPostingGroup desc",
                  "genProdPostingGroup",
                  "genProdPostingGroup desc",
                  "postingGroup",
                  "postingGroup desc",
                  "cost",
                  "cost desc",
                  "customCost",
                  "customCost desc",
                  "quantityBase",
                  "quantityBase desc",
                  "qtyPerUnitOfMeasure",
                  "qtyPerUnitOfMeasure desc",
                  "reasonCode",
                  "reasonCode desc",
                  "returnSaleSalesTicketNo",
                  "returnSaleSalesTicketNo desc",
                  "returnReasonCode",
                  "returnReasonCode desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "externalPOSSaleEntryNo",
                  "lineNo",
                  "systemId",
                  "registerNo",
                  "salesTicketNo",
                  "saleType",
                  "type",
                  "no",
                  "date",
                  "variantCode",
                  "quantity",
                  "unitPrice",
                  "vatPercent",
                  "discountType",
                  "discountPercent",
                  "discountAmount",
                  "unitOfMeasureCode",
                  "amount",
                  "amountIncludingVAT",
                  "currencyCode",
                  "priceIncludesVAT",
                  "description",
                  "description2",
                  "customDescr",
                  "itemCategoryCode",
                  "locationCode",
                  "serialNo",
                  "currencyAmount",
                  "accessory",
                  "mainItemNo",
                  "mainLineNo",
                  "combinationItem",
                  "combinationNo",
                  "vatBusPostingGroup",
                  "vatProdPostingGroup",
                  "vatBaseAmount",
                  "genPostingType",
                  "genBusPostingGroup",
                  "genProdPostingGroup",
                  "postingGroup",
                  "cost",
                  "customCost",
                  "quantityBase",
                  "qtyPerUnitOfMeasure",
                  "reasonCode",
                  "returnSaleSalesTicketNo",
                  "returnReasonCode",
                  "externalPosSale"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "externalPosSale"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of externalPosSaleLine",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Microsoft.NAV.externalPosSaleLine"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "companies.externalPosSales.externalPosSaleLine"
        ],
        "summary": "Create new navigation property to externalPosSaleLines for companies",
        "operationId": "companies.externalPosSales.CreateExternalPosSaleLines",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "id1",
            "in": "path",
            "description": "key: id of externalPosSale",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "externalPosSale"
          }
        ],
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.NAV.externalPosSaleLine"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.NAV.externalPosSaleLine"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "x-ms-docs-grouped-path": [
        "/companies({id})/externalPosSaleLines(externalPOSSaleEntryNo={externalPOSSaleEntryNo},lineNo={lineNo})/externalPosSale/externalPosSaleLines"
      ]
    },
    "/companies({id})/externalPosSales({id1})/externalPosSaleLines(externalPOSSaleEntryNo={externalPOSSaleEntryNo},lineNo={lineNo})": {
      "get": {
        "tags": [
          "companies.externalPosSales.externalPosSaleLine"
        ],
        "summary": "Get externalPosSaleLines from companies",
        "operationId": "companies.externalPosSales.GetExternalPosSaleLines",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "id1",
            "in": "path",
            "description": "key: id of externalPosSale",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "externalPosSale"
          },
          {
            "name": "externalPOSSaleEntryNo",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "externalPOSSaleEntryNo",
                  "lineNo",
                  "systemId",
                  "registerNo",
                  "salesTicketNo",
                  "saleType",
                  "type",
                  "no",
                  "date",
                  "variantCode",
                  "quantity",
                  "unitPrice",
                  "vatPercent",
                  "discountType",
                  "discountPercent",
                  "discountAmount",
                  "unitOfMeasureCode",
                  "amount",
                  "amountIncludingVAT",
                  "currencyCode",
                  "priceIncludesVAT",
                  "description",
                  "description2",
                  "customDescr",
                  "itemCategoryCode",
                  "locationCode",
                  "serialNo",
                  "currencyAmount",
                  "accessory",
                  "mainItemNo",
                  "mainLineNo",
                  "combinationItem",
                  "combinationNo",
                  "vatBusPostingGroup",
                  "vatProdPostingGroup",
                  "vatBaseAmount",
                  "genPostingType",
                  "genBusPostingGroup",
                  "genProdPostingGroup",
                  "postingGroup",
                  "cost",
                  "customCost",
                  "quantityBase",
                  "qtyPerUnitOfMeasure",
                  "reasonCode",
                  "returnSaleSalesTicketNo",
                  "returnReasonCode",
                  "externalPosSale"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "externalPosSale"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.NAV.externalPosSaleLine"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "companies.externalPosSales.externalPosSaleLine"
        ],
        "summary": "Update the navigation property externalPosSaleLines in companies",
        "operationId": "companies.externalPosSales.UpdateExternalPosSaleLines",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "id1",
            "in": "path",
            "description": "key: id of externalPosSale",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "externalPosSale"
          },
          {
            "name": "externalPOSSaleEntryNo",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          }
        ],
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.NAV.externalPosSaleLine"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "companies.externalPosSales.externalPosSaleLine"
        ],
        "summary": "Delete navigation property externalPosSaleLines for companies",
        "operationId": "companies.externalPosSales.DeleteExternalPosSaleLines",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "id1",
            "in": "path",
            "description": "key: id of externalPosSale",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "externalPosSale"
          },
          {
            "name": "externalPOSSaleEntryNo",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "x-ms-docs-grouped-path": [
        "/companies({id})/externalPosSaleLines(externalPOSSaleEntryNo={externalPOSSaleEntryNo},lineNo={lineNo})/externalPosSale/externalPosSaleLines(externalPOSSaleEntryNo={externalPOSSaleEntryNo1},lineNo={lineNo1})"
      ]
    },
    "/companies({id})/externalPosSales({id1})/externalPosSaleLines(externalPOSSaleEntryNo={externalPOSSaleEntryNo},lineNo={lineNo})/externalPosSale": {
      "get": {
        "tags": [
          "companies.externalPosSales.externalPosSaleLines.externalPosSale"
        ],
        "summary": "Get externalPosSale from companies",
        "operationId": "companies.externalPosSales.externalPosSaleLines.GetExternalPosSale",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "id1",
            "in": "path",
            "description": "key: id of externalPosSale",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "externalPosSale"
          },
          {
            "name": "externalPOSSaleEntryNo",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "entryNo",
                  "startTime",
                  "date",
                  "registerNo",
                  "salesTicketNo",
                  "salespersonCode",
                  "posStoreCode",
                  "customerNo",
                  "pricesIncludingVAT",
                  "eventNo",
                  "externalDocumentNo",
                  "reference",
                  "convertedToPOSEntry",
                  "posEntrySystemId",
                  "externalPosSaleLines"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "externalPosSaleLines"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.NAV.externalPosSale"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "companies.externalPosSales.externalPosSaleLines.externalPosSale"
        ],
        "summary": "Update the navigation property externalPosSale in companies",
        "operationId": "companies.externalPosSales.externalPosSaleLines.UpdateExternalPosSale",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "id1",
            "in": "path",
            "description": "key: id of externalPosSale",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "externalPosSale"
          },
          {
            "name": "externalPOSSaleEntryNo",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          }
        ],
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.NAV.externalPosSale"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "companies.externalPosSales.externalPosSaleLines.externalPosSale"
        ],
        "summary": "Delete navigation property externalPosSale for companies",
        "operationId": "companies.externalPosSales.externalPosSaleLines.DeleteExternalPosSale",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id of company",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "company"
          },
          {
            "name": "id1",
            "in": "path",
            "description": "key: id of externalPosSale",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "format": "uuid"
            },
            "x-ms-docs-key-type": "externalPosSale"
          },
          {
            "name": "externalPOSSaleEntryNo",
            "in": "path",
            "description": "key: externalPOSSaleEntryNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
              "type": "integer",
              "format": "int32"
            },
            "x-ms-docs-key-type": "externalPosSaleLine"
          },
          {
            "name": "lineNo",
            "in": "path",
            "description": "key: lineNo of externalPosSaleLine",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": -2147483648,
[...]
