.dragonglass {
  .c-infobox {
    height: map-get($infobox, height);
    border-radius: map-get($infobox, border-radius);
    padding: map-get($infobox, padding);
    background: map-get($infobox, background);
  }

  .c-infobox__customer-total {
    height: map-get($customer-total, height);
  }

  .c-button-menu--infobox {
    height: map-get($infobox-button-menu, height);
  }

  .c-infobox__customer {
    width: map-get($customer, width);
  }

  .c-infobox__customer__details {
    line-height: map-get($customer-details, line-height);
    font-size: map-get($customer-details, font-size);
    padding: map-get($customer-details, padding);
    height: map-get($customer-details, height);
  }
}
