#toolbar {
    flex: 0 0 40px;
    background-color: rgb(64, 64, 64);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

#toolbar > button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 4px;
    height: 30px;
    font-size: 9pt;
}

/* we need this because there is no toolbar on production */
.body.dragonglass,
.body.transcendence {
    height: calc(100vh - 40px) !important;
}

#toolbar ~ #controlAddIn .dialog-host {
    height: calc(100vh - 40px);
}

@media (min-width: 320px) and (max-width: 768px) {
    .body.dragonglass,
    .body.transcendence {
        height: 100vh !important;
    }

    #toolbar {
        display: none;
    }

    #toolbar ~ #controlAddIn .dialog-host {
        height: 100vh;
    }
}