.dragonglass {
  .c-grid {
    @extend %container;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .c-grid__row {
    @extend %container;
  }

  .c-grid__cell {
    display: flex;
    min-width: 0;
    padding-top: 5px;
  }

  .c-grid__no-lines {
    animation: bounceInOut 10.6s cubic-bezier(0.5, 0.25, 0.5, 1) both infinite;
    text-align: center;
  }

  .c-grid__content {
    padding-bottom: 10px;
    width: 100%;

    &:last-child {
      float: right;
      text-align: right;
    }
  }

  .c-grid__caption,
  .c-grid__value {
    display: block;
    overflow: hidden;
    padding-bottom: 5px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media only screen and (min-width: 1600px) {
      display: inline-block;
      text-align: left;
      padding-bottom: 0;
    }
  }

  .c-grid__caption {
    font-size: 11px;

    @media only screen and (min-width: 1600px) {
      padding-right: 20px;
    }
  }

  .c-grid__caption--name {
    background: #f2f2f2;
    border-radius: map-get($button, radius) map-get($button, radius) 0 0;
    font-size: 18px;
    line-height: 26px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-out;
    width: 100%;
    z-index: 5;

    span {
      float: left;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 80%;
    }

    .icon {
      color: #fff;
      display: none;
      float: right;
      font-size: 24px;
      margin-left: 15px;
    }
  }

  .c-grid--data {
    height: 50%;
    padding-bottom: 15px;
    padding-top: 10px;
  }

  //Grid
  .c-grid--infobox {
    font-size: 12px;
    line-height: 20px;
    padding-left: 20px;
    text-align: right;
    width: 40%;

    @media only screen and (min-width: 1280px) {
      font-size: 15px;
    }
  }

  .c-grid__row--infobox {
    justify-content: flex-start;
  }

  .c-grid__cell--infobox {
    flex: 0;
    padding-top: 0;

    &:first-child {
      margin-bottom: 10px;

      @media screen and (min-height: 768px) {
        margin-bottom: 20px;
      }
    }
  }

  .c-grid__caption--infobox {
    float: left;
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    padding: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;

    @media only screen and (min-width: 1280px) {
      font-size: 15px;
    }
  }

  .c-grid__value--infobox {
    display: inline-block;
    padding: 0;
    text-align: right;
    width: 50%;
  }

  .c-grid__row--data-item {
    cursor: pointer;
    animation: slide-up 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 4px;
    box-shadow: 4px 3px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 10px 15px 20px;
    overflow: hidden;
    user-select: none;
    width: calc(100% - 30px);
    background: #f2f2f2;

    &.is-active {
      .c-grid__caption--name {
        background: $primary-color;
        color: $primary-text;

        .icon {
          display: block;
        }
      }

      .c-grid__cell--edit {
        transform: translateY(0) !important;
        margin: 0;
      }
    }
  }

  //todo: clean up this ->>
  .c-grid__row--data-item {
    .c-grid__cell--data-item-info {
      transition-property: all;
      transition-duration: 0.6s;
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
  // <<-

  .c-grid__cell--data-item-info {
    align-items: center;
    background: #f2f2f2;
    border-radius: 0 0 map-get($button, radius) map-get($button, radius);
    font-size: 1.6rem;
    height: 55px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    z-index: 1;
  }

  .c-grid__cell--edit {
    transform: translateY(-200px);
    background: #0085dc;
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 0;
  }

  .c-grid__cell--data-item-name {
    padding: 0;
  }

  .c-grid__cell--edit {
    transition-duration: 0.3s;
    margin-top: -55px;
  }

  .c-grid__content--edit {
    border-right: 1px solid #46a9ea;
    padding: 10px;
    text-align: center;

    &:last-child {
      border: none;
    }
  }

  .c-grid__caption--edit,
  .c-grid__value--edit {
    display: block;
    padding: 0;

    @media only screen and (min-width: 1600px) {
      text-align: center;
    }
  }
}
