.mobile-view {
  .alert {
    background-color: $colorSecondary100;
    margin: 0.5em 0.75em;
    border-radius: $borderRadius;
    font-size: 1.4em;
    box-shadow: $boxShadow;

    &__title {
      padding: 0.75em 1em;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      border-radius: $borderRadius $borderRadius 0 0;
      color: $colorText200;

      &-text {
        padding-left: 0.75em;
      }

      &-icon {
        font-size: 1.6em;
      }

      &--danger {
        background-color: #ef4f4fac;
      }

      &--warning {
        background-color: #ffc579ab;
      }

      &--info {
        background-color: #9af586b0;
      }
    }

    &__message {
      padding: 1em 1em 0.5em 1em;

      section {
        margin-bottom: 0.75em;
      }
    }
  }
}
