.mobile-view {
  .drawer {
    height: 100%;
    width: 75%;
    position: absolute;
    z-index: 30;
    font-size: 1.75rem;

    &__background {
      position: absolute;
      top: 0;
      left: -30%;
      bottom: 0;
      width: 180%;
      z-index: -1;
      background-color: $colorPrimaryMobile100;
    }

    &__items {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-top: 3em;
      overflow-y: scroll;

      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__item {
      display: flex;
      padding: 1em 1em 1em 2em;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      position: relative;

      &:last-child {
        border-bottom: none;
      }
    }

    &__icon {
      width: 1em;
      margin-right: 0.75em;
      color: #fff;
    }

    &__caption {
      padding-left: 0.75em;
      border-left: 2px dotted rgba(255, 255, 255, 0.3);
      color: #fff;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .logo-container {
      width: 100%;
      margin-bottom: 3em;
      display: flex;
      justify-content: center;

      &__image {
        width: 60%;
      }
    }
  }
}
