.mobile-view {
  .login {
    margin: auto 0;

    .password-input {
      font-size: 1.7em;
      text-align: center;
      color: $colorText100;

      &__caption {
        margin-bottom: 1em;
        position: relative;
        top: 2em;
      }

      &__password {
        height: 2.75em;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;

        .dot {
          font-size: 0.8em;
          color: $colorText100;
          position: relative;
        }
      }
    }

    .numpad {
      display: grid;
      grid-gap: 0.5em;
      justify-content: center;
      justify-items: center;
      padding: 0.5em;
      grid-template-columns: repeat(3, auto);
    }
  }
}
