.numpad-button {
  position: relative;

  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: $colorSecondary100;
  color: $colorText100;
  overflow: hidden;

  box-shadow: $boxShadow;

  &--transparent {
    background: transparent;
  }
}
