.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.2em);
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $colorText100;

  .modal {
    display: flex;
    flex-direction: column;
    background: $colorSecondary200;
    padding: 2em 3em;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;

    &__container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    h1 {
      width: 100%;
      margin-bottom: 1em;
    }

    .button {
      padding: 0.75em 0;
    }
  }
}

.coin-types {
  background-color: $colorSecondary100;
  border-radius: $borderRadius;
  padding: 1em 3em 2em 3em;
  box-shadow: $boxShadow;
  margin-bottom: 2em;
  max-height: 60vh;
  min-height: 40vh;
  overflow: scroll;
  margin-right: 3em;

  .row {
    display: flex;
    flex-direction: row;
    font-size: 1.05em;
    border-left: 5px solid transparent;

    &--heading {
      font-weight: 500;
      padding: 0.25em 0;
      border-color: transparent;

      &:hover {
        border-color: transparent !important;
        cursor: auto !important;
      }
    }

    &--highlight {
      background: $colorPrimary300;
    }

    &--total {
      background: $colorPrimary100;
      color: $colorText200;
      font-weight: 500;
      padding: 0.25em 0 0.25em 5px;
      border-top: 3px solid $colorSecondary100;
      border-left: none;

      &:hover {
        border-left: none !important;
        cursor: auto !important;
      }
    }

    &--active,
    &:hover {
      font-weight: 500;
      cursor: pointer;
      border-left: 5px solid $colorPrimary100;

      input {
        font-weight: 500;
      }
    }

    .cell {
      padding: 0;
      text-align: right;
      line-height: 2.3em;
      overflow: hidden;
      width: 10em;

      &:last-child {
        padding-right: 1em;
      }

      span {
        margin-right: 0.25em;
      }

      input {
        width: 100%;
        height: 100%;
        text-align: right;
        border: none;
        background: transparent;
        font-size: 1em;
        color: $colorText100;

        &:focus {
          outline: none;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

        &::placeholder {
          text-align: right;
        }
      }

      ::-webkit-input-placeholder {
        text-align: center;
        font-size: 0.9em;
      }
    }
  }
}
