.dragonglass {
  .c-button-menu__content {
    height: 100%;

    > div {
      height: 100%;
    }
  }

  .c-grid--button-menu {
    flex-flow: column nowrap;
    overflow: hidden;
  }

  .c-grid__row--button-menu {
    @include rowAnimation($button-animation-duration);
    animation: slideInDown #{$button-animation-duration}s
      cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 1;

    .c-button {
      animation: slideInLeft #{$button-animation-duration}s
          cubic-bezier(0.175, 0.885, 0.32, 1.275),
        fadeIn #{$button-animation-duration}s
          cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
      opacity: 0;
    }
  }
}
