.transcendence {
  .button {
    @include flex1;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    margin-right: 0.5em;
    min-width: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: none;
    width: 0;
    height: 100%;
    border-radius: $borderRadius;

    &.button--has-plus-minus {
      > div:hover {
        background-color: $colorPrimary100;
      }

      .button__caption {
        width: 60%;
        margin: 0 auto;
      }
    }

    > div {
      background-clip: padding-box !important;
      background-size: auto 100% !important;
      background-position: center 0 !important;
      background-repeat: no-repeat;
      background-color: $colorPrimary100;
      border: none;
      color: $colorText200;
      cursor: pointer;
      height: 100%;
      outline: none;
      padding: 0.5em 2px 0.5em 2px;
      transition: background-color 300ms ease-out;
      width: 100%;
      position: relative;
      border-radius: $borderRadius;

      .button__plus-minus {
        position: absolute;
        top: 0;
        font-size: 2em;
        font-weight: 300;
        width: 50%;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        transition: background-color 300ms ease-out;
        left: 0;
        padding-left: 20%;

        &.button--plus {
          right: 0;
          left: auto;
          justify-content: flex-end;
          padding-left: 0;
          padding-right: 20%;
        }

        &:hover {
          background: rgba(102, 102, 102, 0.3);
          border-radius: 3px 0 0 3px;
        }
      }

      &:hover,
      &:active {
        background-color: $colorPrimary200;
      }

      &.button--disabled {
        background-color: $colorPrimary300 !important;
        cursor: default !important;
        transform: none !important;
        color: $colorText300 !important;

        &:hover,
        &:focus {
          background-color: $colorPrimary300 !important;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:active,
    &.active {
      transform: scale(0.95, 0.95);
      transition: none;
      box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.35);
    }

    &.button--disabled {
      box-shadow: none;

      &:active {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
      }

      .caption {
        color: $colorText200;
      }
    }

    &.button--has-icon {
      .button__caption {
        height: 50%;
        line-height: 1.2;

        @include respond-between(xxs, sm) {
          height: 60%;
        }
      }
    }

    .button__icon {
      display: flex;
      align-items: center;
      height: 50%;
      justify-content: center;
      margin-bottom: 0.25em;
      font-size: 0.9em;

      @include respond-between(xxs, sm) {
        height: 40%;
      }

      ~ .button__caption {
        height: 50%;
      }
    }

    .image {
      display: flex;
      align-items: center;
      height: 50%;
      justify-content: center;

      ~ .button__caption {
        height: 50%;
      }
    }

    .button__caption {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 0;
      width: 100%;
      height: 100%;

      small {
        display: block;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;

        img {
          max-height: 20px;
        }
      }

      > span {
        white-space: nowrap;
        text-overflow: ellipsis;
        max-height: 100%;

        > img {
          max-height: 15vh;
          margin: 5px auto;
          display: block;
        }
      }
    }

    &.multiline > div .button__caption {
      > span {
        white-space: normal;
        max-height: 2.4em;
      }
    }

    &.button--image-below,
    &.button--image-above {
      > div {
        position: relative;

        .button__caption {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: block;
          padding: 3px 3px 5px;
          position: absolute;
          top: 0;
          height: auto;
          left: 0;
          background-color: $colorPrimary100;
          border-radius: $borderRadius $borderRadius 0 0;
        }
      }
    }

    &.button--image-below {
      .button__icon {
        height: 100%;
        padding-top: 3vh;
      }
    }

    &.button--image-above {
      > div .button__caption {
        bottom: 0;
        top: auto;
        border-radius: 0 0 $borderRadius $borderRadius;
      }
    }
  }

  .button.button--simple {
    margin-right: 0.5em;

    > div {
      background-color: $colorPrimary100;
      box-shadow: $boxShadow;
    }

    &:hover > div {
      background-color: $colorPrimary200;
    }

    .button__caption > span {
      overflow: auto;
      white-space: normal;
      text-overflow: initial;
      max-height: initial;
    }

    &.button--simple--edit {
      position: absolute;
      right: 0;
      margin: 0;
      top: 1em;
      z-index: 100;
    }
  }

  .button--selected,
  .button--highlight {
    > div {
      background-color: $colorPrimary200;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .transcendence {
    .button {
      &__caption {
        font-size: 0.88em;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .transcendence {
    .button {
      &__caption {
        font-size: 0.8em;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .transcendence {
    .button {
      &__caption {
        font-size: 0.78em;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .transcendence {
    .button {
      &__caption {
        font-size: 0.65em;
      }
    }
  }
}
