.transcendence {
  .grid {
    @include flex1;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    background: $colorSecondary100;
    color: $colorText100;
  }

  .grid__table {
    width: 100%;
    overflow-y: auto;
    flex: 1 1 auto;

    table {
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;

      th,
      td {
        float: left;
        line-height: 1.6em;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
      }

      thead {
        background-color: $colorPrimary100;
        color: $colorText200;

        th {
          font-weight: 600;
          height: 2em;
          padding: 0.2em;
          text-align: center;
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid $colorSecondary200;
          cursor: default;
          display: flex;

          &.negative-row {
            color: $colorDanger100;
          }

          &.tr-highlight {
            background-color: $colorPrimary300;
          }
        }

        td {
          border-right: none;
          padding: 0.5% 1%;
          justify-content: flex-end;
          display: flex;
          align-items: center;

          &:first-child {
            justify-content: flex-start;
          }

          &:last-child {
            border-right: none;
          }

          &.loading {
            align-items: center;
            color: $colorPrimary300;

            span {
              background-color: $colorPrimary300;
              color: $colorPrimary300;
            }
          }
        }
      }
    }

    .custom-checkbox {
      display: block;
      position: relative;
      width: 1.75em;
      height: 100%;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
          background-color: $colorPrimary100;
        }

        &:checked ~ .checkmark:after {
          display: block;
        }
      }

      &:hover input ~ .checkmark {
        background-color: $colorPrimary200;
      }

      .checkmark:after {
        left: 50%;
        top: 50%;
        width: 0.2em;
        height: 0.5em;
        border: solid $colorText200;
        border-width: 0 2px 2px 0;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    .checkmark {
      position: absolute;
      top: 50%;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: $colorSecondary200;
      transform: translateY(-50%);

      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }
  }

  .grid__table--head {
    flex: 0 0 auto;
    overflow: hidden;
    height: auto;
  }

  .grid__table--body {
    border: inherit;
    border-top: none;
    flex-basis: 0;
    align-items: flex-start;
  }

  .subtotal {
    color: $colorText200;
    flex: 0 0 auto;
    margin: 0;
    text-align: right;
    text-transform: uppercase;
    background-color: $colorPrimary100;
    padding: 0.5em;

    .subtotal__container {
      &.negative {
        color: $colorDanger100;
      }

      span {
        font-weight: 600;
        display: inline-block;

        &.right {
          font-weight: normal;
          min-width: 80px;
          padding-left: 10px;
        }
      }
    }
  }
}
