.transcendence {
  .image {
    width: 100%;
    text-align: center;

    > img {
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
  .container {
    > .image {
      height: 100%;
      position: relative;

      > img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
      }
    }
  }
}

//TODO: Vladimir, please check this
.image--spin {
  animation: spin 4s linear infinite;
  height: 1em;
  width: 1em;
}
