.transcendence {
  .captionbox {
    background: $colorSecondary100;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    width: 100%;
    color: $colorText100;
    border-radius: $borderRadius;
    overflow: hidden;
    box-shadow: $boxShadow;
    height: 100%;
  }

  .captionbox__datacaption {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 1.25em;
    height: 1.25em;
    justify-content: space-between;
    padding: 0 1em;
  }

  .captionbox__caption {
    font-weight: 600;
  }

  .captionbox__datacaption--title {
    border-bottom: 1px solid $colorSecondary200;
    flex-basis: 2.25em;
    height: 2.25em;
  }
}
