.transcendence {
  .input-with-binding {
    @extend %dialogConfigContainer;

    .input {
      margin: 0;
    }

    .input__notification {
      max-height: 0;
      transition: all 0.3s ease-in-out;
      opacity: 0;
      padding: 0;
    }

    .input__holder--invalid ~ .input__notification {
      max-height: 30px;
      opacity: 1;
      padding: 5px 0 0 0;
    }
  }

  .input-with-binding__content {
    display: flex;
  }

  .input-with-binding__caption {
    flex: 0 0 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 7px 15px 0 0;
  }

  .input-with-binding__input {
    flex: 0 0 60%;
  }
}
