.transcendence {
  @include respond-between(xxs, sm) {
    .mobile-core__menus {
      flex: 0 0 0;
      transition: all 0.3s;
      display: flex;
      max-height: 0;
      flex-flow: column;
      overflow-y: hidden;

      &.is-hidden {
        flex: 0 0 40vh;
        max-height: 40vh;

        .mobile-core__menu {
          flex: 0 0 40vh;
          max-height: 40vh;

          &.is-hidden {
            flex: 0 0 0;
            max-height: 0;
          }
        }
      }
    }

    .mobile-core__menu {
      display: flex;
      transition: all 0.3s;

      .button .button__caption > span {
        white-space: inherit;
      }

      &.is-hidden {
        overflow: hidden;
        flex: 0 0 0;
      }
    }

    .mobile-core__general-content {
      flex: 0 0 15em;
      margin-top: 1.5em;
      overflow-y: hidden;
      transition: all 0.3s;

      .button .button__caption > span {
        white-space: inherit;
      }

      &.is-hidden {
        flex-basis: 0;
      }
    }

    .mobile-core__buttons {
      max-height: 4em !important;
    }
  }
}
