.transcendence {
  .switch {
    @extend %dialogConfigContainer;
  }

  .switch__content {
    width: 100%;
  }

  .switch__caption {
    float: left;
  }

  .switch__checkbox {
    display: none;

    &:checked {
      + .switch__pointer {
        background-color: $colorAccent200;

        &:before {
          transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
        }

        &:after {
          transform: translate3d(22px, 2px, 0);
        }
      }
    }
  }

  .switch__label {
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
  }

  .switch__pointer {
    background: $colorPrimary300;
    border-radius: 23px;
    float: right;
    height: 26px;
    margin-right: 0.5rem;
    position: relative;
    transition: all 0.3s linear;
    vertical-align: text-bottom;
    width: 46px;

    &:before {
      border-radius: 11px;
      content: "";
      height: 22px;
      left: 0;
      position: absolute;
      transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
      transition: all 0.25s linear;
      width: 42px;
    }

    &:after {
      background-color: #fff;
      border-radius: 11px;
      content: "";
      height: 22px;
      left: 0;
      position: absolute;
      transform: translate3d(2px, 2px, 0);
      transition: all 0.2s ease-in-out;
      width: 22px;
    }
  }

  .radio-group {
    margin: 1.5em;
  }

  .radio-group__content {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .switch__caption--radio-group {
    padding-bottom: 0;
    padding-right: 10px;
  }

  .switch__label--radio-group {
    border-radius: 3px;
    border: 1px solid $colorPrimary300;
    flex: 0 1 calc(100% / 3 - 15px);
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 10px;

    &:only-child {
      margin-right: 0;
      flex: 1;
    }

    &:first-child:nth-last-child(2) {
      flex: 1;
    }

    &:first-child:nth-last-child(2) ~ .switch__label--radio-group {
      flex: 1;
      margin-right: 0;
    }

    &:nth-child(3n + 3) {
      margin-right: 0;
      flex: 0 1 calc(100% / 3);
    }

    &.true {
      background: $colorPrimary300;
      transition: all 0.25s ease-in-out;
    }
  }

  .radio-group__caption {
    padding-bottom: 10px;
  }

  .switch__radio {
    &:checked {
      + .switch__pointer--radio-group {
        &:after {
          animation: zoomIn 0.3s ease-in-out forwards;
        }
      }
    }
  }

  .switch__pointer--radio-group {
    width: 26px;
    margin: 0;
    flex: 0 0 26px;

    &:after {
      height: 16px;
      left: 5px;
      top: 5px;
      transform: scale(0);
      transform: translate3d(0);
      width: 16px;
    }
  }
}
