{
	"openapi": "3.0.1",
	"info": {
		"title": "Navipartner API Campaign Discount Line",
		"description": "These examples show how to use Navipartner Campaign Discount Lines API"
	},
	"servers": [
		{
			"url": "https://api.businesscentral.dynamics.com/v2.0/{environmentName}/api/navipartner/core/v1.0/",
			"variables": {
				"environmentName": {
					"default": "REPLACE_ME",
					"description": "Environment name"
				}
			},
			"description": "Microsoft BC Cloud"
		},
		{
			"url": "https://{tenantId}.dynamics-retail.com:7069/BC/api/navipartner/core/v1.0/",
			"variables": {
				"tenantId": {
					"default": "REPLACE_ME",
					"description": "Tenant ID"
				}
			},
			"description": "NaviPartner OnPrem"
		},
		{
			"url": "https://{containerName}.dynamics-retail.net:443/BC/api/navipartner/core/v1.0/",
			"variables": {
				"containerName": {
					"default": "REPLACE_ME",
					"description": "Container Name"
				}
			},
			"description": "NaviPartner Crane Container"
		}
	],
	"security": [
		{
			"BasicAuth": [],
			"OAuth2": [
				"https://api.businesscentral.dynamics.com/.default"
			]
		}
	],
	"paths": {
		"/companies": {
			"get": {
				"tags": [
					"companies.company"
				],
				"summary": "Get entities from companies",
				"operationId": "companies.company.ListCompany",
				"parameters": [
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"id desc",
									"systemVersion",
									"systemVersion desc",
									"name",
									"name desc",
									"displayName",
									"displayName desc",
									"businessProfileId",
									"businessProfileId desc",
									"systemCreatedAt",
									"systemCreatedAt desc",
									"systemCreatedBy",
									"systemCreatedBy desc",
									"systemModifiedAt",
									"systemModifiedAt desc",
									"systemModifiedBy",
									"systemModifiedBy desc"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"systemVersion",
									"name",
									"displayName",
									"businessProfileId",
									"systemCreatedAt",
									"systemCreatedBy",
									"systemModifiedAt",
									"systemModifiedBy",
									"periodDiscountLines"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"periodDiscountLines"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of company",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.company"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				}
			}
		},
		"/companies({id})": {
			"get": {
				"tags": [
					"companies.company"
				],
				"summary": "Get entity from companies by key",
				"operationId": "companies.company.GetCompany",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"systemVersion",
									"name",
									"displayName",
									"businessProfileId",
									"systemCreatedAt",
									"systemCreatedBy",
									"systemModifiedAt",
									"systemModifiedBy",
									"periodDiscountLines"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"periodDiscountLines"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.company"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/periodDiscountLines": {
			"get": {
				"tags": [
					"companies.periodDiscountLine"
				],
				"summary": "Get periodDiscountLines from companies",
				"operationId": "companies.ListPeriodDiscountLines",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"id desc",
									"code",
									"code desc",
									"startingDate",
									"startingDate desc",
									"startingTime",
									"startingTime desc",
									"endingDate",
									"endingDate desc",
									"endingTime",
									"endingTime desc",
									"priority",
									"priority desc",
									"itemNo",
									"itemNo desc",
									"inventory",
									"inventory desc",
									"campaignProfit",
									"campaignProfit desc",
									"campaignUnitCost",
									"campaignUnitCost desc",
									"campaignUnitPrice",
									"campaignUnitPrice desc",
									"comment",
									"comment desc",
									"crossReferenceNo",
									"crossReferenceNo desc",
									"dateFilter",
									"dateFilter desc",
									"description",
									"description desc",
									"discount",
									"discount desc",
									"discountAmount",
									"discountAmount desc",
									"distributionItem",
									"distributionItem desc",
									"globalDimension1Filter",
									"globalDimension1Filter desc",
									"globalDimension2Filter",
									"globalDimension2Filter desc",
									"internetSpecialId",
									"internetSpecialId desc",
									"locationFilter",
									"locationFilter desc",
									"profit",
									"profit desc",
									"quantityOnPurchaseOrder",
									"quantityOnPurchaseOrder desc",
									"quantitySold",
									"quantitySold desc",
									"status",
									"status desc",
									"turnover",
									"turnover desc",
									"unitCostPurchase",
									"unitCostPurchase desc",
									"unitPrice",
									"unitPrice desc",
									"unitPriceInclVAT",
									"unitPriceInclVAT desc",
									"variantCode",
									"variantCode desc",
									"vendorItemNo",
									"vendorItemNo desc",
									"vendorNo",
									"vendorNo desc",
									"lastDateModified",
									"lastDateModified desc",
									"systemModifiedAt",
									"systemModifiedAt desc",
									"replicationCounter",
									"replicationCounter desc"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"code",
									"startingDate",
									"startingTime",
									"endingDate",
									"endingTime",
									"priority",
									"itemNo",
									"inventory",
									"campaignProfit",
									"campaignUnitCost",
									"campaignUnitPrice",
									"comment",
									"crossReferenceNo",
									"dateFilter",
									"description",
									"discount",
									"discountAmount",
									"distributionItem",
									"globalDimension1Filter",
									"globalDimension2Filter",
									"internetSpecialId",
									"locationFilter",
									"profit",
									"quantityOnPurchaseOrder",
									"quantitySold",
									"status",
									"turnover",
									"unitCostPurchase",
									"unitPrice",
									"unitPriceInclVAT",
									"variantCode",
									"vendorItemNo",
									"vendorNo",
									"lastDateModified",
									"systemModifiedAt",
									"replicationCounter",
									"periodDiscount",
									"item",
									"itemVariant",
									"vendor"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"periodDiscount",
									"item",
									"itemVariant",
									"vendor"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of periodDiscountLine",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.periodDiscountLine"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"post": {
				"tags": [
					"companies.periodDiscountLine"
				],
				"summary": "Create new navigation property to periodDiscountLines for companies",
				"operationId": "companies.CreatePeriodDiscountLines",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					}
				],
				"requestBody": {
					"description": "New navigation property",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.periodDiscountLine"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created navigation property.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.periodDiscountLine"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/periodDiscountLines({id1})": {
			"get": {
				"tags": [
					"companies.periodDiscountLine"
				],
				"summary": "Get periodDiscountLines from companies",
				"operationId": "companies.GetPeriodDiscountLines",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"code",
									"startingDate",
									"startingTime",
									"endingDate",
									"endingTime",
									"priority",
									"itemNo",
									"inventory",
									"campaignProfit",
									"campaignUnitCost",
									"campaignUnitPrice",
									"comment",
									"crossReferenceNo",
									"dateFilter",
									"description",
									"discount",
									"discountAmount",
									"distributionItem",
									"globalDimension1Filter",
									"globalDimension2Filter",
									"internetSpecialId",
									"locationFilter",
									"profit",
									"quantityOnPurchaseOrder",
									"quantitySold",
									"status",
									"turnover",
									"unitCostPurchase",
									"unitPrice",
									"unitPriceInclVAT",
									"variantCode",
									"vendorItemNo",
									"vendorNo",
									"lastDateModified",
									"systemModifiedAt",
									"replicationCounter",
									"periodDiscount",
									"item",
									"itemVariant",
									"vendor"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"periodDiscount",
									"item",
									"itemVariant",
									"vendor"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.periodDiscountLine"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.periodDiscountLine"
				],
				"summary": "Update the navigation property periodDiscountLines in companies",
				"operationId": "companies.UpdatePeriodDiscountLines",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.periodDiscountLine"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.periodDiscountLine"
				],
				"summary": "Delete navigation property periodDiscountLines for companies",
				"operationId": "companies.DeletePeriodDiscountLines",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/periodDiscountLines({id1})/item": {
			"get": {
				"tags": [
					"companies.periodDiscountLines.item"
				],
				"summary": "Get item from companies",
				"operationId": "companies.periodDiscountLines.GetItem",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.item"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.periodDiscountLines.item"
				],
				"summary": "Update the navigation property item in companies",
				"operationId": "companies.periodDiscountLines.UpdateItem",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.item"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.periodDiscountLines.item"
				],
				"summary": "Delete navigation property item for companies",
				"operationId": "companies.periodDiscountLines.DeleteItem",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/periodDiscountLines({id1})/itemVariant": {
			"get": {
				"tags": [
					"companies.periodDiscountLines.itemVariant"
				],
				"summary": "Get itemVariant from companies",
				"operationId": "companies.periodDiscountLines.GetItemVariant",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.itemVariant"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.periodDiscountLines.itemVariant"
				],
				"summary": "Update the navigation property itemVariant in companies",
				"operationId": "companies.periodDiscountLines.UpdateItemVariant",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.itemVariant"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.periodDiscountLines.itemVariant"
				],
				"summary": "Delete navigation property itemVariant for companies",
				"operationId": "companies.periodDiscountLines.DeleteItemVariant",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/periodDiscountLines({id1})/periodDiscount": {
			"get": {
				"tags": [
					"companies.periodDiscountLines.periodDiscount"
				],
				"summary": "Get periodDiscount from companies",
				"operationId": "companies.periodDiscountLines.GetPeriodDiscount",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.periodDiscount"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.periodDiscountLines.periodDiscount"
				],
				"summary": "Update the navigation property periodDiscount in companies",
				"operationId": "companies.periodDiscountLines.UpdatePeriodDiscount",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.periodDiscount"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.periodDiscountLines.periodDiscount"
				],
				"summary": "Delete navigation property periodDiscount for companies",
				"operationId": "companies.periodDiscountLines.DeletePeriodDiscount",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/periodDiscountLines({id1})/vendor": {
			"get": {
				"tags": [
					"companies.periodDiscountLines.vendor"
				],
				"summary": "Get vendor from companies",
				"operationId": "companies.periodDiscountLines.GetVendor",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.vendor"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.periodDiscountLines.vendor"
				],
				"summary": "Update the navigation property vendor in companies",
				"operationId": "companies.periodDiscountLines.UpdateVendor",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.vendor"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.periodDiscountLines.vendor"
				],
				"summary": "Delete navigation property vendor for companies",
				"operationId": "companies.periodDiscountLines.DeleteVendor",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/entityDefinitions": {
			"get": {
				"tags": [
					"entityDefinitions.entityMetadata"
				],
				"summary": "Get entities from entityDefinitions",
				"operationId": "entityDefinitions.entityMetadata.ListEntityMetadata",
				"parameters": [
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"entityName",
									"entityName desc",
									"entitySetName",
									"entitySetName desc",
									"entityCaptions",
									"entityCaptions desc",
									"entitySetCaptions",
									"entitySetCaptions desc",
									"properties",
									"properties desc",
									"actions",
									"actions desc",
									"enumMembers",
									"enumMembers desc"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"entityName",
									"entitySetName",
									"entityCaptions",
									"entitySetCaptions",
									"properties",
									"actions",
									"enumMembers"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of entityMetadata",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.entityMetadata"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				}
			},
			"post": {
				"tags": [
					"entityDefinitions.entityMetadata"
				],
				"summary": "Add new entity to entityDefinitions",
				"operationId": "entityDefinitions.entityMetadata.CreateEntityMetadata",
				"requestBody": {
					"description": "New entity",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.entityMetadata"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created entity",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.entityMetadata"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/entityDefinitions({entityName})": {
			"get": {
				"tags": [
					"entityDefinitions.entityMetadata"
				],
				"summary": "Get entity from entityDefinitions by key",
				"operationId": "entityDefinitions.entityMetadata.GetEntityMetadata",
				"parameters": [
					{
						"name": "entityName",
						"in": "path",
						"description": "key: entityName of entityMetadata",
						"required": true,
						"schema": {
							"type": "string"
						},
						"x-ms-docs-key-type": "entityMetadata"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"entityName",
									"entitySetName",
									"entityCaptions",
									"entitySetCaptions",
									"properties",
									"actions",
									"enumMembers"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.entityMetadata"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"entityDefinitions.entityMetadata"
				],
				"summary": "Update entity in entityDefinitions",
				"operationId": "entityDefinitions.entityMetadata.UpdateEntityMetadata",
				"parameters": [
					{
						"name": "entityName",
						"in": "path",
						"description": "key: entityName of entityMetadata",
						"required": true,
						"schema": {
							"type": "string"
						},
						"x-ms-docs-key-type": "entityMetadata"
					}
				],
				"requestBody": {
					"description": "New property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.entityMetadata"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"entityDefinitions.entityMetadata"
				],
				"summary": "Delete entity from entityDefinitions",
				"operationId": "entityDefinitions.entityMetadata.DeleteEntityMetadata",
				"parameters": [
					{
						"name": "entityName",
						"in": "path",
						"description": "key: entityName of entityMetadata",
						"required": true,
						"schema": {
							"type": "string"
						},
						"x-ms-docs-key-type": "entityMetadata"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/periodDiscountLines": {
			"get": {
				"tags": [
					"periodDiscountLines.periodDiscountLine"
				],
				"summary": "Get entities from periodDiscountLines",
				"operationId": "periodDiscountLines.periodDiscountLine.ListPeriodDiscountLine",
				"parameters": [
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"id desc",
									"code",
									"code desc",
									"startingDate",
									"startingDate desc",
									"startingTime",
									"startingTime desc",
									"endingDate",
									"endingDate desc",
									"endingTime",
									"endingTime desc",
									"priority",
									"priority desc",
									"itemNo",
									"itemNo desc",
									"inventory",
									"inventory desc",
									"campaignProfit",
									"campaignProfit desc",
									"campaignUnitCost",
									"campaignUnitCost desc",
									"campaignUnitPrice",
									"campaignUnitPrice desc",
									"comment",
									"comment desc",
									"crossReferenceNo",
									"crossReferenceNo desc",
									"dateFilter",
									"dateFilter desc",
									"description",
									"description desc",
									"discount",
									"discount desc",
									"discountAmount",
									"discountAmount desc",
									"distributionItem",
									"distributionItem desc",
									"globalDimension1Filter",
									"globalDimension1Filter desc",
									"globalDimension2Filter",
									"globalDimension2Filter desc",
									"internetSpecialId",
									"internetSpecialId desc",
									"locationFilter",
									"locationFilter desc",
									"profit",
									"profit desc",
									"quantityOnPurchaseOrder",
									"quantityOnPurchaseOrder desc",
									"quantitySold",
									"quantitySold desc",
									"status",
									"status desc",
									"turnover",
									"turnover desc",
									"unitCostPurchase",
									"unitCostPurchase desc",
									"unitPrice",
									"unitPrice desc",
									"unitPriceInclVAT",
									"unitPriceInclVAT desc",
									"variantCode",
									"variantCode desc",
									"vendorItemNo",
									"vendorItemNo desc",
									"vendorNo",
									"vendorNo desc",
									"lastDateModified",
									"lastDateModified desc",
									"systemModifiedAt",
									"systemModifiedAt desc",
									"replicationCounter",
									"replicationCounter desc"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"code",
									"startingDate",
									"startingTime",
									"endingDate",
									"endingTime",
									"priority",
									"itemNo",
									"inventory",
									"campaignProfit",
									"campaignUnitCost",
									"campaignUnitPrice",
									"comment",
									"crossReferenceNo",
									"dateFilter",
									"description",
									"discount",
									"discountAmount",
									"distributionItem",
									"globalDimension1Filter",
									"globalDimension2Filter",
									"internetSpecialId",
									"locationFilter",
									"profit",
									"quantityOnPurchaseOrder",
									"quantitySold",
									"status",
									"turnover",
									"unitCostPurchase",
									"unitPrice",
									"unitPriceInclVAT",
									"variantCode",
									"vendorItemNo",
									"vendorNo",
									"lastDateModified",
									"systemModifiedAt",
									"replicationCounter",
									"periodDiscount",
									"item",
									"itemVariant",
									"vendor"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"periodDiscount",
									"item",
									"itemVariant",
									"vendor"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of periodDiscountLine",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.periodDiscountLine"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				}
			},
			"post": {
				"tags": [
					"periodDiscountLines.periodDiscountLine"
				],
				"summary": "Add new entity to periodDiscountLines",
				"operationId": "periodDiscountLines.periodDiscountLine.CreatePeriodDiscountLine",
				"requestBody": {
					"description": "New entity",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.periodDiscountLine"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created entity",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.periodDiscountLine"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/periodDiscountLines({id})": {
			"get": {
				"tags": [
					"periodDiscountLines.periodDiscountLine"
				],
				"summary": "Get entity from periodDiscountLines by key",
				"operationId": "periodDiscountLines.periodDiscountLine.GetPeriodDiscountLine",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"code",
									"startingDate",
									"startingTime",
									"endingDate",
									"endingTime",
									"priority",
									"itemNo",
									"inventory",
									"campaignProfit",
									"campaignUnitCost",
									"campaignUnitPrice",
									"comment",
									"crossReferenceNo",
									"dateFilter",
									"description",
									"discount",
									"discountAmount",
									"distributionItem",
									"globalDimension1Filter",
									"globalDimension2Filter",
									"internetSpecialId",
									"locationFilter",
									"profit",
									"quantityOnPurchaseOrder",
									"quantitySold",
									"status",
									"turnover",
									"unitCostPurchase",
									"unitPrice",
									"unitPriceInclVAT",
									"variantCode",
									"vendorItemNo",
									"vendorNo",
									"lastDateModified",
									"systemModifiedAt",
									"replicationCounter",
									"periodDiscount",
									"item",
									"itemVariant",
									"vendor"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"periodDiscount",
									"item",
									"itemVariant",
									"vendor"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.periodDiscountLine"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"periodDiscountLines.periodDiscountLine"
				],
				"summary": "Update entity in periodDiscountLines",
				"operationId": "periodDiscountLines.periodDiscountLine.UpdatePeriodDiscountLine",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					}
				],
				"requestBody": {
					"description": "New property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.periodDiscountLine"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"periodDiscountLines.periodDiscountLine"
				],
				"summary": "Delete entity from periodDiscountLines",
				"operationId": "periodDiscountLines.periodDiscountLine.DeletePeriodDiscountLine",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/periodDiscountLines({id})/item": {
			"get": {
				"tags": [
					"periodDiscountLines.item"
				],
				"summary": "Get item from periodDiscountLines",
				"operationId": "periodDiscountLines.GetItem",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.item"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"periodDiscountLines.item"
				],
				"summary": "Update the navigation property item in periodDiscountLines",
				"operationId": "periodDiscountLines.UpdateItem",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.item"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"periodDiscountLines.item"
				],
				"summary": "Delete navigation property item for periodDiscountLines",
				"operationId": "periodDiscountLines.DeleteItem",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/periodDiscountLines({id})/itemVariant": {
			"get": {
				"tags": [
					"periodDiscountLines.itemVariant"
				],
				"summary": "Get itemVariant from periodDiscountLines",
				"operationId": "periodDiscountLines.GetItemVariant",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.itemVariant"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"periodDiscountLines.itemVariant"
				],
				"summary": "Update the navigation property itemVariant in periodDiscountLines",
				"operationId": "periodDiscountLines.UpdateItemVariant",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.itemVariant"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"periodDiscountLines.itemVariant"
				],
				"summary": "Delete navigation property itemVariant for periodDiscountLines",
				"operationId": "periodDiscountLines.DeleteItemVariant",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/periodDiscountLines({id})/periodDiscount": {
			"get": {
				"tags": [
					"periodDiscountLines.periodDiscount"
				],
				"summary": "Get periodDiscount from periodDiscountLines",
				"operationId": "periodDiscountLines.GetPeriodDiscount",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.periodDiscount"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"periodDiscountLines.periodDiscount"
				],
				"summary": "Update the navigation property periodDiscount in periodDiscountLines",
				"operationId": "periodDiscountLines.UpdatePeriodDiscount",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.periodDiscount"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"periodDiscountLines.periodDiscount"
				],
				"summary": "Delete navigation property periodDiscount for periodDiscountLines",
				"operationId": "periodDiscountLines.DeletePeriodDiscount",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/periodDiscountLines({id})/vendor": {
			"get": {
				"tags": [
					"periodDiscountLines.vendor"
				],
				"summary": "Get vendor from periodDiscountLines",
				"operationId": "periodDiscountLines.GetVendor",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.vendor"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"periodDiscountLines.vendor"
				],
				"summary": "Update the navigation property vendor in periodDiscountLines",
				"operationId": "periodDiscountLines.UpdateVendor",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.vendor"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"periodDiscountLines.vendor"
				],
				"summary": "Delete navigation property vendor for periodDiscountLines",
				"operationId": "periodDiscountLines.DeleteVendor",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of periodDiscountLine",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "periodDiscountLine"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		}
	},
	"components": {
		"schemas": {
			"Microsoft.NAV.entityMetadata": {
				"title": "entityMetadata",
				"type": "object",
				"properties": {
					"entityName": {
						"type": "string"
					},
					"entitySetName": {
						"type": "string",
						"nullable": true
					},
					"entityCaptions": {
						"type": "array",
						"items": {
							"anyOf": [
								{
									"$ref": "#/components/schemas/Microsoft.NAV.entityMetadataLabel"
								}
							],
							"nullable": true
						}
					},
					"entitySetCaptions": {
						"type": "array",
						"items": {
							"anyOf": [
								{
									"$ref": "#/components/schemas/Microsoft.NAV.entityMetadataLabel"
								}
							],
							"nullable": true
						}
					},
					"properties": {
						"type": "array",
						"items": {
							"anyOf": [
								{
									"$ref": "#/components/schemas/Microsoft.NAV.entityMetadataField"
								}
							],
							"nullable": true
						}
					},
					"actions": {
						"type": "array",
						"items": {
							"anyOf": [
								{
									"$ref": "#/components/schemas/Microsoft.NAV.entityMetadataAction"
								}
							],
							"nullable": true
						}
					},
					"enumMembers": {
						"type": "array",
						"items": {
							"anyOf": [
								{
									"$ref": "#/components/schemas/Microsoft.NAV.entityMetadataEnumMember"
								}
							],
							"nullable": true
						}
					}
				}
			},
			"Microsoft.NAV.entityMetadataLabel": {
				"title": "entityMetadataLabel",
				"type": "object",
				"properties": {
					"languageCode": {
						"maximum": 2147483647,
						"minimum": -2147483648,
						"type": "integer",
						"format": "int32"
					},
					"caption": {
						"type": "string"
					}
				}
			},
			"Microsoft.NAV.entityMetadataField": {
				"title": "entityMetadataField",
				"type": "object",
				"properties": {
					"name": {
						"type": "string"
					},
					"captions": {
						"type": "array",
						"items": {
							"anyOf": [
								{
									"$ref": "#/components/schemas/Microsoft.NAV.entityMetadataLabel"
								}
							],
							"nullable": true
						}
					}
				}
			},
			"Microsoft.NAV.entityMetadataAction": {
				"title": "entityMetadataAction",
				"type": "object",
				"properties": {
					"name": {
						"type": "string"
					},
					"captions": {
						"type": "array",
						"items": {
							"anyOf": [
								{
									"$ref": "#/components/schemas/Microsoft.NAV.entityMetadataLabel"
								}
							],
							"nullable": true
						}
					}
				}
			},
			"Microsoft.NAV.entityMetadataEnumMember": {
				"title": "entityMetadataEnumMember",
				"type": "object",
				"properties": {
					"name": {
						"type": "string"
					},
					"value": {
						"maximum": 2147483647,
						"minimum": -2147483648,
						"type": "integer",
						"format": "int32"
					},
					"captions": {
						"type": "array",
						"items": {
							"anyOf": [
								{
									"$ref": "#/components/schemas/Microsoft.NAV.entityMetadataLabel"
								}
							],
							"nullable": true
						}
					}
				}
			},
			"Microsoft.NAV.company": {
				"title": "company",
				"type": "object",
				"properties": {
					"id": {
						"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
						"type": "string",
						"format": "uuid"
					},
					"systemVersion": {
						"type": "string",
						"nullable": true
					},
					"name": {
						"maxLength": 30,
						"type": "string",
						"nullable": true
					},
					"displayName": {
						"maxLength": 250,
						"type": "string",
						"nullable": true
					},
					"businessProfileId": {
						"maxLength": 250,
						"type": "string",
						"nullable": true
					},
					"systemCreatedAt": {
						"pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
						"type": "string",
						"format": "date-time",
						"nullable": true
					},
					"systemCreatedBy": {
						"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
						"type": "string",
						"format": "uuid",
						"nullable": true
					},
					"systemModifiedAt": {
						"pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
						"type": "string",
						"format": "date-time",
						"nullable": true
					},
					"systemModifiedBy": {
						"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
						"type": "string",
						"format": "uuid",
						"nullable": true
					},
					"periodDiscountLines": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Microsoft.NAV.periodDiscountLine"
						}
					}
				}
			},
			"Microsoft.NAV.periodDiscountLine": {
				"title": "periodDiscountLine",
				"type": "object",
				"properties": {
					"id": {
						"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
						"type": "string",
						"format": "uuid"
					},
					"code": {
						"maxLength": 20,
						"type": "string"
					},
					"startingDate": {
						"pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$",
						"type": "string",
						"format": "date",
						"nullable": true
					},
					"startingTime": {
						"type": "string",
						"nullable": true
					},
					"endingDate": {
						"pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$",
						"type": "string",
						"format": "date",
						"nullable": true
					},
					"endingTime": {
						"type": "string",
						"nullable": true
					},
					"priority": {
						"maxLength": 10,
						"type": "string",
						"nullable": true
					},
					"itemNo": {
						"maxLength": 20,
						"type": "string"
					},
					"inventory": {
						"type": "number",
						"format": "decimal",
						"nullable": true
					},
					"campaignProfit": {
						"type": "number",
						"format": "decimal",
						"nullable": true
					},
					"campaignUnitCost": {
						"type": "number",
						"format": "decimal",
						"nullable": true
					},
					"campaignUnitPrice": {
						"type": "number",
						"format": "decimal",
						"nullable": true
					},
					"comment": {
						"type": "boolean",
						"nullable": true
					},
					"crossReferenceNo": {
						"maxLength": 50,
						"type": "string",
						"nullable": true
					},
					"dateFilter": {
						"type": "string",
						"nullable": true
					},
					"description": {
						"maxLength": 100,
						"type": "string",
						"nullable": true
					},
					"discount": {
						"type": "number",
						"format": "decimal",
						"nullable": true
					},
					"discountAmount": {
						"type": "number",
						"format": "decimal",
						"nullable": true
					},
					"distributionItem": {
						"type": "boolean",
						"nullable": true
					},
					"globalDimension1Filter": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"globalDimension2Filter": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"internetSpecialId": {
						"maximum": 2147483647,
						"minimum": -2147483648,
						"type": "integer",
						"format": "int32",
						"nullable": true
					},
					"locationFilter": {
						"maxLength": 10,
						"type": "string",
						"nullable": true
					},
					"profit": {
						"type": "number",
						"format": "decimal",
						"nullable": true
					},
					"quantityOnPurchaseOrder": {
						"type": "number",
						"format": "decimal",
						"nullable": true
					},
					"quantitySold": {
						"type": "number",
						"format": "decimal",
						"nullable": true
					},
					"status": {
						"type": "string",
						"nullable": true
					},
					"turnover": {
						"type": "number",
						"format": "decimal",
						"nullable": true
					},
					"unitCostPurchase": {
						"type": "number",
						"format": "decimal",
						"nullable": true
					},
					"unitPrice": {
						"type": "number",
						"format": "decimal",
						"nullable": true
					},
					"unitPriceInclVAT": {
						"type": "boolean",
						"nullable": true
					},
					"variantCode": {
						"maxLength": 10,
						"type": "string",
						"nullable": true
					},
					"vendorItemNo": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"vendorNo": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"lastDateModified": {
						"pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$",
						"type": "string",
						"format": "date",
						"nullable": true
					},
					"systemModifiedAt": {
						"pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
						"type": "string",
						"format": "date-time",
						"nullable": true
					},
					"replicationCounter": {
						"type": "integer",
						"format": "int64",
						"nullable": true
					},
					"periodDiscount": {
						"anyOf": [
							{
								"$ref": "#/components/schemas/Microsoft.NAV.periodDiscount"
							}
						],
						"nullable": true
					},
					"item": {
						"anyOf": [
							{
								"$ref": "#/components/schemas/Microsoft.NAV.item"
							}
						],
						"nullable": true
					},
					"itemVariant": {
						"anyOf": [
							{
								"$ref": "#/components/schemas/Microsoft.NAV.itemVariant"
							}
						],
						"nullable": true
					},
					"vendor": {
						"anyOf": [
							{
								"$ref": "#/components/schemas/Microsoft.NAV.vendor"
							}
						],
						"nullable": true
					}
				}
			},
			"odata.error": {
				"required": [
					"error"
				],
				"type": "object",
				"properties": {
					"error": {
						"$ref": "#/components/schemas/odata.error.main"
					}
				}
			},
			"odata.error.main": {
				"required": [
					"code",
					"message"
				],
				"type": "object",
				"properties": {
					"code": {
						"type": "string"
					},
					"message": {
						"type": "string"
					},
					"target": {
						"type": "string"
					},
					"details": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/odata.error.detail"
						}
					},
					"innererror": {
						"type": "object",
						"description": "The structure of this object is service-specific"
					}
				}
			},
			"odata.error.detail": {
				"required": [
					"code",
					"message"
				],
				"type": "object",
				"properties": {
					"code": {
						"type": "string"
					},
					"message": {
						"type": "string"
					},
					"target": {
						"type": "string"
					}
				}
			}
		},
		"responses": {
			"error": {
				"description": "error",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/odata.error"
						}
					}
				}
			}
		},
		"parameters": {
			"top": {
				"name": "$top",
				"in": "query",
				"description": "Show only the first n items",
				"schema": {
					"minimum": 0,
					"type": "integer"
				},
				"example": 50
			},
			"skip": {
				"name": "$skip",
				"in": "query",
				"description": "Skip the first n items",
				"schema": {
					"minimum": 0,
					"type": "integer"
				}
			},
			"count": {
				"name": "$count",
				"in": "query",
				"description": "Include count of items",
				"schema": {
					"type": "boolean"
				}
			},
			"filter": {
				"name": "$filter",
				"in": "query",
				"description": "Filter items by property values",
				"schema": {
					"type": "string"
				}
			},
			"search": {
				"name": "$search",
				"in": "query",
				"description": "Search items by search phrases",
				"schema": {
					"type": "string"
				}
			}
		},
		"examples": {
			"Microsoft.NAV.entityMetadata": {
				"value": {
					"actions": [
						{
							"@odata.type": "Microsoft.NAV.entityMetadataAction"
						}
					],
					"entityCaptions": [
						{
							"@odata.type": "Microsoft.NAV.entityMetadataLabel"
						}
					],
					"entityName": "String (identifier)",
					"entitySetCaptions": [
						{
							"@odata.type": "Microsoft.NAV.entityMetadataLabel"
						}
					],
					"entitySetName": "String",
					"enumMembers": [
						{
							"@odata.type": "Microsoft.NAV.entityMetadataEnumMember"
						}
					],
					"properties": [
						{
							"@odata.type": "Microsoft.NAV.entityMetadataField"
						}
					]
				}
			},
			"Microsoft.NAV.entityMetadataLabel": {
				"value": {
					"caption": "String",
					"languageCode": 0
				}
			},
			"Microsoft.NAV.entityMetadataField": {
				"value": {
					"captions": [
						{
							"@odata.type": "Microsoft.NAV.entityMetadataLabel"
						}
					],
					"name": "String"
				}
			},
			"Microsoft.NAV.entityMetadataAction": {
				"value": {
					"captions": [
						{
							"@odata.type": "Microsoft.NAV.entityMetadataLabel"
						}
					],
					"name": "String"
				}
			},
			"Microsoft.NAV.entityMetadataEnumMember": {
				"value": {
					"captions": [
						{
							"@odata.type": "Microsoft.NAV.entityMetadataLabel"
						}
					],
					"name": "String",
					"value": 0
				}
			},
			"Microsoft.NAV.company": {
				"value": {
					"businessProfileId": "String",
					"displayName": "String",
					"id": "00000000-0000-0000-0000-000000000000 (identifier)",
					"name": "String",
					"periodDiscountLines": [
						{
							"@odata.type": "Microsoft.NAV.periodDiscountLine"
						}
					],
					"systemCreatedAt": "0001-01-01T00:00:00.0000000+00:00",
					"systemCreatedBy": "00000000-0000-0000-0000-000000000000",
					"systemModifiedAt": "0001-01-01T00:00:00.0000000+00:00",
					"systemModifiedBy": "00000000-0000-0000-0000-000000000000",
					"systemVersion": "String"
				}
			},
			"Microsoft.NAV.periodDiscountLine": {
				"value": {
					"campaignProfit": 0,
					"campaignUnitCost": 0,
					"campaignUnitPrice": 0,
					"code": "String",
					"comment": true,
					"crossReferenceNo": "String",
					"dateFilter": "String",
					"description": "String",
					"discount": 0,
					"discountAmount": 0,
					"distributionItem": true,
					"endingDate": "0001-01-01T00:00:00.0000000",
					"endingTime": "String",
					"globalDimension1Filter": "String",
					"globalDimension2Filter": "String",
					"id": "00000000-0000-0000-0000-000000000000 (identifier)",
					"internetSpecialId": 0,
					"inventory": 0,
					"item": {
						"@odata.type": "Microsoft.NAV.item"
					},
					"itemNo": "String",
					"itemVariant": {
						"@odata.type": "Microsoft.NAV.itemVariant"
					},
					"lastDateModified": "0001-01-01T00:00:00.0000000",
					"locationFilter": "String",
					"periodDiscount": {
						"@odata.type": "Microsoft.NAV.periodDiscount"
					},
					"priority": "String",
					"profit": 0,
					"quantityOnPurchaseOrder": 0,
					"quantitySold": 0,
					"replicationCounter": 0,
					"startingDate": "0001-01-01T00:00:00.0000000",
					"startingTime": "String",
					"status": "String",
					"systemModifiedAt": "0001-01-01T00:00:00.0000000+00:00",
					"turnover": 0,
					"unitCostPurchase": 0,
					"unitPrice": 0,
					"unitPriceInclVAT": true,
					"variantCode": "String",
					"vendor": {
						"@odata.type": "Microsoft.NAV.vendor"
					},
					"vendorItemNo": "String",
					"vendorNo": "String"
				}
			}
		},
		"securitySchemes": {
			"BasicAuth": {
				"type": "http",
				"scheme": "basic"
			},
			"OAuth2": {
				"type": "oauth2",
				"flows": {
					"authorizationCode": {
						"authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
						"tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
						"scopes": {
							"https://api.businesscentral.dynamics.com/.default": "Grants API access"
						}
					}
				}
			}
		}
	},
	"tags": [
		{
			"name": "companies.company",
			"x-ms-docs-toc-type": "page"
		},
		{
			"name": "companies.periodDiscountLine",
			"x-ms-docs-toc-type": "page"
		},
		{
			"name": "companies.periodDiscountLines.item",
			"x-ms-docs-toc-type": "page"
		},
		{
			"name": "companies.periodDiscountLines.itemVariant",
			"x-ms-docs-toc-type": "page"
		},
		{
			"name": "companies.periodDiscountLines.periodDiscount",
			"x-ms-docs-toc-type": "page"
		},
		{
			"name": "companies.periodDiscountLines.vendor",
			"x-ms-docs-toc-type": "page"
		},
		{
			"name": "entityDefinitions.entityMetadata",
			"x-ms-docs-toc-type": "page"
		},
		{
			"name": "periodDiscountLines.periodDiscountLine",
			"x-ms-docs-toc-type": "page"
		},
		{
			"name": "periodDiscountLines.item",
			"x-ms-docs-toc-type": "page"
		},
		{
			"name": "periodDiscountLines.itemVariant",
			"x-ms-docs-toc-type": "page"
		},
		{
			"name": "periodDiscountLines.periodDiscount",
			"x-ms-docs-toc-type": "page"
		},
		{
			"name": "periodDiscountLines.vendor",
			"x-ms-docs-toc-type": "page"
		}
	]
}