{
	"openapi": "3.0.1",
	"info": {
		"title": "Navipartner API Customers",
		"description": "These examples show how to use Navipartner Customers API"
	},
	"servers": [
		{
			"url": "https://api.businesscentral.dynamics.com/v2.0/{environmentName}/api/navipartner/core/v1.0/",
			"variables": {
				"environmentName": {
					"default": "REPLACE_ME",
					"description": "Environment name"
				}
			},
			"description": "Microsoft BC Cloud"
		},
		{
			"url": "https://{tenantId}.dynamics-retail.com:7069/BC/api/navipartner/core/v1.0/",
			"variables": {
				"tenantId": {
					"default": "REPLACE_ME",
					"description": "Tenant ID"
				}
			},
			"description": "NaviPartner OnPrem"
		},
		{
			"url": "https://{containerName}.dynamics-retail.net:443/BC/api/navipartner/core/v1.0/",
			"variables": {
				"containerName": {
					"default": "REPLACE_ME",
					"description": "Container Name"
				}
			},
			"description": "NaviPartner Crane Container"
		}
	],
	"security": [
		{
			"BasicAuth": [],
			"OAuth2": [
				"https://api.businesscentral.dynamics.com/.default"
			]
		}
	],
	"paths": {
		"/companies": {
			"get": {
				"tags": [
					"companies.company"
				],
				"summary": "Get entities from companies",
				"operationId": "companies.company.ListCompany",
				"parameters": [
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"id desc",
									"systemVersion",
									"systemVersion desc",
									"name",
									"name desc",
									"displayName",
									"displayName desc",
									"businessProfileId",
									"businessProfileId desc",
									"systemCreatedAt",
									"systemCreatedAt desc",
									"systemCreatedBy",
									"systemCreatedBy desc",
									"systemModifiedAt",
									"systemModifiedAt desc",
									"systemModifiedBy",
									"systemModifiedBy desc"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"systemVersion",
									"name",
									"displayName",
									"businessProfileId",
									"systemCreatedAt",
									"systemCreatedBy",
									"systemModifiedAt",
									"systemModifiedBy",
									"customers",
									"customerFinancialDetails"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"customers",
									"customerFinancialDetails"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of company",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.company"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				}
			}
		},
		"/companies({id})": {
			"get": {
				"tags": [
					"companies.company"
				],
				"summary": "Get entity from companies by key",
				"operationId": "companies.company.GetCompany",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"systemVersion",
									"name",
									"displayName",
									"businessProfileId",
									"systemCreatedAt",
									"systemCreatedBy",
									"systemModifiedAt",
									"systemModifiedBy",
									"customers",
									"customerFinancialDetails"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"customers",
									"customerFinancialDetails"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.company"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customerFinancialDetails": {
			"get": {
				"tags": [
					"companies.customerFinancialDetail"
				],
				"summary": "Get customerFinancialDetails from companies",
				"operationId": "companies.ListCustomerFinancialDetails",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"id desc",
									"number",
									"number desc",
									"balance",
									"balance desc",
									"totalSalesExcludingTax",
									"totalSalesExcludingTax desc",
									"overdueAmount",
									"overdueAmount desc"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"number",
									"balance",
									"totalSalesExcludingTax",
									"overdueAmount"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of customerFinancialDetail",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.customerFinancialDetail"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"post": {
				"tags": [
					"companies.customerFinancialDetail"
				],
				"summary": "Create new navigation property to customerFinancialDetails for companies",
				"operationId": "companies.CreateCustomerFinancialDetails",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					}
				],
				"requestBody": {
					"description": "New navigation property",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.customerFinancialDetail"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created navigation property.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.customerFinancialDetail"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customerFinancialDetails({id1})": {
			"get": {
				"tags": [
					"companies.customerFinancialDetail"
				],
				"summary": "Get customerFinancialDetails from companies",
				"operationId": "companies.GetCustomerFinancialDetails",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customerFinancialDetail",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customerFinancialDetail"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"number",
									"balance",
									"totalSalesExcludingTax",
									"overdueAmount"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.customerFinancialDetail"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.customerFinancialDetail"
				],
				"summary": "Update the navigation property customerFinancialDetails in companies",
				"operationId": "companies.UpdateCustomerFinancialDetails",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customerFinancialDetail",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customerFinancialDetail"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.customerFinancialDetail"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.customerFinancialDetail"
				],
				"summary": "Delete navigation property customerFinancialDetails for companies",
				"operationId": "companies.DeleteCustomerFinancialDetails",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customerFinancialDetail",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customerFinancialDetail"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customers": {
			"get": {
				"tags": [
					"companies.customer"
				],
				"summary": "Get customers from companies",
				"operationId": "companies.ListCustomers",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"id desc",
									"number",
									"number desc",
									"displayName",
									"displayName desc",
									"displayName2",
									"displayName2 desc",
									"type",
									"type desc",
									"searchName",
									"searchName desc",
									"addressLine1",
									"addressLine1 desc",
									"addressLine2",
									"addressLine2 desc",
									"city",
									"city desc",
									"state",
									"state desc",
									"country",
									"country desc",
									"postalCode",
									"postalCode desc",
									"phoneNumber",
									"phoneNumber desc",
									"mobilePhoneNumber",
									"mobilePhoneNumber desc",
									"email",
									"email desc",
									"website",
									"website desc",
									"contact",
									"contact desc",
									"telexNo",
									"telexNo desc",
									"shipToCode",
									"shipToCode desc",
									"ourAccountNo",
									"ourAccountNo desc",
									"territoryCode",
									"territoryCode desc",
									"chainName",
									"chainName desc",
									"budgetedAmount",
									"budgetedAmount desc",
									"statisticsGroup",
									"statisticsGroup desc",
									"shippingAgentCode",
									"shippingAgentCode desc",
									"placeOfExport",
									"placeOfExport desc",
									"collectionMethod",
									"collectionMethod desc",
									"amount",
									"amount desc",
									"lastStatementNo",
									"lastStatementNo desc",
									"printStatements",
									"printStatements desc",
									"priority",
									"priority desc",
									"lastDateModified",
									"lastDateModified desc",
									"pricesIncludingVat",
									"pricesIncludingVat desc",
									"taxLiable",
									"taxLiable desc",
									"taxAreaId",
									"taxAreaId desc",
									"taxAreaCode",
									"taxAreaCode desc",
									"taxAreaDisplayName",
									"taxAreaDisplayName desc",
									"taxRegistrationNumber",
									"taxRegistrationNumber desc",
									"currencyId",
									"currencyId desc",
									"currencyCode",
									"currencyCode desc",
									"paymentTermsId",
									"paymentTermsId desc",
									"paymentTermsCode",
									"paymentTermsCode desc",
									"shipmentMethodId",
									"shipmentMethodId desc",
									"shipmentMethodCode",
									"shipmentMethodCode desc",
									"paymentMethodId",
									"paymentMethodId desc",
									"paymentMethodCode",
									"paymentMethodCode desc",
									"priceCalculationMethod",
									"priceCalculationMethod desc",
									"baseCalendarCode",
									"baseCalendarCode desc",
									"validateEUVatRegNo",
									"validateEUVatRegNo desc",
									"blocked",
									"blocked desc",
									"responsibilityCenter",
									"responsibilityCenter desc",
									"privacyBlocked",
									"privacyBlocked desc",
									"documentSendingProfile",
									"documentSendingProfile desc",
									"icPartnerCode",
									"icPartnerCode desc",
									"salespersonCode",
									"salespersonCode desc",
									"locationCode",
									"locationCode desc",
									"invoiceCopies",
									"invoiceCopies desc",
									"globalDimension1Code",
									"globalDimension1Code desc",
									"globalDimension2Code",
									"globalDimension2Code desc",
									"genBusPostingGroup",
									"genBusPostingGroup desc",
									"customerPostingGroup",
									"customerPostingGroup desc",
									"vatBusPostingGroup",
									"vatBusPostingGroup desc",
									"customerPriceGroup",
									"customerPriceGroup desc",
									"invoiceDiscCode",
									"invoiceDiscCode desc",
									"customerDiscGroup",
									"customerDiscGroup desc",
									"allowLineDisc",
									"allowLineDisc desc",
									"languageCode",
									"languageCode desc",
									"combineShipments",
									"combineShipments desc",
									"gln",
									"gln desc",
									"creditLimitLCY",
									"creditLimitLCY desc",
									"prepaymentPct",
									"prepaymentPct desc",
									"applicationMethod",
									"applicationMethod desc",
									"partnerType",
									"partnerType desc",
									"reminderTermsCode",
									"reminderTermsCode desc",
									"finChargeTermsCode",
									"finChargeTermsCode desc",
									"blockPaymentTolerance",
									"blockPaymentTolerance desc",
									"billToCustomerNo",
									"billToCustomerNo desc",
									"faxNo",
									"faxNo desc",
									"telexAnswerBack",
									"telexAnswerBack desc",
									"useGlnInElectronicDocument",
									"useGlnInElectronicDocument desc",
									"noSeries",
									"noSeries desc",
									"reserve",
									"reserve desc",
									"disableSearchByName",
									"disableSearchByName desc",
									"preferredBankAccountCode",
									"preferredBankAccountCode desc",
									"cashFlowPaymentTermsCode",
									"cashFlowPaymentTermsCode desc",
									"primaryContactNo",
									"primaryContactNo desc",
									"shippingAdvice",
									"shippingAdvice desc",
									"shippingTime",
									"shippingTime desc",
									"shippingAgentServiceCode",
									"shippingAgentServiceCode desc",
									"serviceZoneCode",
									"serviceZoneCode desc",
									"copySellToAddrToQteFrom",
									"copySellToAddrToQteFrom desc",
									"contactId",
									"contactId desc",
									"contactGraphId",
									"contactGraphId desc",
									"nprAnonymized",
									"nprAnonymized desc",
									"nprAnonymizedDate",
									"nprAnonymizedDate desc",
									"nprExternalCustomerNo",
									"nprExternalCustomerNo desc",
									"nprMagentoDisplayGroup",
									"nprMagentoDisplayGroup desc",
									"nprMagentoPaymentGroup",
									"nprMagentoPaymentGroup desc",
									"nprMagentoShippingGroup",
									"nprMagentoShippingGroup desc",
									"nprMagentoStoreCode",
									"nprMagentoStoreCode desc",
									"nprToAnonymize",
									"nprToAnonymize desc",
									"nprToAnonymizeOn",
									"nprToAnonymizeOn desc",
									"lastModifiedDateTime",
									"lastModifiedDateTime desc",
									"replicationCounter",
									"replicationCounter desc"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"number",
									"displayName",
									"displayName2",
									"type",
									"searchName",
									"addressLine1",
									"addressLine2",
									"city",
									"state",
									"country",
									"postalCode",
									"phoneNumber",
									"mobilePhoneNumber",
									"email",
									"website",
									"contact",
									"telexNo",
									"shipToCode",
									"ourAccountNo",
									"territoryCode",
									"chainName",
									"budgetedAmount",
									"statisticsGroup",
									"shippingAgentCode",
									"placeOfExport",
									"collectionMethod",
									"amount",
									"lastStatementNo",
									"printStatements",
									"priority",
									"lastDateModified",
									"pricesIncludingVat",
									"taxLiable",
									"taxAreaId",
									"taxAreaCode",
									"taxAreaDisplayName",
									"taxRegistrationNumber",
									"currencyId",
									"currencyCode",
									"paymentTermsId",
									"paymentTermsCode",
									"shipmentMethodId",
									"shipmentMethodCode",
									"paymentMethodId",
									"paymentMethodCode",
									"priceCalculationMethod",
									"baseCalendarCode",
									"validateEUVatRegNo",
									"blocked",
									"responsibilityCenter",
									"privacyBlocked",
									"documentSendingProfile",
									"icPartnerCode",
									"salespersonCode",
									"locationCode",
									"invoiceCopies",
									"globalDimension1Code",
									"globalDimension2Code",
									"genBusPostingGroup",
									"customerPostingGroup",
									"vatBusPostingGroup",
									"customerPriceGroup",
									"invoiceDiscCode",
									"customerDiscGroup",
									"allowLineDisc",
									"languageCode",
									"combineShipments",
									"gln",
									"creditLimitLCY",
									"prepaymentPct",
									"applicationMethod",
									"partnerType",
									"reminderTermsCode",
									"finChargeTermsCode",
									"blockPaymentTolerance",
									"billToCustomerNo",
									"faxNo",
									"telexAnswerBack",
									"useGlnInElectronicDocument",
									"noSeries",
									"reserve",
									"disableSearchByName",
									"preferredBankAccountCode",
									"cashFlowPaymentTermsCode",
									"primaryContactNo",
									"shippingAdvice",
									"shippingTime",
									"shippingAgentServiceCode",
									"serviceZoneCode",
									"copySellToAddrToQteFrom",
									"contactId",
									"contactGraphId",
									"nprAnonymized",
									"nprAnonymizedDate",
									"nprExternalCustomerNo",
									"nprMagentoDisplayGroup",
									"nprMagentoPaymentGroup",
									"nprMagentoShippingGroup",
									"nprMagentoStoreCode",
									"nprToAnonymize",
									"nprToAnonymizeOn",
									"lastModifiedDateTime",
									"replicationCounter",
									"currency",
									"paymentTerm",
									"shipmentMethod",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"dimensionValue",
									"customerPostGroup",
									"customerPrGroup",
									"customer",
									"customerDiscountGroup",
									"customerBankAccount",
									"customerFinancialDetail",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"currency",
									"paymentTerm",
									"shipmentMethod",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"dimensionValue",
									"customerPostGroup",
									"customerPrGroup",
									"customer",
									"customerDiscountGroup",
									"customerBankAccount",
									"customerFinancialDetail",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of customer",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.customer"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"post": {
				"tags": [
					"companies.customer"
				],
				"summary": "Create new navigation property to customers for companies",
				"operationId": "companies.CreateCustomers",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					}
				],
				"requestBody": {
					"description": "New navigation property",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.customer"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created navigation property.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.customer"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customers({id1})": {
			"get": {
				"tags": [
					"companies.customer"
				],
				"summary": "Get customers from companies",
				"operationId": "companies.GetCustomers",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"number",
									"displayName",
									"displayName2",
									"type",
									"searchName",
									"addressLine1",
									"addressLine2",
									"city",
									"state",
									"country",
									"postalCode",
									"phoneNumber",
									"mobilePhoneNumber",
									"email",
									"website",
									"contact",
									"telexNo",
									"shipToCode",
									"ourAccountNo",
									"territoryCode",
									"chainName",
									"budgetedAmount",
									"statisticsGroup",
									"shippingAgentCode",
									"placeOfExport",
									"collectionMethod",
									"amount",
									"lastStatementNo",
									"printStatements",
									"priority",
									"lastDateModified",
									"pricesIncludingVat",
									"taxLiable",
									"taxAreaId",
									"taxAreaCode",
									"taxAreaDisplayName",
									"taxRegistrationNumber",
									"currencyId",
									"currencyCode",
									"paymentTermsId",
									"paymentTermsCode",
									"shipmentMethodId",
									"shipmentMethodCode",
									"paymentMethodId",
									"paymentMethodCode",
									"priceCalculationMethod",
									"baseCalendarCode",
									"validateEUVatRegNo",
									"blocked",
									"responsibilityCenter",
									"privacyBlocked",
									"documentSendingProfile",
									"icPartnerCode",
									"salespersonCode",
									"locationCode",
									"invoiceCopies",
									"globalDimension1Code",
									"globalDimension2Code",
									"genBusPostingGroup",
									"customerPostingGroup",
									"vatBusPostingGroup",
									"customerPriceGroup",
									"invoiceDiscCode",
									"customerDiscGroup",
									"allowLineDisc",
									"languageCode",
									"combineShipments",
									"gln",
									"creditLimitLCY",
									"prepaymentPct",
									"applicationMethod",
									"partnerType",
									"reminderTermsCode",
									"finChargeTermsCode",
									"blockPaymentTolerance",
									"billToCustomerNo",
									"faxNo",
									"telexAnswerBack",
									"useGlnInElectronicDocument",
									"noSeries",
									"reserve",
									"disableSearchByName",
									"preferredBankAccountCode",
									"cashFlowPaymentTermsCode",
									"primaryContactNo",
									"shippingAdvice",
									"shippingTime",
									"shippingAgentServiceCode",
									"serviceZoneCode",
									"copySellToAddrToQteFrom",
									"contactId",
									"contactGraphId",
									"nprAnonymized",
									"nprAnonymizedDate",
									"nprExternalCustomerNo",
									"nprMagentoDisplayGroup",
									"nprMagentoPaymentGroup",
									"nprMagentoShippingGroup",
									"nprMagentoStoreCode",
									"nprToAnonymize",
									"nprToAnonymizeOn",
									"lastModifiedDateTime",
									"replicationCounter",
									"currency",
									"paymentTerm",
									"shipmentMethod",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"dimensionValue",
									"customerPostGroup",
									"customerPrGroup",
									"customer",
									"customerDiscountGroup",
									"customerBankAccount",
									"customerFinancialDetail",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"currency",
									"paymentTerm",
									"shipmentMethod",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"dimensionValue",
									"customerPostGroup",
									"customerPrGroup",
									"customer",
									"customerDiscountGroup",
									"customerBankAccount",
									"customerFinancialDetail",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.customer"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.customer"
				],
				"summary": "Update the navigation property customers in companies",
				"operationId": "companies.UpdateCustomers",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.customer"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.customer"
				],
				"summary": "Delete navigation property customers for companies",
				"operationId": "companies.DeleteCustomers",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customers({id1})/currency": {
			"get": {
				"tags": [
					"companies.customers.currency"
				],
				"summary": "Get currency from companies",
				"operationId": "companies.customers.GetCurrency",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.currency"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.customers.currency"
				],
				"summary": "Update the navigation property currency in companies",
				"operationId": "companies.customers.UpdateCurrency",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.currency"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.customers.currency"
				],
				"summary": "Delete navigation property currency for companies",
				"operationId": "companies.customers.DeleteCurrency",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customers({id1})/customer": {
			"get": {
				"tags": [
					"companies.customers.customer"
				],
				"summary": "Get customer from companies",
				"operationId": "companies.customers.GetCustomer",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"number",
									"displayName",
									"displayName2",
									"type",
									"searchName",
									"addressLine1",
									"addressLine2",
									"city",
									"state",
									"country",
									"postalCode",
									"phoneNumber",
									"mobilePhoneNumber",
									"email",
									"website",
									"contact",
									"telexNo",
									"shipToCode",
									"ourAccountNo",
									"territoryCode",
									"chainName",
									"budgetedAmount",
									"statisticsGroup",
									"shippingAgentCode",
									"placeOfExport",
									"collectionMethod",
									"amount",
									"lastStatementNo",
									"printStatements",
									"priority",
									"lastDateModified",
									"pricesIncludingVat",
									"taxLiable",
									"taxAreaId",
									"taxAreaCode",
									"taxAreaDisplayName",
									"taxRegistrationNumber",
									"currencyId",
									"currencyCode",
									"paymentTermsId",
									"paymentTermsCode",
									"shipmentMethodId",
									"shipmentMethodCode",
									"paymentMethodId",
									"paymentMethodCode",
									"priceCalculationMethod",
									"baseCalendarCode",
									"validateEUVatRegNo",
									"blocked",
									"responsibilityCenter",
									"privacyBlocked",
									"documentSendingProfile",
									"icPartnerCode",
									"salespersonCode",
									"locationCode",
									"invoiceCopies",
									"globalDimension1Code",
									"globalDimension2Code",
									"genBusPostingGroup",
									"customerPostingGroup",
									"vatBusPostingGroup",
									"customerPriceGroup",
									"invoiceDiscCode",
									"customerDiscGroup",
									"allowLineDisc",
									"languageCode",
									"combineShipments",
									"gln",
									"creditLimitLCY",
									"prepaymentPct",
									"applicationMethod",
									"partnerType",
									"reminderTermsCode",
									"finChargeTermsCode",
									"blockPaymentTolerance",
									"billToCustomerNo",
									"faxNo",
									"telexAnswerBack",
									"useGlnInElectronicDocument",
									"noSeries",
									"reserve",
									"disableSearchByName",
									"preferredBankAccountCode",
									"cashFlowPaymentTermsCode",
									"primaryContactNo",
									"shippingAdvice",
									"shippingTime",
									"shippingAgentServiceCode",
									"serviceZoneCode",
									"copySellToAddrToQteFrom",
									"contactId",
									"contactGraphId",
									"nprAnonymized",
									"nprAnonymizedDate",
									"nprExternalCustomerNo",
									"nprMagentoDisplayGroup",
									"nprMagentoPaymentGroup",
									"nprMagentoShippingGroup",
									"nprMagentoStoreCode",
									"nprToAnonymize",
									"nprToAnonymizeOn",
									"lastModifiedDateTime",
									"replicationCounter",
									"currency",
									"paymentTerm",
									"shipmentMethod",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"dimensionValue",
									"customerPostGroup",
									"customerPrGroup",
									"customer",
									"customerDiscountGroup",
									"customerBankAccount",
									"customerFinancialDetail",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"currency",
									"paymentTerm",
									"shipmentMethod",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"dimensionValue",
									"customerPostGroup",
									"customerPrGroup",
									"customer",
									"customerDiscountGroup",
									"customerBankAccount",
									"customerFinancialDetail",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.customer"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.customers.customer"
				],
				"summary": "Update the navigation property customer in companies",
				"operationId": "companies.customers.UpdateCustomer",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.customer"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.customers.customer"
				],
				"summary": "Delete navigation property customer for companies",
				"operationId": "companies.customers.DeleteCustomer",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customers({id1})/customerBankAccount": {
			"get": {
				"tags": [
					"companies.customers.customerBankAccount"
				],
				"summary": "Get customerBankAccount from companies",
				"operationId": "companies.customers.GetCustomerBankAccount",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.customerBankAccount"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.customers.customerBankAccount"
				],
				"summary": "Update the navigation property customerBankAccount in companies",
				"operationId": "companies.customers.UpdateCustomerBankAccount",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.customerBankAccount"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.customers.customerBankAccount"
				],
				"summary": "Delete navigation property customerBankAccount for companies",
				"operationId": "companies.customers.DeleteCustomerBankAccount",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customers({id1})/customerDiscountGroup": {
			"get": {
				"tags": [
					"companies.customers.customerDiscountGroup"
				],
				"summary": "Get customerDiscountGroup from companies",
				"operationId": "companies.customers.GetCustomerDiscountGroup",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.customerDiscountGroup"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.customers.customerDiscountGroup"
				],
				"summary": "Update the navigation property customerDiscountGroup in companies",
				"operationId": "companies.customers.UpdateCustomerDiscountGroup",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.customerDiscountGroup"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.customers.customerDiscountGroup"
				],
				"summary": "Delete navigation property customerDiscountGroup for companies",
				"operationId": "companies.customers.DeleteCustomerDiscountGroup",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customers({id1})/customerFinancialDetail": {
			"get": {
				"tags": [
					"companies.customers.customerFinancialDetail"
				],
				"summary": "Get customerFinancialDetail from companies",
				"operationId": "companies.customers.GetCustomerFinancialDetail",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"number",
									"balance",
									"totalSalesExcludingTax",
									"overdueAmount"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.customerFinancialDetail"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.customers.customerFinancialDetail"
				],
				"summary": "Update the navigation property customerFinancialDetail in companies",
				"operationId": "companies.customers.UpdateCustomerFinancialDetail",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.customerFinancialDetail"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.customers.customerFinancialDetail"
				],
				"summary": "Delete navigation property customerFinancialDetail for companies",
				"operationId": "companies.customers.DeleteCustomerFinancialDetail",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customers({id1})/customerPostGroup": {
			"get": {
				"tags": [
					"companies.customers.customerPostGroup"
				],
				"summary": "Get customerPostGroup from companies",
				"operationId": "companies.customers.GetCustomerPostGroup",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.customerPostGroup"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.customers.customerPostGroup"
				],
				"summary": "Update the navigation property customerPostGroup in companies",
				"operationId": "companies.customers.UpdateCustomerPostGroup",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.customerPostGroup"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.customers.customerPostGroup"
				],
				"summary": "Delete navigation property customerPostGroup for companies",
				"operationId": "companies.customers.DeleteCustomerPostGroup",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customers({id1})/customerPrGroup": {
			"get": {
				"tags": [
					"companies.customers.customerPrGroup"
				],
				"summary": "Get customerPrGroup from companies",
				"operationId": "companies.customers.GetCustomerPrGroup",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.customerPrGroup"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.customers.customerPrGroup"
				],
				"summary": "Update the navigation property customerPrGroup in companies",
				"operationId": "companies.customers.UpdateCustomerPrGroup",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.customerPrGroup"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.customers.customerPrGroup"
				],
				"summary": "Delete navigation property customerPrGroup for companies",
				"operationId": "companies.customers.DeleteCustomerPrGroup",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customers({id1})/defaultDimensions": {
			"get": {
				"tags": [
					"companies.customers.defaultDimension"
				],
				"summary": "Get defaultDimensions from companies",
				"operationId": "companies.customers.ListDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of defaultDimension",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"post": {
				"tags": [
					"companies.customers.defaultDimension"
				],
				"summary": "Create new navigation property to defaultDimensions for companies",
				"operationId": "companies.customers.CreateDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					}
				],
				"requestBody": {
					"description": "New navigation property",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created navigation property.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customers({id1})/defaultDimensions()": {
			"get": {
				"tags": [
					"companies.customers.defaultDimension"
				],
				"summary": "Get defaultDimensions from companies",
				"operationId": "companies.customers.GetDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.customers.defaultDimension"
				],
				"summary": "Update the navigation property defaultDimensions in companies",
				"operationId": "companies.customers.UpdateDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.customers.defaultDimension"
				],
				"summary": "Delete navigation property defaultDimensions for companies",
				"operationId": "companies.customers.DeleteDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customers({id1})/dimensionValue": {
			"get": {
				"tags": [
					"companies.customers.dimensionValue"
				],
				"summary": "Get dimensionValue from companies",
				"operationId": "companies.customers.GetDimensionValue",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.dimensionValue"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.customers.dimensionValue"
				],
				"summary": "Update the navigation property dimensionValue in companies",
				"operationId": "companies.customers.UpdateDimensionValue",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.dimensionValue"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.customers.dimensionValue"
				],
				"summary": "Delete navigation property dimensionValue for companies",
				"operationId": "companies.customers.DeleteDimensionValue",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customers({id1})/location": {
			"get": {
				"tags": [
					"companies.customers.location"
				],
				"summary": "Get location from companies",
				"operationId": "companies.customers.GetLocation",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.location"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.customers.location"
				],
				"summary": "Update the navigation property location in companies",
				"operationId": "companies.customers.UpdateLocation",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.location"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.customers.location"
				],
				"summary": "Delete navigation property location for companies",
				"operationId": "companies.customers.DeleteLocation",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customers({id1})/paymentMethod": {
			"get": {
				"tags": [
					"companies.customers.paymentMethod"
				],
				"summary": "Get paymentMethod from companies",
				"operationId": "companies.customers.GetPaymentMethod",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.paymentMethod"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.customers.paymentMethod"
				],
				"summary": "Update the navigation property paymentMethod in companies",
				"operationId": "companies.customers.UpdatePaymentMethod",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.paymentMethod"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.customers.paymentMethod"
				],
				"summary": "Delete navigation property paymentMethod for companies",
				"operationId": "companies.customers.DeletePaymentMethod",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customers({id1})/paymentTerm": {
			"get": {
				"tags": [
					"companies.customers.paymentTerm"
				],
				"summary": "Get paymentTerm from companies",
				"operationId": "companies.customers.GetPaymentTerm",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.paymentTerm"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.customers.paymentTerm"
				],
				"summary": "Update the navigation property paymentTerm in companies",
				"operationId": "companies.customers.UpdatePaymentTerm",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.paymentTerm"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.customers.paymentTerm"
				],
				"summary": "Delete navigation property paymentTerm for companies",
				"operationId": "companies.customers.DeletePaymentTerm",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of customer",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "customer"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/customers({id1})/picture": {
			"get": {
				"tags": [
					"companies.customers.picture"
				],
				"summary": "Get picture from companies",
				"operationId": "companies.customers.GetPicture",
				"parameters": [
					{
						"name": "id",
						"in": "path",
[...]
