{
	"openapi": "3.0.1",
	"info": {
		"title": "Navipartner API Items",
		"description": "These examples show how to use Navipartner Items API"
	},
	"servers": [
		{
			"url": "https://api.businesscentral.dynamics.com/v2.0/{environmentName}/api/navipartner/core/v1.0/",
			"variables": {
				"environmentName": {
					"default": "REPLACE_ME",
					"description": "Environment name"
				}
			},
			"description": "Microsoft BC Cloud"
		},
		{
			"url": "https://{tenantId}.dynamics-retail.com:7069/BC/api/navipartner/core/v1.0/",
			"variables": {
				"tenantId": {
					"default": "REPLACE_ME",
					"description": "Tenant ID"
				}
			},
			"description": "NaviPartner OnPrem"
		},
		{
			"url": "https://{containerName}.dynamics-retail.net:443/BC/api/navipartner/core/v1.0/",
			"variables": {
				"containerName": {
					"default": "REPLACE_ME",
					"description": "Container Name"
				}
			},
			"description": "NaviPartner Crane Container"
		}
	],
	"security": [
		{
			"BasicAuth": [],
			"OAuth2": [
				"https://api.businesscentral.dynamics.com/.default"
			]
		}
	],
	"paths": {
		"/companies": {
			"get": {
				"tags": [
					"companies.company"
				],
				"summary": "Get entities from companies",
				"operationId": "companies.company.ListCompany",
				"parameters": [
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"id desc",
									"systemVersion",
									"systemVersion desc",
									"name",
									"name desc",
									"displayName",
									"displayName desc",
									"businessProfileId",
									"businessProfileId desc",
									"systemCreatedAt",
									"systemCreatedAt desc",
									"systemCreatedBy",
									"systemCreatedBy desc",
									"systemModifiedAt",
									"systemModifiedAt desc",
									"systemModifiedBy",
									"systemModifiedBy desc"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"systemVersion",
									"name",
									"displayName",
									"businessProfileId",
									"systemCreatedAt",
									"systemCreatedBy",
									"systemModifiedAt",
									"systemModifiedBy",
									"items"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"items"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of company",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.company"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				}
			}
		},
		"/companies({id})": {
			"get": {
				"tags": [
					"companies.company"
				],
				"summary": "Get entity from companies by key",
				"operationId": "companies.company.GetCompany",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"systemVersion",
									"name",
									"displayName",
									"businessProfileId",
									"systemCreatedAt",
									"systemCreatedBy",
									"systemModifiedAt",
									"systemModifiedBy",
									"items"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"items"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.company"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/items": {
			"get": {
				"tags": [
					"companies.item"
				],
				"summary": "Get items from companies",
				"operationId": "companies.ListItems",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"id desc",
									"number",
									"number desc",
									"no2",
									"no2 desc",
									"displayName",
									"displayName desc",
									"displayName2",
									"displayName2 desc",
									"searchDescription",
									"searchDescription desc",
									"type",
									"type desc",
									"priceUnitConversion",
									"priceUnitConversion desc",
									"statisticsGroup",
									"statisticsGroup desc",
									"commissionGroup",
									"commissionGroup desc",
									"reorderPoint",
									"reorderPoint desc",
									"maximumInventory",
									"maximumInventory desc",
									"reorderQuantity",
									"reorderQuantity desc",
									"alternativeItemNo",
									"alternativeItemNo desc",
									"grossWeight",
									"grossWeight desc",
									"netWeight",
									"netWeight desc",
									"unitsPerParcel",
									"unitsPerParcel desc",
									"unitVolume",
									"unitVolume desc",
									"freightType",
									"freightType desc",
									"countryRegionPurchasedCode",
									"countryRegionPurchasedCode desc",
									"budgetQuantity",
									"budgetQuantity desc",
									"budgetedAmount",
									"budgetedAmount desc",
									"budgetProfit",
									"budgetProfit desc",
									"durability",
									"durability desc",
									"allowInvoiceDisc",
									"allowInvoiceDisc desc",
									"priceProfitCalculation",
									"priceProfitCalculation desc",
									"vendorNo",
									"vendorNo desc",
									"vendorItemNo",
									"vendorItemNo desc",
									"itemCategoryId",
									"itemCategoryId desc",
									"itemCategoryCode",
									"itemCategoryCode desc",
									"blocked",
									"blocked desc",
									"blockReason",
									"blockReason desc",
									"countryRegionOfOriginCode",
									"countryRegionOfOriginCode desc",
									"automaticExtTexts",
									"automaticExtTexts desc",
									"noSeries",
									"noSeries desc",
									"stockoutWarning",
									"stockoutWarning desc",
									"preventNegativeInventory",
									"preventNegativeInventory desc",
									"roundingPrecision",
									"roundingPrecision desc",
									"gtin",
									"gtin desc",
									"inventory",
									"inventory desc",
									"unitPrice",
									"unitPrice desc",
									"unitListPrice",
									"unitListPrice desc",
									"priceIncludesTax",
									"priceIncludesTax desc",
									"unitCost",
									"unitCost desc",
									"standardCost",
									"standardCost desc",
									"lastDirectCost",
									"lastDirectCost desc",
									"taxGroupId",
									"taxGroupId desc",
									"taxGroupCode",
									"taxGroupCode desc",
									"tariffNo",
									"tariffNo desc",
									"baseUnitOfMeasureId",
									"baseUnitOfMeasureId desc",
									"baseUnitOfMeasureCode",
									"baseUnitOfMeasureCode desc",
									"salesUnitofMeasure",
									"salesUnitofMeasure desc",
									"purchUnitofMeasure",
									"purchUnitofMeasure desc",
									"costingMethod",
									"costingMethod desc",
									"reserve",
									"reserve desc",
									"manufacturerCode",
									"manufacturerCode desc",
									"shelfNo",
									"shelfNo desc",
									"genProdPostingGroup",
									"genProdPostingGroup desc",
									"vatProdPostingGroup",
									"vatProdPostingGroup desc",
									"vatBusPostingGrPrice",
									"vatBusPostingGrPrice desc",
									"inventoryPostingGroup",
									"inventoryPostingGroup desc",
									"globalDimension1Code",
									"globalDimension1Code desc",
									"globalDimension2Code",
									"globalDimension2Code desc",
									"defaultDeferralTemplate",
									"defaultDeferralTemplate desc",
									"itemDiscGroup",
									"itemDiscGroup desc",
									"assemblyPolicy",
									"assemblyPolicy desc",
									"lowLevelCode",
									"lowLevelCode desc",
									"lotSize",
									"lotSize desc",
									"scrapPct",
									"scrapPct desc",
									"dampenerQuantity",
									"dampenerQuantity desc",
									"serialNos",
									"serialNos desc",
									"inventoryValueZero",
									"inventoryValueZero desc",
									"discreteOrderQuantity",
									"discreteOrderQuantity desc",
									"minimumOrderQuantity",
									"minimumOrderQuantity desc",
									"maximumOrderQuantity",
									"maximumOrderQuantity desc",
									"safetyStockQuantity",
									"safetyStockQuantity desc",
									"orderMultiple",
									"orderMultiple desc",
									"safetyLeadTime",
									"safetyLeadTime desc",
									"flushingMethod",
									"flushingMethod desc",
									"replenishmentSystem",
									"replenishmentSystem desc",
									"timeBucket",
									"timeBucket desc",
									"reorderingPolicy",
									"reorderingPolicy desc",
									"includeInventory",
									"includeInventory desc",
									"leadTimeCalculation",
									"leadTimeCalculation desc",
									"manufacturingPolicy",
									"manufacturingPolicy desc",
									"reschedulingPeriod",
									"reschedulingPeriod desc",
									"lotAccumulationPeriod",
									"lotAccumulationPeriod desc",
									"dampenerPeriod",
									"dampenerPeriod desc",
									"overflowLevel",
									"overflowLevel desc",
									"createdFromNonstockItem",
									"createdFromNonstockItem desc",
									"purchasingCode",
									"purchasingCode desc",
									"serviceItemGroup",
									"serviceItemGroup desc",
									"itemTrackingCode",
									"itemTrackingCode desc",
									"lotNos",
									"lotNos desc",
									"expirationCalculation",
									"expirationCalculation desc",
									"warehouseClassCode",
									"warehouseClassCode desc",
									"specialEquipmentCode",
									"specialEquipmentCode desc",
									"putAwayTemplateCode",
									"putAwayTemplateCode desc",
									"putAwayUnitOfMeasureCode",
									"putAwayUnitOfMeasureCode desc",
									"physInvtCountingPeriodCode",
									"physInvtCountingPeriodCode desc",
									"useCrossDocking",
									"useCrossDocking desc",
									"purchasingBlocked",
									"purchasingBlocked desc",
									"overReceiptCode",
									"overReceiptCode desc",
									"salesBlocked",
									"salesBlocked desc",
									"routingNo",
									"routingNo desc",
									"productionBomNo",
									"productionBomNo desc",
									"singleLevelMaterialCost",
									"singleLevelMaterialCost desc",
									"singleLevelCapacityCost",
									"singleLevelCapacityCost desc",
									"singleLevelSubcontrdCost",
									"singleLevelSubcontrdCost desc",
									"singleLevelCapOvhdCost",
									"singleLevelCapOvhdCost desc",
									"singleLevelMfgOvhdCost",
									"singleLevelMfgOvhdCost desc",
									"overheadRate",
									"overheadRate desc",
									"orderTrackingPolicy",
									"orderTrackingPolicy desc",
									"nprGroupSale",
									"nprGroupSale desc",
									"critical",
									"critical desc",
									"commonItemNo",
									"commonItemNo desc",
									"nprExplodeBomAuto",
									"nprExplodeBomAuto desc",
									"nprGuaranteeVoucher",
									"nprGuaranteeVoucher desc",
									"nprItemBrand",
									"nprItemBrand desc",
									"nprTicketType",
									"nprTicketType desc",
									"nprItemAddonNo",
									"nprItemAddonNo desc",
									"nprMagentoItem",
									"nprMagentoItem desc",
									"nprMagentoStatus",
									"nprMagentoStatus desc",
									"nprAttributeSetID",
									"nprAttributeSetID desc",
									"nprMagentoDescription",
									"nprMagentoDescription desc",
									"nprMagentoName",
									"nprMagentoName desc",
									"nprMagentoShortDescription",
									"nprMagentoShortDescription desc",
									"nprMagentoBrand",
									"nprMagentoBrand desc",
									"nprSeoLink",
									"nprSeoLink desc",
									"nprMetaTitle",
									"nprMetaTitle desc",
									"nprMetaDescription",
									"nprMetaDescription desc",
									"nprProductNewFrom",
									"nprProductNewFrom desc",
									"nprProductNewTo",
									"nprProductNewTo desc",
									"nprSpecialPrice",
									"nprSpecialPrice desc",
									"nprSpecialPriceFrom",
									"nprSpecialPriceFrom desc",
									"nprSpecialPriceTo",
									"nprSpecialPriceTo desc",
									"nprFeaturedFrom",
									"nprFeaturedFrom desc",
									"nprFeaturedTo",
									"nprFeaturedTo desc",
									"nprBackorder",
									"nprBackorder desc",
									"nprDisplayOnly",
									"nprDisplayOnly desc",
									"nprVarietyGroup",
									"nprVarietyGroup desc",
									"nprVariety1",
									"nprVariety1 desc",
									"nprVariety1Table",
									"nprVariety1Table desc",
									"nprVariety2",
									"nprVariety2 desc",
									"nprVariety2Table",
									"nprVariety2Table desc",
									"nprVariety3",
									"nprVariety3 desc",
									"nprVariety3Table",
									"nprVariety3Table desc",
									"nprVariety4",
									"nprVariety4 desc",
									"nprVariety4Table",
									"nprVariety4Table desc",
									"nprNoPrintOnReciept",
									"nprNoPrintOnReciept desc",
									"nprPrintTags",
									"nprPrintTags desc",
									"nprNpreItemRoutingProfile",
									"nprNpreItemRoutingProfile desc",
									"nprCustomDiscountBlocked",
									"nprCustomDiscountBlocked desc",
									"nprCrossVarietyNo",
									"nprCrossVarietyNo desc",
									"nprItemStatus",
									"nprItemStatus desc",
									"nprMagentoPictVarietyType",
									"nprMagentoPictVarietyType desc",
									"nprDisplayOnlyText",
									"nprDisplayOnlyText desc",
									"lastModifiedDateTime",
									"lastModifiedDateTime desc",
									"replicationCounter",
									"replicationCounter desc"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"number",
									"no2",
									"displayName",
									"displayName2",
									"searchDescription",
									"type",
									"priceUnitConversion",
									"statisticsGroup",
									"commissionGroup",
									"reorderPoint",
									"maximumInventory",
									"reorderQuantity",
									"alternativeItemNo",
									"grossWeight",
									"netWeight",
									"unitsPerParcel",
									"unitVolume",
									"freightType",
									"countryRegionPurchasedCode",
									"budgetQuantity",
									"budgetedAmount",
									"budgetProfit",
									"durability",
									"allowInvoiceDisc",
									"priceProfitCalculation",
									"vendorNo",
									"vendorItemNo",
									"itemCategoryId",
									"itemCategoryCode",
									"blocked",
									"blockReason",
									"countryRegionOfOriginCode",
									"automaticExtTexts",
									"noSeries",
									"stockoutWarning",
									"preventNegativeInventory",
									"roundingPrecision",
									"gtin",
									"inventory",
									"unitPrice",
									"unitListPrice",
									"priceIncludesTax",
									"unitCost",
									"standardCost",
									"lastDirectCost",
									"taxGroupId",
									"taxGroupCode",
									"tariffNo",
									"baseUnitOfMeasureId",
									"baseUnitOfMeasureCode",
									"salesUnitofMeasure",
									"purchUnitofMeasure",
									"costingMethod",
									"reserve",
									"manufacturerCode",
									"shelfNo",
									"genProdPostingGroup",
									"vatProdPostingGroup",
									"vatBusPostingGrPrice",
									"inventoryPostingGroup",
									"globalDimension1Code",
									"globalDimension2Code",
									"defaultDeferralTemplate",
									"itemDiscGroup",
									"assemblyPolicy",
									"lowLevelCode",
									"lotSize",
									"scrapPct",
									"dampenerQuantity",
									"serialNos",
									"inventoryValueZero",
									"discreteOrderQuantity",
									"minimumOrderQuantity",
									"maximumOrderQuantity",
									"safetyStockQuantity",
									"orderMultiple",
									"safetyLeadTime",
									"flushingMethod",
									"replenishmentSystem",
									"timeBucket",
									"reorderingPolicy",
									"includeInventory",
									"leadTimeCalculation",
									"manufacturingPolicy",
									"reschedulingPeriod",
									"lotAccumulationPeriod",
									"dampenerPeriod",
									"overflowLevel",
									"createdFromNonstockItem",
									"purchasingCode",
									"serviceItemGroup",
									"itemTrackingCode",
									"lotNos",
									"expirationCalculation",
									"warehouseClassCode",
									"specialEquipmentCode",
									"putAwayTemplateCode",
									"putAwayUnitOfMeasureCode",
									"physInvtCountingPeriodCode",
									"useCrossDocking",
									"purchasingBlocked",
									"overReceiptCode",
									"salesBlocked",
									"routingNo",
									"productionBomNo",
									"singleLevelMaterialCost",
									"singleLevelCapacityCost",
									"singleLevelSubcontrdCost",
									"singleLevelCapOvhdCost",
									"singleLevelMfgOvhdCost",
									"overheadRate",
									"orderTrackingPolicy",
									"nprGroupSale",
									"critical",
									"commonItemNo",
									"nprExplodeBomAuto",
									"nprGuaranteeVoucher",
									"nprItemBrand",
									"nprTicketType",
									"nprItemAddonNo",
									"nprMagentoItem",
									"nprMagentoStatus",
									"nprAttributeSetID",
									"nprMagentoDescription",
									"nprMagentoName",
									"nprMagentoShortDescription",
									"nprMagentoBrand",
									"nprSeoLink",
									"nprMetaTitle",
									"nprMetaDescription",
									"nprProductNewFrom",
									"nprProductNewTo",
									"nprSpecialPrice",
									"nprSpecialPriceFrom",
									"nprSpecialPriceTo",
									"nprFeaturedFrom",
									"nprFeaturedTo",
									"nprBackorder",
									"nprDisplayOnly",
									"nprVarietyGroup",
									"nprVariety1",
									"nprVariety1Table",
									"nprVariety2",
									"nprVariety2Table",
									"nprVariety3",
									"nprVariety3Table",
									"nprVariety4",
									"nprVariety4Table",
									"nprNoPrintOnReciept",
									"nprPrintTags",
									"nprNpreItemRoutingProfile",
									"nprCustomDiscountBlocked",
									"nprCrossVarietyNo",
									"nprItemStatus",
									"nprMagentoPictVarietyType",
									"nprDisplayOnlyText",
									"lastModifiedDateTime",
									"replicationCounter",
									"item",
									"vendor",
									"itemCategory",
									"itemUnitOfMeasure",
									"dimensionValue",
									"unitOfMeasure",
									"picture",
									"defaultDimensions",
									"itemVariants"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"item",
									"vendor",
									"itemCategory",
									"itemUnitOfMeasure",
									"dimensionValue",
									"unitOfMeasure",
									"picture",
									"defaultDimensions",
									"itemVariants"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of item",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.item"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"post": {
				"tags": [
					"companies.item"
				],
				"summary": "Create new navigation property to items for companies",
				"operationId": "companies.CreateItems",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					}
				],
				"requestBody": {
					"description": "New navigation property",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.item"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created navigation property.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.item"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/items({id1})": {
			"get": {
				"tags": [
					"companies.item"
				],
				"summary": "Get items from companies",
				"operationId": "companies.GetItems",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"number",
									"no2",
									"displayName",
									"displayName2",
									"searchDescription",
									"type",
									"priceUnitConversion",
									"statisticsGroup",
									"commissionGroup",
									"reorderPoint",
									"maximumInventory",
									"reorderQuantity",
									"alternativeItemNo",
									"grossWeight",
									"netWeight",
									"unitsPerParcel",
									"unitVolume",
									"freightType",
									"countryRegionPurchasedCode",
									"budgetQuantity",
									"budgetedAmount",
									"budgetProfit",
									"durability",
									"allowInvoiceDisc",
									"priceProfitCalculation",
									"vendorNo",
									"vendorItemNo",
									"itemCategoryId",
									"itemCategoryCode",
									"blocked",
									"blockReason",
									"countryRegionOfOriginCode",
									"automaticExtTexts",
									"noSeries",
									"stockoutWarning",
									"preventNegativeInventory",
									"roundingPrecision",
									"gtin",
									"inventory",
									"unitPrice",
									"unitListPrice",
									"priceIncludesTax",
									"unitCost",
									"standardCost",
									"lastDirectCost",
									"taxGroupId",
									"taxGroupCode",
									"tariffNo",
									"baseUnitOfMeasureId",
									"baseUnitOfMeasureCode",
									"salesUnitofMeasure",
									"purchUnitofMeasure",
									"costingMethod",
									"reserve",
									"manufacturerCode",
									"shelfNo",
									"genProdPostingGroup",
									"vatProdPostingGroup",
									"vatBusPostingGrPrice",
									"inventoryPostingGroup",
									"globalDimension1Code",
									"globalDimension2Code",
									"defaultDeferralTemplate",
									"itemDiscGroup",
									"assemblyPolicy",
									"lowLevelCode",
									"lotSize",
									"scrapPct",
									"dampenerQuantity",
									"serialNos",
									"inventoryValueZero",
									"discreteOrderQuantity",
									"minimumOrderQuantity",
									"maximumOrderQuantity",
									"safetyStockQuantity",
									"orderMultiple",
									"safetyLeadTime",
									"flushingMethod",
									"replenishmentSystem",
									"timeBucket",
									"reorderingPolicy",
									"includeInventory",
									"leadTimeCalculation",
									"manufacturingPolicy",
									"reschedulingPeriod",
									"lotAccumulationPeriod",
									"dampenerPeriod",
									"overflowLevel",
									"createdFromNonstockItem",
									"purchasingCode",
									"serviceItemGroup",
									"itemTrackingCode",
									"lotNos",
									"expirationCalculation",
									"warehouseClassCode",
									"specialEquipmentCode",
									"putAwayTemplateCode",
									"putAwayUnitOfMeasureCode",
									"physInvtCountingPeriodCode",
									"useCrossDocking",
									"purchasingBlocked",
									"overReceiptCode",
									"salesBlocked",
									"routingNo",
									"productionBomNo",
									"singleLevelMaterialCost",
									"singleLevelCapacityCost",
									"singleLevelSubcontrdCost",
									"singleLevelCapOvhdCost",
									"singleLevelMfgOvhdCost",
									"overheadRate",
									"orderTrackingPolicy",
									"nprGroupSale",
									"critical",
									"commonItemNo",
									"nprExplodeBomAuto",
									"nprGuaranteeVoucher",
									"nprItemBrand",
									"nprTicketType",
									"nprItemAddonNo",
									"nprMagentoItem",
									"nprMagentoStatus",
									"nprAttributeSetID",
									"nprMagentoDescription",
									"nprMagentoName",
									"nprMagentoShortDescription",
									"nprMagentoBrand",
									"nprSeoLink",
									"nprMetaTitle",
									"nprMetaDescription",
									"nprProductNewFrom",
									"nprProductNewTo",
									"nprSpecialPrice",
									"nprSpecialPriceFrom",
									"nprSpecialPriceTo",
									"nprFeaturedFrom",
									"nprFeaturedTo",
									"nprBackorder",
									"nprDisplayOnly",
									"nprVarietyGroup",
									"nprVariety1",
									"nprVariety1Table",
									"nprVariety2",
									"nprVariety2Table",
									"nprVariety3",
									"nprVariety3Table",
									"nprVariety4",
									"nprVariety4Table",
									"nprNoPrintOnReciept",
									"nprPrintTags",
									"nprNpreItemRoutingProfile",
									"nprCustomDiscountBlocked",
									"nprCrossVarietyNo",
									"nprItemStatus",
									"nprMagentoPictVarietyType",
									"nprDisplayOnlyText",
									"lastModifiedDateTime",
									"replicationCounter",
									"item",
									"vendor",
									"itemCategory",
									"itemUnitOfMeasure",
									"dimensionValue",
									"unitOfMeasure",
									"picture",
									"defaultDimensions",
									"itemVariants"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"item",
									"vendor",
									"itemCategory",
									"itemUnitOfMeasure",
									"dimensionValue",
									"unitOfMeasure",
									"picture",
									"defaultDimensions",
									"itemVariants"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.item"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.item"
				],
				"summary": "Update the navigation property items in companies",
				"operationId": "companies.UpdateItems",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.item"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.item"
				],
				"summary": "Delete navigation property items for companies",
				"operationId": "companies.DeleteItems",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/items({id1})/defaultDimensions": {
			"get": {
				"tags": [
					"companies.items.defaultDimension"
				],
				"summary": "Get defaultDimensions from companies",
				"operationId": "companies.items.ListDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of defaultDimension",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"post": {
				"tags": [
					"companies.items.defaultDimension"
				],
				"summary": "Create new navigation property to defaultDimensions for companies",
				"operationId": "companies.items.CreateDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					}
				],
				"requestBody": {
					"description": "New navigation property",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created navigation property.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/items({id1})/defaultDimensions()": {
			"get": {
				"tags": [
					"companies.items.defaultDimension"
				],
				"summary": "Get defaultDimensions from companies",
				"operationId": "companies.items.GetDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.items.defaultDimension"
				],
				"summary": "Update the navigation property defaultDimensions in companies",
				"operationId": "companies.items.UpdateDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.items.defaultDimension"
				],
				"summary": "Delete navigation property defaultDimensions for companies",
				"operationId": "companies.items.DeleteDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/items({id1})/dimensionValue": {
			"get": {
				"tags": [
					"companies.items.dimensionValue"
				],
				"summary": "Get dimensionValue from companies",
				"operationId": "companies.items.GetDimensionValue",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.dimensionValue"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.items.dimensionValue"
				],
				"summary": "Update the navigation property dimensionValue in companies",
				"operationId": "companies.items.UpdateDimensionValue",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.dimensionValue"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.items.dimensionValue"
				],
				"summary": "Delete navigation property dimensionValue for companies",
				"operationId": "companies.items.DeleteDimensionValue",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/items({id1})/item": {
			"get": {
				"tags": [
					"companies.items.item"
				],
				"summary": "Get item from companies",
				"operationId": "companies.items.GetItem",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"number",
									"no2",
									"displayName",
									"displayName2",
									"searchDescription",
									"type",
									"priceUnitConversion",
									"statisticsGroup",
									"commissionGroup",
									"reorderPoint",
									"maximumInventory",
									"reorderQuantity",
									"alternativeItemNo",
									"grossWeight",
									"netWeight",
									"unitsPerParcel",
									"unitVolume",
									"freightType",
									"countryRegionPurchasedCode",
									"budgetQuantity",
									"budgetedAmount",
									"budgetProfit",
									"durability",
									"allowInvoiceDisc",
									"priceProfitCalculation",
									"vendorNo",
									"vendorItemNo",
									"itemCategoryId",
									"itemCategoryCode",
									"blocked",
									"blockReason",
									"countryRegionOfOriginCode",
									"automaticExtTexts",
									"noSeries",
									"stockoutWarning",
									"preventNegativeInventory",
									"roundingPrecision",
									"gtin",
									"inventory",
									"unitPrice",
									"unitListPrice",
									"priceIncludesTax",
									"unitCost",
									"standardCost",
									"lastDirectCost",
									"taxGroupId",
									"taxGroupCode",
									"tariffNo",
									"baseUnitOfMeasureId",
									"baseUnitOfMeasureCode",
									"salesUnitofMeasure",
									"purchUnitofMeasure",
									"costingMethod",
									"reserve",
									"manufacturerCode",
									"shelfNo",
									"genProdPostingGroup",
									"vatProdPostingGroup",
									"vatBusPostingGrPrice",
									"inventoryPostingGroup",
									"globalDimension1Code",
									"globalDimension2Code",
									"defaultDeferralTemplate",
									"itemDiscGroup",
									"assemblyPolicy",
									"lowLevelCode",
									"lotSize",
									"scrapPct",
									"dampenerQuantity",
									"serialNos",
									"inventoryValueZero",
									"discreteOrderQuantity",
									"minimumOrderQuantity",
									"maximumOrderQuantity",
									"safetyStockQuantity",
									"orderMultiple",
									"safetyLeadTime",
									"flushingMethod",
									"replenishmentSystem",
									"timeBucket",
									"reorderingPolicy",
									"includeInventory",
									"leadTimeCalculation",
									"manufacturingPolicy",
									"reschedulingPeriod",
									"lotAccumulationPeriod",
									"dampenerPeriod",
									"overflowLevel",
									"createdFromNonstockItem",
									"purchasingCode",
									"serviceItemGroup",
									"itemTrackingCode",
									"lotNos",
									"expirationCalculation",
									"warehouseClassCode",
									"specialEquipmentCode",
									"putAwayTemplateCode",
									"putAwayUnitOfMeasureCode",
									"physInvtCountingPeriodCode",
									"useCrossDocking",
									"purchasingBlocked",
									"overReceiptCode",
									"salesBlocked",
									"routingNo",
									"productionBomNo",
									"singleLevelMaterialCost",
									"singleLevelCapacityCost",
									"singleLevelSubcontrdCost",
									"singleLevelCapOvhdCost",
									"singleLevelMfgOvhdCost",
									"overheadRate",
									"orderTrackingPolicy",
									"nprGroupSale",
									"critical",
									"commonItemNo",
									"nprExplodeBomAuto",
									"nprGuaranteeVoucher",
									"nprItemBrand",
									"nprTicketType",
									"nprItemAddonNo",
									"nprMagentoItem",
									"nprMagentoStatus",
									"nprAttributeSetID",
									"nprMagentoDescription",
									"nprMagentoName",
									"nprMagentoShortDescription",
									"nprMagentoBrand",
									"nprSeoLink",
									"nprMetaTitle",
									"nprMetaDescription",
									"nprProductNewFrom",
									"nprProductNewTo",
									"nprSpecialPrice",
									"nprSpecialPriceFrom",
									"nprSpecialPriceTo",
									"nprFeaturedFrom",
									"nprFeaturedTo",
									"nprBackorder",
									"nprDisplayOnly",
									"nprVarietyGroup",
									"nprVariety1",
									"nprVariety1Table",
									"nprVariety2",
									"nprVariety2Table",
									"nprVariety3",
									"nprVariety3Table",
									"nprVariety4",
									"nprVariety4Table",
									"nprNoPrintOnReciept",
									"nprPrintTags",
									"nprNpreItemRoutingProfile",
									"nprCustomDiscountBlocked",
									"nprCrossVarietyNo",
									"nprItemStatus",
									"nprMagentoPictVarietyType",
									"nprDisplayOnlyText",
									"lastModifiedDateTime",
									"replicationCounter",
									"item",
									"vendor",
									"itemCategory",
									"itemUnitOfMeasure",
									"dimensionValue",
									"unitOfMeasure",
									"picture",
									"defaultDimensions",
									"itemVariants"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"item",
									"vendor",
									"itemCategory",
									"itemUnitOfMeasure",
									"dimensionValue",
									"unitOfMeasure",
									"picture",
									"defaultDimensions",
									"itemVariants"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.item"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.items.item"
				],
				"summary": "Update the navigation property item in companies",
				"operationId": "companies.items.UpdateItem",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.item"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.items.item"
				],
				"summary": "Delete navigation property item for companies",
				"operationId": "companies.items.DeleteItem",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/items({id1})/item/nprMagentoDescription": {
			"get": {
				"tags": [
					"companies.items.item"
				],
				"summary": "Get media content for the navigation property item from companies",
				"operationId": "companies.items.GetItemNprMagentoDescription",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved media content",
						"content": {
							"application/octet-stream": {
								"schema": {
									"type": "string",
									"format": "binary"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/items({id1})/item/nprMagentoShortDescription": {
			"get": {
				"tags": [
					"companies.items.item"
				],
				"summary": "Get media content for the navigation property item from companies",
				"operationId": "companies.items.GetItemNprMagentoShortDescription",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved media content",
						"content": {
							"application/octet-stream": {
								"schema": {
									"type": "string",
									"format": "binary"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/items({id1})/itemCategory": {
			"get": {
				"tags": [
					"companies.items.itemCategory"
				],
				"summary": "Get itemCategory from companies",
				"operationId": "companies.items.GetItemCategory",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.itemCategory"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.items.itemCategory"
				],
				"summary": "Update the navigation property itemCategory in companies",
				"operationId": "companies.items.UpdateItemCategory",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.itemCategory"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.items.itemCategory"
				],
				"summary": "Delete navigation property itemCategory for companies",
				"operationId": "companies.items.DeleteItemCategory",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/items({id1})/itemUnitOfMeasure": {
			"get": {
				"tags": [
					"companies.items.itemUnitOfMeasure"
				],
				"summary": "Get itemUnitOfMeasure from companies",
				"operationId": "companies.items.GetItemUnitOfMeasure",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.itemUnitOfMeasure"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.items.itemUnitOfMeasure"
				],
				"summary": "Update the navigation property itemUnitOfMeasure in companies",
				"operationId": "companies.items.UpdateItemUnitOfMeasure",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.itemUnitOfMeasure"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.items.itemUnitOfMeasure"
				],
				"summary": "Delete navigation property itemUnitOfMeasure for companies",
				"operationId": "companies.items.DeleteItemUnitOfMeasure",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/items({id1})/itemVariants": {
			"get": {
				"tags": [
					"companies.items.itemVariant"
				],
				"summary": "Get itemVariants from companies",
				"operationId": "companies.items.ListItemVariants",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of itemVariant",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.itemVariant"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"post": {
				"tags": [
					"companies.items.itemVariant"
				],
				"summary": "Create new navigation property to itemVariants for companies",
				"operationId": "companies.items.CreateItemVariants",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					}
				],
				"requestBody": {
					"description": "New navigation property",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.itemVariant"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created navigation property.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.itemVariant"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/items({id1})/itemVariants()": {
			"get": {
				"tags": [
					"companies.items.itemVariant"
				],
				"summary": "Get itemVariants from companies",
				"operationId": "companies.items.GetItemVariants",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.itemVariant"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.items.itemVariant"
				],
				"summary": "Update the navigation property itemVariants in companies",
				"operationId": "companies.items.UpdateItemVariants",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.itemVariant"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.items.itemVariant"
				],
				"summary": "Delete navigation property itemVariants for companies",
				"operationId": "companies.items.DeleteItemVariants",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/items({id1})/nprMagentoDescription": {
			"get": {
				"tags": [
					"companies.item"
				],
				"summary": "Get media content for the navigation property items from companies",
				"operationId": "companies.GetItemsNprMagentoDescription",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved media content",
						"content": {
							"application/octet-stream": {
								"schema": {
									"type": "string",
									"format": "binary"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/items({id1})/nprMagentoShortDescription": {
			"get": {
				"tags": [
					"companies.item"
				],
				"summary": "Get media content for the navigation property items from companies",
				"operationId": "companies.GetItemsNprMagentoShortDescription",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved media content",
						"content": {
							"application/octet-stream": {
								"schema": {
									"type": "string",
									"format": "binary"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/items({id1})/picture": {
			"get": {
				"tags": [
					"companies.items.picture"
				],
				"summary": "Get picture from companies",
				"operationId": "companies.items.GetPicture",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.picture"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.items.picture"
				],
				"summary": "Update the navigation property picture in companies",
				"operationId": "companies.items.UpdatePicture",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.picture"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.items.picture"
				],
				"summary": "Delete navigation property picture for companies",
				"operationId": "companies.items.DeletePicture",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/items({id1})/unitOfMeasure": {
			"get": {
				"tags": [
					"companies.items.unitOfMeasure"
				],
				"summary": "Get unitOfMeasure from companies",
				"operationId": "companies.items.GetUnitOfMeasure",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.unitOfMeasure"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.items.unitOfMeasure"
				],
				"summary": "Update the navigation property unitOfMeasure in companies",
				"operationId": "companies.items.UpdateUnitOfMeasure",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.unitOfMeasure"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.items.unitOfMeasure"
				],
				"summary": "Delete navigation property unitOfMeasure for companies",
				"operationId": "companies.items.DeleteUnitOfMeasure",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/items({id1})/vendor": {
			"get": {
				"tags": [
					"companies.items.vendor"
				],
				"summary": "Get vendor from companies",
				"operationId": "companies.items.GetVendor",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.vendor"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.items.vendor"
				],
				"summary": "Update the navigation property vendor in companies",
				"operationId": "companies.items.UpdateVendor",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.vendor"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.items.vendor"
				],
				"summary": "Delete navigation property vendor for companies",
				"operationId": "companies.items.DeleteVendor",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of item",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "item"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/entityDefinitions": {
			"get": {
				"tags": [
					"entityDefinitions.entityMetadata"
				],
				"summary": "Get entities from entityDefinitions",
				"operationId": "entityDefinitions.entityMetadata.ListEntityMetadata",
				"parameters": [
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"entityName",
									"entityName desc",
									"entitySetName",
									"entitySetName desc",
									"entityCaptions",
									"entityCaptions desc",
									"entitySetCaptions",
									"entitySetCaptions desc",
									"properties",
									"properties desc",
									"actions",
									"actions desc",
									"enumMembers",
									"enumMembers desc"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"entityName",
									"entitySetName",
									"entityCaptions",
									"entitySetCaptions",
									"properties",
									"actions",
									"enumMembers"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of entityMetadata",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.entityMetadata"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				}
			},
			"post": {
				"tags": [
					"entityDefinitions.entityMetadata"
				],
				"summary": "Add new entity to entityDefinitions",
				"operationId": "entityDefinitions.entityMetadata.CreateEntityMetadata",
				"requestBody": {
					"description": "New entity",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.entityMetadata"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created entity",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.entityMetadata"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/entityDefinitions({entityName})": {
			"get": {
				"tags": [
					"entityDefinitions.entityMetadata"
				],
				"summary": "Get entity from entityDefinitions by key",
				"operationId": "entityDefinitions.entityMetadata.GetEntityMetadata",
				"parameters": [
					{
						"name": "entityName",
						"in": "path",
						"description": "key: entityName of entityMetadata",
						"required": true,
						"schema": {
							"type": "string"
						},
						"x-ms-docs-key-type": "entityMetadata"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"entityName",
									"entitySetName",
									"entityCaptions",
									"entitySetCaptions",
									"properties",
									"actions",
									"enumMembers"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.entityMetadata"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"entityDefinitions.entityMetadata"
				],
				"summary": "Update entity in entityDefinitions",
				"operationId": "entityDefinitions.entityMetadata.UpdateEntityMetadata",
				"parameters": [
					{
						"name": "entityName",
						"in": "path",
						"description": "key: entityName of entityMetadata",
						"required": true,
						"schema": {
							"type": "string"
						},
						"x-ms-docs-key-type": "entityMetadata"
					}
				],
				"requestBody": {
					"description": "New property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.entityMetadata"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"entityDefinitions.entityMetadata"
				],
				"summary": "Delete entity from entityDefinitions",
				"operationId": "entityDefinitions.entityMetadata.DeleteEntityMetadata",
				"parameters": [
					{
						"name": "entityName",
						"in": "path",
						"description": "key: entityName of entityMetadata",
						"required": true,
						"schema": {
							"type": "string"
						},
						"x-ms-docs-key-type": "entityMetadata"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/items": {
			"get": {
				"tags": [
					"items.item"
				],
				"summary": "Get entities from items",
				"operationId": "items.item.ListItem",
				"parameters": [
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
[...]
