{
	"openapi": "3.0.1",
	"info": {
		"title": "Navipartner API Vendors",
		"description": "These examples show how to use Navipartner Vendors API",
		"version": "1.0"
	},
	"servers": [
		{
			"url": "https://api.businesscentral.dynamics.com/v2.0/{environmentName}/api/navipartner/core/v1.0/",
			"variables": {
				"environmentName": {
					"default": "REPLACE_ME",
					"description": "Environment name"
				}
			},
			"description": "Microsoft BC Cloud"
		},
		{
			"url": "https://{tenantId}.dynamics-retail.com:7069/BC/api/navipartner/core/v1.0/",
			"variables": {
				"tenantId": {
					"default": "REPLACE_ME",
					"description": "Tenant ID"
				}
			},
			"description": "NaviPartner OnPrem"
		},
		{
			"url": "https://{containerName}.dynamics-retail.net:443/BC/api/navipartner/core/v1.0/",
			"variables": {
				"containerName": {
					"default": "REPLACE_ME",
					"description": "Container Name"
				}
			},
			"description": "NaviPartner Crane Container"
		}
	],
	"security": [
		{
			"BasicAuth": [],
			"OAuth2": [
				"https://api.businesscentral.dynamics.com/.default"
			]
		}
	],
	"paths": {
		"/companies": {
			"get": {
				"tags": [
					"companies.company"
				],
				"summary": "Get Companies",
				"description": "Retrieve the list of companies.",
				"operationId": "companies.company.ListCompany",
				"parameters": [
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"id desc",
									"systemVersion",
									"systemVersion desc",
									"name",
									"name desc",
									"displayName",
									"displayName desc",
									"businessProfileId",
									"businessProfileId desc",
									"systemCreatedAt",
									"systemCreatedAt desc",
									"systemCreatedBy",
									"systemCreatedBy desc",
									"systemModifiedAt",
									"systemModifiedAt desc",
									"systemModifiedBy",
									"systemModifiedBy desc"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"systemVersion",
									"name",
									"displayName",
									"businessProfileId",
									"systemCreatedAt",
									"systemCreatedBy",
									"systemModifiedAt",
									"systemModifiedBy"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Company information retrieved for all companies",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of company",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.company"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				}
			}
		},
		"/companies({id})": {
			"get": {
				"tags": [
					"companies.company"
				],
				"summary": "Get Company by ID",
				"description": "Retrieve the specific company according to its ID.",
				"operationId": "companies.company.GetCompany",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"systemVersion",
									"name",
									"displayName",
									"businessProfileId",
									"systemCreatedAt",
									"systemCreatedBy",
									"systemModifiedAt",
									"systemModifiedBy"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Company information retrieved for one company",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.company"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors": {
			"get": {
				"tags": [
					"companies.vendor"
				],
				"summary": "Get vendors",
				"description": "Retrieve the list of vendors associated with the specified company.",
				"operationId": "companies.ListVendors",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"id desc",
									"number",
									"number desc",
									"displayName",
									"displayName desc",
									"displayName2",
									"displayName2 desc",
									"searchName",
									"searchName desc",
									"contact",
									"contact desc",
									"telexNo",
									"telexNo desc",
									"ourAccountNo",
									"ourAccountNo desc",
									"budgetedAmount",
									"budgetedAmount desc",
									"addressLine1",
									"addressLine1 desc",
									"addressLine2",
									"addressLine2 desc",
									"city",
									"city desc",
									"state",
									"state desc",
									"country",
									"country desc",
									"postalCode",
									"postalCode desc",
									"phoneNumber",
									"phoneNumber desc",
									"email",
									"email desc",
									"website",
									"website desc",
									"faxNo",
									"faxNo desc",
									"telexAnswerBack",
									"telexAnswerBack desc",
									"noSeries",
									"noSeries desc",
									"disableSearchByName",
									"disableSearchByName desc",
									"taxAreaCode",
									"taxAreaCode desc",
									"taxRegistrationNumber",
									"taxRegistrationNumber desc",
									"currencyId",
									"currencyId desc",
									"currencyCode",
									"currencyCode desc",
									"paymentTermsId",
									"paymentTermsId desc",
									"paymentTermsCode",
									"paymentTermsCode desc",
									"paymentMethodId",
									"paymentMethodId desc",
									"paymentMethodCode",
									"paymentMethodCode desc",
									"taxLiable",
									"taxLiable desc",
									"territoryCode",
									"territoryCode desc",
									"purchaserCode",
									"purchaserCode desc",
									"locationCode",
									"locationCode desc",
									"shipmentMethodCode",
									"shipmentMethodCode desc",
									"shippingAgentCode",
									"shippingAgentCode desc",
									"invoiceDiscCode",
									"invoiceDiscCode desc",
									"payToVendorNo",
									"payToVendorNo desc",
									"applicationMethod",
									"applicationMethod desc",
									"partnerType",
									"partnerType desc",
									"pricesIncludingVat",
									"pricesIncludingVat desc",
									"gln",
									"gln desc",
									"blockPaymentTolerance",
									"blockPaymentTolerance desc",
									"responsibilityCenter",
									"responsibilityCenter desc",
									"privacyBlocked",
									"privacyBlocked desc",
									"documentSendingProfile",
									"documentSendingProfile desc",
									"icPartnerCode",
									"icPartnerCode desc",
									"prepaymentPct",
									"prepaymentPct desc",
									"creditorNo",
									"creditorNo desc",
									"preferredBankAccountCode",
									"preferredBankAccountCode desc",
									"cashFlowPaymentTermsCode",
									"cashFlowPaymentTermsCode desc",
									"primaryContactNo",
									"primaryContactNo desc",
									"mobilePhoneNo",
									"mobilePhoneNo desc",
									"leadTimeCalculation",
									"leadTimeCalculation desc",
									"priceCalculationMethod",
									"priceCalculationMethod desc",
									"baseCalendarCode",
									"baseCalendarCode desc",
									"validateEUVatRegNo",
									"validateEUVatRegNo desc",
									"overReceiptCode",
									"overReceiptCode desc",
									"blocked",
									"blocked desc",
									"balance",
									"balance desc",
									"languageCode",
									"languageCode desc",
									"globalDimension1Code",
									"globalDimension1Code desc",
									"globalDimension2Code",
									"globalDimension2Code desc",
									"genBusPostingGroup",
									"genBusPostingGroup desc",
									"vendorPostingGroup",
									"vendorPostingGroup desc",
									"vatBusPostingGroup",
									"vatBusPostingGroup desc",
									"finChargeTermsCode",
									"finChargeTermsCode desc",
									"statisticsGroup",
									"statisticsGroup desc",
									"priority",
									"priority desc",
									"lastDateModified",
									"lastDateModified desc",
									"lastModifiedDateTime",
									"lastModifiedDateTime desc",
									"replicationCounter",
									"replicationCounter desc"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"number",
									"displayName",
									"displayName2",
									"searchName",
									"contact",
									"telexNo",
									"ourAccountNo",
									"budgetedAmount",
									"addressLine1",
									"addressLine2",
									"city",
									"state",
									"country",
									"postalCode",
									"phoneNumber",
									"email",
									"website",
									"faxNo",
									"telexAnswerBack",
									"noSeries",
									"disableSearchByName",
									"taxAreaCode",
									"taxRegistrationNumber",
									"currencyId",
									"currencyCode",
									"paymentTermsId",
									"paymentTermsCode",
									"paymentMethodId",
									"paymentMethodCode",
									"taxLiable",
									"territoryCode",
									"purchaserCode",
									"locationCode",
									"shipmentMethodCode",
									"shippingAgentCode",
									"invoiceDiscCode",
									"payToVendorNo",
									"applicationMethod",
									"partnerType",
									"pricesIncludingVat",
									"gln",
									"blockPaymentTolerance",
									"responsibilityCenter",
									"privacyBlocked",
									"documentSendingProfile",
									"icPartnerCode",
									"prepaymentPct",
									"creditorNo",
									"preferredBankAccountCode",
									"cashFlowPaymentTermsCode",
									"primaryContactNo",
									"mobilePhoneNo",
									"leadTimeCalculation",
									"priceCalculationMethod",
									"baseCalendarCode",
									"validateEUVatRegNo",
									"overReceiptCode",
									"blocked",
									"balance",
									"languageCode",
									"globalDimension1Code",
									"globalDimension2Code",
									"genBusPostingGroup",
									"vendorPostingGroup",
									"vatBusPostingGroup",
									"finChargeTermsCode",
									"statisticsGroup",
									"priority",
									"lastDateModified",
									"lastModifiedDateTime",
									"replicationCounter",
									"currency",
									"paymentTerm",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"shipmentMethod",
									"vendor",
									"vendorBankAccount",
									"dimensionValue",
									"vendorPostGroup",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"currency",
									"paymentTerm",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"shipmentMethod",
									"vendor",
									"vendorBankAccount",
									"dimensionValue",
									"vendorPostGroup",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Information on vendors retrieved successfully.",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of vendor",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.vendor"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"post": {
				"tags": [
					"companies.vendor"
				],
				"summary": "Create vendor",
				"description": "Create a new vendor for the specified company.",
				"operationId": "companies.CreateVendors",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					}
				],
				"requestBody": {
					"description": "New Vendor",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.vendor"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "New vendor created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.vendor"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})": {
			"get": {
				"tags": [
					"companies.vendor"
				],
				"summary": "Get vendor by ID",
				"description": "Retrieve the specified vendor from the company according to the vendor ID.",
				"operationId": "companies.GetVendors",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"number",
									"displayName",
									"displayName2",
									"searchName",
									"contact",
									"telexNo",
									"ourAccountNo",
									"budgetedAmount",
									"addressLine1",
									"addressLine2",
									"city",
									"state",
									"country",
									"postalCode",
									"phoneNumber",
									"email",
									"website",
									"faxNo",
									"telexAnswerBack",
									"noSeries",
									"disableSearchByName",
									"taxAreaCode",
									"taxRegistrationNumber",
									"currencyId",
									"currencyCode",
									"paymentTermsId",
									"paymentTermsCode",
									"paymentMethodId",
									"paymentMethodCode",
									"taxLiable",
									"territoryCode",
									"purchaserCode",
									"locationCode",
									"shipmentMethodCode",
									"shippingAgentCode",
									"invoiceDiscCode",
									"payToVendorNo",
									"applicationMethod",
									"partnerType",
									"pricesIncludingVat",
									"gln",
									"blockPaymentTolerance",
									"responsibilityCenter",
									"privacyBlocked",
									"documentSendingProfile",
									"icPartnerCode",
									"prepaymentPct",
									"creditorNo",
									"preferredBankAccountCode",
									"cashFlowPaymentTermsCode",
									"primaryContactNo",
									"mobilePhoneNo",
									"leadTimeCalculation",
									"priceCalculationMethod",
									"baseCalendarCode",
									"validateEUVatRegNo",
									"overReceiptCode",
									"blocked",
									"balance",
									"languageCode",
									"globalDimension1Code",
									"globalDimension2Code",
									"genBusPostingGroup",
									"vendorPostingGroup",
									"vatBusPostingGroup",
									"finChargeTermsCode",
									"statisticsGroup",
									"priority",
									"lastDateModified",
									"lastModifiedDateTime",
									"replicationCounter",
									"currency",
									"paymentTerm",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"shipmentMethod",
									"vendor",
									"vendorBankAccount",
									"dimensionValue",
									"vendorPostGroup",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"currency",
									"paymentTerm",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"shipmentMethod",
									"vendor",
									"vendorBankAccount",
									"dimensionValue",
									"vendorPostGroup",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Vendor information retrieved",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.vendor"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendor"
				],
				"summary": "Update vendor",
				"description": "Update the properties of the specified vendor from the company.",
				"operationId": "companies.UpdateVendors",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "Vendor data",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.vendor"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Vendor data has been updated successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendor"
				],
				"summary": "Delete vendor",
				"description": "Delete the specified vendor from the company.",
				"operationId": "companies.DeleteVendors",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "The vendor has been deleted successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/currency": {
			"get": {
				"tags": [
					"companies.vendors.currency"
				],
				"summary": "Get vendor currency",
				"description": "Retrieve the currency of the specified vendor from the company.",
				"operationId": "companies.vendors.GetCurrency",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved currency information",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.currency"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.currency"
				],
				"summary": "Update vendor currency",
				"description": "Update the currency of the specified vendor from the company.",
				"operationId": "companies.vendors.UpdateCurrency",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.currency"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Currency data has been updated successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.currency"
				],
				"summary": "Delete vendor currency",
				"description": "Delete the currency of the specified vendor from the company.",
				"operationId": "companies.vendors.DeleteCurrency",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Currency data has been deleted successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/defaultDimensions": {
			"get": {
				"tags": [
					"companies.vendors.defaultDimension"
				],
				"summary": "Get default dimensions from vendor",
				"description": "Retrieve the default dimensions of the specified vendor from the company.",
				"operationId": "companies.vendors.ListDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Default dimensions retrieved",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of defaultDimension",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"post": {
				"tags": [
					"companies.vendors.defaultDimension"
				],
				"summary": "Create vendor default dimension",
				"description": "Create a new default dimension for the specified vendor from the company.",
				"operationId": "companies.vendors.CreateDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created navigation property.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.defaultDimension"
				],
				"summary": "Update vendor default dimension",
				"operationId": "Update the default dimension of the specified vendor from the company.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "The default dimension has been updated successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.defaultDimension"
				],
				"summary": "Delete vendor default dimension",
				"description": "Delete the default dimension of the specified vendor from the company.",
				"operationId": "companies.vendors.DeleteDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "The default dimension has been deleted successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/location": {
			"get": {
				"tags": [
					"companies.vendors.location"
				],
				"summary": "Get vendor location",
				"description": "Retrieve the location of the specified vendor from the company.",
				"operationId": "companies.vendors.GetLocation",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Location information retrieved",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.location"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.location"
				],
				"summary": "Update vendor location",
				"description": "Update the location of the specified vendor from the company.",
				"operationId": "companies.vendors.UpdateLocation",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.location"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "The location has been updated successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.location"
				],
				"summary": "Delete vendor location",
				"description": "Delete the location of the specified vendor from the company.",
				"operationId": "companies.vendors.DeleteLocation",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "The location has been deleted successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/paymentMethod": {
			"get": {
				"tags": [
					"companies.vendors.paymentMethod"
				],
				"summary": "Get vendor payment method",
				"description": "Retrieve the payment method of the specified vendor from the company.",
				"operationId": "companies.vendors.GetPaymentMethod",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Payment Method retrieved",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.paymentMethod"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.paymentMethod"
				],
				"summary": "Update vendor payment method",
				"description": "Update the payment method of the specified vendor from the company.",
				"operationId": "companies.vendors.UpdatePaymentMethod",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.paymentMethod"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "The payment method has been updated successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.paymentMethod"
				],
				"summary": "Delete vendor payment method",
				"description": "Delete the payment method of the specified vendor from the company.",
				"operationId": "companies.vendors.DeletePaymentMethod",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "The payment method has been deleted successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/paymentTerm": {
			"get": {
				"tags": [
					"companies.vendors.paymentTerm"
				],
				"summary": "Get vendor payment term",
				"description": "Retrieve the payment term of the specified vendor from the company.",
				"operationId": "companies.vendors.GetPaymentTerm",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Payment Term retrieved",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.paymentTerm"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.paymentTerm"
				],
				"summary": "Update vendor payment term",
				"description": "Update the payment term of the specified vendor from the company.",
				"operationId": "companies.vendors.UpdatePaymentTerm",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.paymentTerm"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "The payment term has been updated successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.paymentTerm"
				],
				"summary": "Delete vendor payment term",
				"description": "Delete the payment term of the specified vendor from the company.",
				"operationId": "companies.vendors.DeletePaymentTerm",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "The payment term has been deleted successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/picture": {
			"get": {
				"tags": [
					"companies.vendors.picture"
				],
				"summary": "Get vendor picture",
				"description": "Retrieve the properties of the picture for the specified vendor from the company.",
				"operationId": "companies.vendors.GetPicture",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"parentType",
									"width",
									"height",
									"contentType",
									"pictureContent"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "The picture properties have been retrieved successfully.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.picture"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.picture"
				],
				"summary": "Update vendor picture",
				"description": "Update the properties of the picture for the specified vendor from the company.",
				"operationId": "companies.vendors.UpdatePicture",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.picture"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "The picture properties have been updated successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.picture"
				],
				"summary": "Delete vendor picture.",
				"description": "Delete the picture of the specified vendor from the company.",
				"operationId": "companies.vendors.DeletePicture",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "The picture has been deleted successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/picture/pictureContent": {
			"get": {
				"tags": [
					"companies.vendors.picture"
				],
				"summary": "Get vendor picture media content",
				"description": "Retrieve the media content of the picture for the specified vendor from the company.",
				"operationId": "companies.vendors.GetPicturePictureContent",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"responses": {
					"200": {
						"description": "Picture Media Content retrieved",
						"content": {
							"application/octet-stream": {
								"schema": {
									"type": "string",
									"format": "binary"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/salespersonPurchaser": {
			"get": {
				"tags": [
					"companies.vendors.salespersonPurchaser"
				],
				"summary": "Get vendor salesperson/purchaser",
				"description": "Retrieve the salesperson/purchaser properties of the specified vendor from the company.",
				"operationId": "companies.vendors.GetSalespersonPurchaser",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Salesperson Purchaser retrieved",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.salespersonPurchaser"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.salespersonPurchaser"
				],
				"summary": "Update vendor salesperson/purchaser",
				"description": "Update the salesperson/purchaser properties of the specified vendor from the company.",
				"operationId": "companies.vendors.UpdateSalespersonPurchaser",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.salespersonPurchaser"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "The salesperson/purchaser has been updated successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.salespersonPurchaser"
				],
				"summary": "Delete vendor salesperson/purchaser",
				"description": "Delete the salesperson/purchaser properties of the specified vendor from the company.",
				"operationId": "companies.vendors.DeleteSalespersonPurchaser",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "The salesperson/purchaser has been deleted successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/shipmentMethod": {
			"get": {
				"tags": [
					"companies.vendors.shipmentMethod"
				],
				"summary": "Get vendor shipment method",
				"description": "Retrieve the shipment method of the specified vendor from the company.",
				"operationId": "companies.vendors.GetShipmentMethod",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Shipment Method retrieved",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.shipmentMethod"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.shipmentMethod"
				],
				"summary": "Update vendor shipment method",
				"description": "Update the shipment method of the specified vendor from the company.",
				"operationId": "companies.vendors.UpdateShipmentMethod",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.shipmentMethod"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "The shipment method has been updated successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.shipmentMethod"
				],
				"summary": "Delete vendor shipment method",
				"description": "Delete the shipment method of the specified vendor from the company.",
				"operationId": "companies.vendors.DeleteShipmentMethod",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "The shipment method has been deleted successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/vendorBankAccount": {
			"get": {
				"tags": [
					"companies.vendors.vendorBankAccount"
				],
				"summary": "Get vendor bank account",
				"description": "Retrieve the vendor bank account of the specified vendor from the company.",
				"operationId": "companies.vendors.GetVendorBankAccount",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Vendor Bank Account retrieved",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.vendorBankAccount"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.vendorBankAccount"
				],
				"summary": "Update vendor bank account",
				"description": "Update the vendor bank account of the specified vendor from the company.",
				"operationId": "companies.vendors.UpdateVendorBankAccount",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.vendorBankAccount"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "The vendor bank account has been updated successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.vendorBankAccount"
				],
				"summary": "Delete vendor bank account",
				"description": "Delete the vendor bank account of the specified vendor from the company.",
				"operationId": "companies.vendors.DeleteVendorBankAccount",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "The vendor back account has been deleted successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/vendorPostGroup": {
			"get": {
				"tags": [
					"companies.vendors.vendorPostGroup"
				],
				"summary": "Get vendor posting group",
				"description": "Retrieve the vendor posting group of the specified vendor from the company.",
				"operationId": "companies.vendors.GetVendorPostGroup",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Vendor Posting Group retrieved",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.vendorPostGroup"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.vendorPostGroup"
				],
				"summary": "Update vendor posting group",
				"description": "Update the vendor posting group of the specified vendor from the company.",
				"operationId": "companies.vendors.UpdateVendorPostGroup",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.vendorPostGroup"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "The vendor posting group has been updated successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.vendorPostGroup"
				],
				"summary": "Delete vendor posting group",
				"description": "Delete the vendor posting group of the specified vendor from the company.",
				"operationId": "companies.vendors.DeleteVendorPostGroup",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "The vendor posting group has been deleted successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/vendors": {
			"get": {
				"tags": [
					"vendors.vendor"
				],
				"summary": "Get vendors",
				"description": "Retrieve vendors from the default company.",
				"operationId": "vendors.vendor.ListVendor",
				"parameters": [
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"id desc",
									"number",
									"number desc",
									"displayName",
									"displayName desc",
									"displayName2",
									"displayName2 desc",
									"searchName",
									"searchName desc",
									"contact",
									"contact desc",
									"telexNo",
									"telexNo desc",
									"ourAccountNo",
									"ourAccountNo desc",
									"budgetedAmount",
									"budgetedAmount desc",
									"addressLine1",
									"addressLine1 desc",
									"addressLine2",
									"addressLine2 desc",
									"city",
									"city desc",
									"state",
									"state desc",
									"country",
									"country desc",
									"postalCode",
									"postalCode desc",
									"phoneNumber",
									"phoneNumber desc",
									"email",
									"email desc",
									"website",
									"website desc",
									"faxNo",
									"faxNo desc",
									"telexAnswerBack",
									"telexAnswerBack desc",
									"noSeries",
									"noSeries desc",
									"disableSearchByName",
									"disableSearchByName desc",
									"taxAreaCode",
									"taxAreaCode desc",
									"taxRegistrationNumber",
									"taxRegistrationNumber desc",
									"currencyId",
									"currencyId desc",
									"currencyCode",
									"currencyCode desc",
									"paymentTermsId",
									"paymentTermsId desc",
									"paymentTermsCode",
									"paymentTermsCode desc",
									"paymentMethodId",
									"paymentMethodId desc",
									"paymentMethodCode",
									"paymentMethodCode desc",
									"taxLiable",
									"taxLiable desc",
									"territoryCode",
									"territoryCode desc",
									"purchaserCode",
									"purchaserCode desc",
									"locationCode",
									"locationCode desc",
									"shipmentMethodCode",
									"shipmentMethodCode desc",
									"shippingAgentCode",
									"shippingAgentCode desc",
									"invoiceDiscCode",
									"invoiceDiscCode desc",
									"payToVendorNo",
									"payToVendorNo desc",
									"applicationMethod",
									"applicationMethod desc",
									"partnerType",
									"partnerType desc",
									"pricesIncludingVat",
									"pricesIncludingVat desc",
									"gln",
									"gln desc",
									"blockPaymentTolerance",
									"blockPaymentTolerance desc",
									"responsibilityCenter",
									"responsibilityCenter desc",
									"privacyBlocked",
									"privacyBlocked desc",
									"documentSendingProfile",
									"documentSendingProfile desc",
									"icPartnerCode",
									"icPartnerCode desc",
									"prepaymentPct",
									"prepaymentPct desc",
									"creditorNo",
									"creditorNo desc",
									"preferredBankAccountCode",
									"preferredBankAccountCode desc",
									"cashFlowPaymentTermsCode",
									"cashFlowPaymentTermsCode desc",
									"primaryContactNo",
									"primaryContactNo desc",
									"mobilePhoneNo",
									"mobilePhoneNo desc",
									"leadTimeCalculation",
									"leadTimeCalculation desc",
									"priceCalculationMethod",
									"priceCalculationMethod desc",
									"baseCalendarCode",
									"baseCalendarCode desc",
									"validateEUVatRegNo",
									"validateEUVatRegNo desc",
									"overReceiptCode",
									"overReceiptCode desc",
									"blocked",
									"blocked desc",
									"balance",
									"balance desc",
									"languageCode",
									"languageCode desc",
									"globalDimension1Code",
									"globalDimension1Code desc",
									"globalDimension2Code",
									"globalDimension2Code desc",
									"genBusPostingGroup",
									"genBusPostingGroup desc",
									"vendorPostingGroup",
									"vendorPostingGroup desc",
									"vatBusPostingGroup",
									"vatBusPostingGroup desc",
									"finChargeTermsCode",
									"finChargeTermsCode desc",
									"statisticsGroup",
									"statisticsGroup desc",
									"priority",
									"priority desc",
									"lastDateModified",
									"lastDateModified desc",
									"lastModifiedDateTime",
									"lastModifiedDateTime desc",
									"replicationCounter",
									"replicationCounter desc"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"number",
									"displayName",
									"displayName2",
									"searchName",
									"contact",
									"telexNo",
									"ourAccountNo",
									"budgetedAmount",
									"addressLine1",
									"addressLine2",
									"city",
									"state",
									"country",
									"postalCode",
									"phoneNumber",
									"email",
									"website",
									"faxNo",
									"telexAnswerBack",
									"noSeries",
									"disableSearchByName",
									"taxAreaCode",
									"taxRegistrationNumber",
									"currencyId",
									"currencyCode",
									"paymentTermsId",
									"paymentTermsCode",
									"paymentMethodId",
									"paymentMethodCode",
									"taxLiable",
									"territoryCode",
									"purchaserCode",
									"locationCode",
									"shipmentMethodCode",
									"shippingAgentCode",
									"invoiceDiscCode",
									"payToVendorNo",
									"applicationMethod",
									"partnerType",
									"pricesIncludingVat",
									"gln",
									"blockPaymentTolerance",
									"responsibilityCenter",
									"privacyBlocked",
									"documentSendingProfile",
									"icPartnerCode",
									"prepaymentPct",
									"creditorNo",
									"preferredBankAccountCode",
									"cashFlowPaymentTermsCode",
									"primaryContactNo",
									"mobilePhoneNo",
									"leadTimeCalculation",
									"priceCalculationMethod",
									"baseCalendarCode",
									"validateEUVatRegNo",
									"overReceiptCode",
									"blocked",
									"balance",
									"languageCode",
									"globalDimension1Code",
									"globalDimension2Code",
									"genBusPostingGroup",
									"vendorPostingGroup",
									"vatBusPostingGroup",
									"finChargeTermsCode",
									"statisticsGroup",
									"priority",
									"lastDateModified",
									"lastModifiedDateTime",
									"replicationCounter",
									"currency",
									"paymentTerm",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"shipmentMethod",
									"vendor",
									"vendorBankAccount",
									"dimensionValue",
									"vendorPostGroup",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"currency",
									"paymentTerm",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"shipmentMethod",
									"vendor",
									"vendorBankAccount",
									"dimensionValue",
									"vendorPostGroup",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Vendors retrieved",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of vendor",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.vendor"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				}
			},
			"post": {
				"tags": [
					"vendors.vendor"
				],
				"summary": "Create vendor",
				"description": "Create a vendor in the default company.",
				"operationId": "vendors.vendor.CreateVendor",
				"requestBody": {
					"description": "New entity",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.vendor"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Vendor created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.vendor"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/vendors({id})": {
			"get": {
				"tags": [
					"vendors.vendor"
				],
				"summary": "Get vendor",
				"description": "Retrieve the vendor from the default company according to the vendor ID.",
				"operationId": "vendors.vendor.GetVendor",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"number",
									"displayName",
									"displayName2",
									"searchName",
									"contact",
									"telexNo",
									"ourAccountNo",
									"budgetedAmount",
									"addressLine1",
									"addressLine2",
									"city",
									"state",
									"country",
									"postalCode",
									"phoneNumber",
									"email",
									"website",
									"faxNo",
									"telexAnswerBack",
									"noSeries",
									"disableSearchByName",
									"taxAreaCode",
									"taxRegistrationNumber",
									"currencyId",
									"currencyCode",
									"paymentTermsId",
									"paymentTermsCode",
									"paymentMethodId",
									"paymentMethodCode",
									"taxLiable",
									"territoryCode",
									"purchaserCode",
									"locationCode",
									"shipmentMethodCode",
									"shippingAgentCode",
									"invoiceDiscCode",
									"payToVendorNo",
									"applicationMethod",
									"partnerType",
									"pricesIncludingVat",
									"gln",
									"blockPaymentTolerance",
									"responsibilityCenter",
									"privacyBlocked",
									"documentSendingProfile",
									"icPartnerCode",
									"prepaymentPct",
									"creditorNo",
									"preferredBankAccountCode",
									"cashFlowPaymentTermsCode",
									"primaryContactNo",
									"mobilePhoneNo",
									"leadTimeCalculation",
									"priceCalculationMethod",
									"baseCalendarCode",
									"validateEUVatRegNo",
									"overReceiptCode",
									"blocked",
									"balance",
									"languageCode",
									"globalDimension1Code",
									"globalDimension2Code",
									"genBusPostingGroup",
									"vendorPostingGroup",
									"vatBusPostingGroup",
									"finChargeTermsCode",
									"statisticsGroup",
									"priority",
									"lastDateModified",
									"lastModifiedDateTime",
									"replicationCounter",
									"currency",
									"paymentTerm",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"shipmentMethod",
									"vendor",
									"vendorBankAccount",
									"dimensionValue",
									"vendorPostGroup",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"currency",
									"paymentTerm",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"shipmentMethod",
									"vendor",
									"vendorBankAccount",
									"dimensionValue",
									"vendorPostGroup",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Vendor retrieved",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.vendor"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"vendors.vendor"
				],
				"summary": "Update vendor",
				"description": "Update the vendor in the default company.",
				"operationId": "vendors.vendor.UpdateVendor",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.vendor"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "The vendor has been updated successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"vendors.vendor"
				],
				"summary": "Delete vendor",
				"description": "Delete the vendor from the default company.",
				"operationId": "vendors.vendor.DeleteVendor",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "The vendor has been deleted successfully."
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		}
	},
	"components": {
		"schemas": {
			"Microsoft.NAV.vendor": {
				"title": "vendor",
				"type": "object",
				"properties": {
					"id": {
						"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
						"type": "string",
						"format": "uuid"
					},
					"number": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"displayName": {
						"maxLength": 100,
						"type": "string",
						"nullable": true
					},
					"displayName2": {
						"maxLength": 50,
						"type": "string",
						"nullable": true
					},
					"searchName": {
						"maxLength": 100,
						"type": "string",
						"nullable": true
					},
					"contact": {
						"maxLength": 100,
						"type": "string",
						"nullable": true
					},
					"telexNo": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"ourAccountNo": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"budgetedAmount": {
						"type": "number",
						"format": "decimal",
						"nullable": true
					},
					"addressLine1": {
						"maxLength": 100,
						"type": "string",
						"nullable": true
					},
					"addressLine2": {
						"maxLength": 50,
						"type": "string",
						"nullable": true
					},
					"city": {
						"maxLength": 30,
						"type": "string",
						"nullable": true
					},
					"state": {
						"maxLength": 30,
						"type": "string",
						"nullable": true
					},
					"country": {
						"maxLength": 10,
						"type": "string",
						"nullable": true
					},
					"postalCode": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"phoneNumber": {
						"maxLength": 30,
						"type": "string",
						"nullable": true
					},
					"email": {
						"maxLength": 80,
						"type": "string",
						"nullable": true
					},
					"website": {
						"maxLength": 80,
						"type": "string",
						"nullable": true
					},
					"faxNo": {
						"maxLength": 30,
						"type": "string",
						"nullable": true
					},
					"telexAnswerBack": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"noSeries": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"disableSearchByName": {
						"type": "boolean",
						"nullable": true
					},
					"taxAreaCode": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"taxRegistrationNumber": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"currencyId": {
						"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
						"type": "string",
						"format": "uuid",
						"nullable": true
					},
					"currencyCode": {
						"type": "string",
						"nullable": true
					},
					"paymentTermsId": {
						"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
						"type": "string",
						"format": "uuid",
						"nullable": true
					},
					"paymentTermsCode": {
						"maxLength": 10,
						"type": "string",
						"nullable": true
					},
					"paymentMethodId": {
						"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
						"type": "string",
						"format": "uuid",
						"nullable": true
					},
					"paymentMethodCode": {
						"maxLength": 10,
						"type": "string",
						"nullable": true
					},
					"taxLiable": {
						"type": "boolean",
						"nullable": true
					},
					"territoryCode": {
						"maxLength": 10,
						"type": "string",
						"nullable": true
					},
					"purchaserCode": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"locationCode": {
						"maxLength": 10,
						"type": "string",
						"nullable": true
					},
					"shipmentMethodCode": {
						"maxLength": 10,
						"type": "string",
						"nullable": true
					},
					"shippingAgentCode": {
						"maxLength": 10,
						"type": "string",
						"nullable": true
					},
					"invoiceDiscCode": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"payToVendorNo": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"applicationMethod": {
						"type": "string",
						"nullable": true
					},
					"partnerType": {
						"type": "string",
						"nullable": true
					},
					"pricesIncludingVat": {
						"type": "boolean",
						"nullable": true
					},
					"gln": {
						"maxLength": 13,
						"type": "string",
						"nullable": true
					},
					"blockPaymentTolerance": {
						"type": "boolean",
						"nullable": true
					},
					"responsibilityCenter": {
						"maxLength": 10,
						"type": "string",
						"nullable": true
					},
					"privacyBlocked": {
						"type": "boolean",
						"nullable": true
					},
					"documentSendingProfile": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"icPartnerCode": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"prepaymentPct": {
						"type": "number",
						"format": "decimal",
						"nullable": true
					},
					"creditorNo": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"preferredBankAccountCode": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"cashFlowPaymentTermsCode": {
						"maxLength": 10,
						"type": "string",
						"nullable": true
					},
					"primaryContactNo": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"mobilePhoneNo": {
						"maxLength": 30,
						"type": "string",
						"nullable": true
					},
					"leadTimeCalculation": {
						"type": "string",
						"nullable": true
					},
					"priceCalculationMethod": {
						"type": "string",
						"nullable": true
					},
					"baseCalendarCode": {
						"maxLength": 10,
						"type": "string",
						"nullable": true
					},
					"validateEUVatRegNo": {
						"type": "boolean",
						"nullable": true
					},
					"overReceiptCode": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"blocked": {
						"type": "string",
						"nullable": true
					},
					"balance": {
						"type": "number",
						"format": "decimal",
						"nullable": true
					},
					"languageCode": {
						"maxLength": 10,
						"type": "string",
						"nullable": true
					},
					"globalDimension1Code": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"globalDimension2Code": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"genBusPostingGroup": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"vendorPostingGroup": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"vatBusPostingGroup": {
						"maxLength": 20,
						"type": "string",
						"nullable": true
					},
					"finChargeTermsCode": {
						"maxLength": 10,
						"type": "string",
						"nullable": true
					},
					"statisticsGroup": {
						"maximum": 2147483647,
						"minimum": -2147483648,
						"type": "integer",
						"format": "int32",
						"nullable": true
					},
					"priority": {
						"maximum": 2147483647,
						"minimum": -2147483648,
						"type": "integer",
						"format": "int32",
						"nullable": true
					},
					"lastDateModified": {
						"pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$",
						"type": "string",
						"format": "date",
						"nullable": true
					},
					"lastModifiedDateTime": {
						"pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
						"type": "string",
						"format": "date-time",
						"nullable": true
					},
					"replicationCounter": {
						"type": "integer",
						"format": "int64",
						"nullable": true
					},
					"currency": {
						"anyOf": [
							{
								"$ref": "#/components/schemas/Microsoft.NAV.currency"
							}
						],
						"nullable": true
					},
					"paymentTerm": {
						"anyOf": [
							{
								"$ref": "#/components/schemas/Microsoft.NAV.paymentTerm"
							}
						],
						"nullable": true
					},
					"paymentMethod": {
						"anyOf": [
							{
								"$ref": "#/components/schemas/Microsoft.NAV.paymentMethod"
							}
						],
						"nullable": true
					},
					"salespersonPurchaser": {
						"anyOf": [
							{
								"$ref": "#/components/schemas/Microsoft.NAV.salespersonPurchaser"
							}
						],
						"nullable": true
					},
					"location": {
						"anyOf": [
							{
								"$ref": "#/components/schemas/Microsoft.NAV.location"
							}
						],
						"nullable": true
					},
					"shipmentMethod": {
						"anyOf": [
							{
								"$ref": "#/components/schemas/Microsoft.NAV.shipmentMethod"
							}
						],
						"nullable": true
					},
					"vendor": {
						"anyOf": [
							{
								"$ref": "#/components/schemas/Microsoft.NAV.vendor"
							}
						],
						"nullable": true
					},
					"vendorBankAccount": {
						"anyOf": [
							{
[...]
