{
	"openapi": "3.0.1",
	"info": {
		"title": "Navipartner API Vendors",
		"description": "These examples show how to use Navipartner Vendors API"
	},
	"servers": [
		{
			"url": "https://api.businesscentral.dynamics.com/v2.0/{environmentName}/api/navipartner/core/v1.0/",
			"variables": {
				"environmentName": {
					"default": "REPLACE_ME",
					"description": "Environment name"
				}
			},
			"description": "Microsoft BC Cloud"
		},
		{
			"url": "https://{tenantId}.dynamics-retail.com:7069/BC/api/navipartner/core/v1.0/",
			"variables": {
				"tenantId": {
					"default": "REPLACE_ME",
					"description": "Tenant ID"
				}
			},
			"description": "NaviPartner OnPrem"
		},
		{
			"url": "https://{containerName}.dynamics-retail.net:443/BC/api/navipartner/core/v1.0/",
			"variables": {
				"containerName": {
					"default": "REPLACE_ME",
					"description": "Container Name"
				}
			},
			"description": "NaviPartner Crane Container"
		}
	],
	"security": [
		{
			"BasicAuth": [],
			"OAuth2": [
				"https://api.businesscentral.dynamics.com/.default"
			]
		}
	],
	"paths": {
		"/companies": {
			"get": {
				"tags": [
					"companies.company"
				],
				"summary": "Get entities from companies",
				"operationId": "companies.company.ListCompany",
				"parameters": [
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"id desc",
									"systemVersion",
									"systemVersion desc",
									"name",
									"name desc",
									"displayName",
									"displayName desc",
									"businessProfileId",
									"businessProfileId desc",
									"systemCreatedAt",
									"systemCreatedAt desc",
									"systemCreatedBy",
									"systemCreatedBy desc",
									"systemModifiedAt",
									"systemModifiedAt desc",
									"systemModifiedBy",
									"systemModifiedBy desc"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"systemVersion",
									"name",
									"displayName",
									"businessProfileId",
									"systemCreatedAt",
									"systemCreatedBy",
									"systemModifiedAt",
									"systemModifiedBy",
									"vendors"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"vendors"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of company",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.company"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				}
			}
		},
		"/companies({id})": {
			"get": {
				"tags": [
					"companies.company"
				],
				"summary": "Get entity from companies by key",
				"operationId": "companies.company.GetCompany",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"systemVersion",
									"name",
									"displayName",
									"businessProfileId",
									"systemCreatedAt",
									"systemCreatedBy",
									"systemModifiedAt",
									"systemModifiedBy",
									"vendors"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"vendors"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.company"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors": {
			"get": {
				"tags": [
					"companies.vendor"
				],
				"summary": "Get vendors from companies",
				"operationId": "companies.ListVendors",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"id desc",
									"number",
									"number desc",
									"displayName",
									"displayName desc",
									"displayName2",
									"displayName2 desc",
									"searchName",
									"searchName desc",
									"contact",
									"contact desc",
									"telexNo",
									"telexNo desc",
									"ourAccountNo",
									"ourAccountNo desc",
									"budgetedAmount",
									"budgetedAmount desc",
									"addressLine1",
									"addressLine1 desc",
									"addressLine2",
									"addressLine2 desc",
									"city",
									"city desc",
									"state",
									"state desc",
									"country",
									"country desc",
									"postalCode",
									"postalCode desc",
									"phoneNumber",
									"phoneNumber desc",
									"email",
									"email desc",
									"website",
									"website desc",
									"faxNo",
									"faxNo desc",
									"telexAnswerBack",
									"telexAnswerBack desc",
									"noSeries",
									"noSeries desc",
									"disableSearchByName",
									"disableSearchByName desc",
									"taxAreaCode",
									"taxAreaCode desc",
									"taxRegistrationNumber",
									"taxRegistrationNumber desc",
									"currencyId",
									"currencyId desc",
									"currencyCode",
									"currencyCode desc",
									"paymentTermsId",
									"paymentTermsId desc",
									"paymentTermsCode",
									"paymentTermsCode desc",
									"paymentMethodId",
									"paymentMethodId desc",
									"paymentMethodCode",
									"paymentMethodCode desc",
									"taxLiable",
									"taxLiable desc",
									"territoryCode",
									"territoryCode desc",
									"purchaserCode",
									"purchaserCode desc",
									"locationCode",
									"locationCode desc",
									"shipmentMethodCode",
									"shipmentMethodCode desc",
									"shippingAgentCode",
									"shippingAgentCode desc",
									"invoiceDiscCode",
									"invoiceDiscCode desc",
									"payToVendorNo",
									"payToVendorNo desc",
									"applicationMethod",
									"applicationMethod desc",
									"partnerType",
									"partnerType desc",
									"pricesIncludingVat",
									"pricesIncludingVat desc",
									"gln",
									"gln desc",
									"blockPaymentTolerance",
									"blockPaymentTolerance desc",
									"responsibilityCenter",
									"responsibilityCenter desc",
									"privacyBlocked",
									"privacyBlocked desc",
									"documentSendingProfile",
									"documentSendingProfile desc",
									"icPartnerCode",
									"icPartnerCode desc",
									"prepaymentPct",
									"prepaymentPct desc",
									"creditorNo",
									"creditorNo desc",
									"preferredBankAccountCode",
									"preferredBankAccountCode desc",
									"cashFlowPaymentTermsCode",
									"cashFlowPaymentTermsCode desc",
									"primaryContactNo",
									"primaryContactNo desc",
									"mobilePhoneNo",
									"mobilePhoneNo desc",
									"leadTimeCalculation",
									"leadTimeCalculation desc",
									"priceCalculationMethod",
									"priceCalculationMethod desc",
									"baseCalendarCode",
									"baseCalendarCode desc",
									"validateEUVatRegNo",
									"validateEUVatRegNo desc",
									"overReceiptCode",
									"overReceiptCode desc",
									"blocked",
									"blocked desc",
									"balance",
									"balance desc",
									"languageCode",
									"languageCode desc",
									"globalDimension1Code",
									"globalDimension1Code desc",
									"globalDimension2Code",
									"globalDimension2Code desc",
									"genBusPostingGroup",
									"genBusPostingGroup desc",
									"vendorPostingGroup",
									"vendorPostingGroup desc",
									"vatBusPostingGroup",
									"vatBusPostingGroup desc",
									"finChargeTermsCode",
									"finChargeTermsCode desc",
									"statisticsGroup",
									"statisticsGroup desc",
									"priority",
									"priority desc",
									"lastDateModified",
									"lastDateModified desc",
									"lastModifiedDateTime",
									"lastModifiedDateTime desc",
									"replicationCounter",
									"replicationCounter desc"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"number",
									"displayName",
									"displayName2",
									"searchName",
									"contact",
									"telexNo",
									"ourAccountNo",
									"budgetedAmount",
									"addressLine1",
									"addressLine2",
									"city",
									"state",
									"country",
									"postalCode",
									"phoneNumber",
									"email",
									"website",
									"faxNo",
									"telexAnswerBack",
									"noSeries",
									"disableSearchByName",
									"taxAreaCode",
									"taxRegistrationNumber",
									"currencyId",
									"currencyCode",
									"paymentTermsId",
									"paymentTermsCode",
									"paymentMethodId",
									"paymentMethodCode",
									"taxLiable",
									"territoryCode",
									"purchaserCode",
									"locationCode",
									"shipmentMethodCode",
									"shippingAgentCode",
									"invoiceDiscCode",
									"payToVendorNo",
									"applicationMethod",
									"partnerType",
									"pricesIncludingVat",
									"gln",
									"blockPaymentTolerance",
									"responsibilityCenter",
									"privacyBlocked",
									"documentSendingProfile",
									"icPartnerCode",
									"prepaymentPct",
									"creditorNo",
									"preferredBankAccountCode",
									"cashFlowPaymentTermsCode",
									"primaryContactNo",
									"mobilePhoneNo",
									"leadTimeCalculation",
									"priceCalculationMethod",
									"baseCalendarCode",
									"validateEUVatRegNo",
									"overReceiptCode",
									"blocked",
									"balance",
									"languageCode",
									"globalDimension1Code",
									"globalDimension2Code",
									"genBusPostingGroup",
									"vendorPostingGroup",
									"vatBusPostingGroup",
									"finChargeTermsCode",
									"statisticsGroup",
									"priority",
									"lastDateModified",
									"lastModifiedDateTime",
									"replicationCounter",
									"currency",
									"paymentTerm",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"shipmentMethod",
									"vendor",
									"vendorBankAccount",
									"dimensionValue",
									"vendorPostGroup",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"currency",
									"paymentTerm",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"shipmentMethod",
									"vendor",
									"vendorBankAccount",
									"dimensionValue",
									"vendorPostGroup",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of vendor",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.vendor"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"post": {
				"tags": [
					"companies.vendor"
				],
				"summary": "Create new navigation property to vendors for companies",
				"operationId": "companies.CreateVendors",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					}
				],
				"requestBody": {
					"description": "New navigation property",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.vendor"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created navigation property.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.vendor"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})": {
			"get": {
				"tags": [
					"companies.vendor"
				],
				"summary": "Get vendors from companies",
				"operationId": "companies.GetVendors",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"number",
									"displayName",
									"displayName2",
									"searchName",
									"contact",
									"telexNo",
									"ourAccountNo",
									"budgetedAmount",
									"addressLine1",
									"addressLine2",
									"city",
									"state",
									"country",
									"postalCode",
									"phoneNumber",
									"email",
									"website",
									"faxNo",
									"telexAnswerBack",
									"noSeries",
									"disableSearchByName",
									"taxAreaCode",
									"taxRegistrationNumber",
									"currencyId",
									"currencyCode",
									"paymentTermsId",
									"paymentTermsCode",
									"paymentMethodId",
									"paymentMethodCode",
									"taxLiable",
									"territoryCode",
									"purchaserCode",
									"locationCode",
									"shipmentMethodCode",
									"shippingAgentCode",
									"invoiceDiscCode",
									"payToVendorNo",
									"applicationMethod",
									"partnerType",
									"pricesIncludingVat",
									"gln",
									"blockPaymentTolerance",
									"responsibilityCenter",
									"privacyBlocked",
									"documentSendingProfile",
									"icPartnerCode",
									"prepaymentPct",
									"creditorNo",
									"preferredBankAccountCode",
									"cashFlowPaymentTermsCode",
									"primaryContactNo",
									"mobilePhoneNo",
									"leadTimeCalculation",
									"priceCalculationMethod",
									"baseCalendarCode",
									"validateEUVatRegNo",
									"overReceiptCode",
									"blocked",
									"balance",
									"languageCode",
									"globalDimension1Code",
									"globalDimension2Code",
									"genBusPostingGroup",
									"vendorPostingGroup",
									"vatBusPostingGroup",
									"finChargeTermsCode",
									"statisticsGroup",
									"priority",
									"lastDateModified",
									"lastModifiedDateTime",
									"replicationCounter",
									"currency",
									"paymentTerm",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"shipmentMethod",
									"vendor",
									"vendorBankAccount",
									"dimensionValue",
									"vendorPostGroup",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"currency",
									"paymentTerm",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"shipmentMethod",
									"vendor",
									"vendorBankAccount",
									"dimensionValue",
									"vendorPostGroup",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.vendor"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendor"
				],
				"summary": "Update the navigation property vendors in companies",
				"operationId": "companies.UpdateVendors",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.vendor"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendor"
				],
				"summary": "Delete navigation property vendors for companies",
				"operationId": "companies.DeleteVendors",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/currency": {
			"get": {
				"tags": [
					"companies.vendors.currency"
				],
				"summary": "Get currency from companies",
				"operationId": "companies.vendors.GetCurrency",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.currency"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.currency"
				],
				"summary": "Update the navigation property currency in companies",
				"operationId": "companies.vendors.UpdateCurrency",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.currency"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.currency"
				],
				"summary": "Delete navigation property currency for companies",
				"operationId": "companies.vendors.DeleteCurrency",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/defaultDimensions": {
			"get": {
				"tags": [
					"companies.vendors.defaultDimension"
				],
				"summary": "Get defaultDimensions from companies",
				"operationId": "companies.vendors.ListDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of defaultDimension",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"post": {
				"tags": [
					"companies.vendors.defaultDimension"
				],
				"summary": "Create new navigation property to defaultDimensions for companies",
				"operationId": "companies.vendors.CreateDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created navigation property.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/defaultDimensions()": {
			"get": {
				"tags": [
					"companies.vendors.defaultDimension"
				],
				"summary": "Get defaultDimensions from companies",
				"operationId": "companies.vendors.GetDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.defaultDimension"
				],
				"summary": "Update the navigation property defaultDimensions in companies",
				"operationId": "companies.vendors.UpdateDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.defaultDimension"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.defaultDimension"
				],
				"summary": "Delete navigation property defaultDimensions for companies",
				"operationId": "companies.vendors.DeleteDefaultDimensions",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/dimensionValue": {
			"get": {
				"tags": [
					"companies.vendors.dimensionValue"
				],
				"summary": "Get dimensionValue from companies",
				"operationId": "companies.vendors.GetDimensionValue",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.dimensionValue"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.dimensionValue"
				],
				"summary": "Update the navigation property dimensionValue in companies",
				"operationId": "companies.vendors.UpdateDimensionValue",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.dimensionValue"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.dimensionValue"
				],
				"summary": "Delete navigation property dimensionValue for companies",
				"operationId": "companies.vendors.DeleteDimensionValue",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/location": {
			"get": {
				"tags": [
					"companies.vendors.location"
				],
				"summary": "Get location from companies",
				"operationId": "companies.vendors.GetLocation",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.location"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.location"
				],
				"summary": "Update the navigation property location in companies",
				"operationId": "companies.vendors.UpdateLocation",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.location"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.location"
				],
				"summary": "Delete navigation property location for companies",
				"operationId": "companies.vendors.DeleteLocation",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/paymentMethod": {
			"get": {
				"tags": [
					"companies.vendors.paymentMethod"
				],
				"summary": "Get paymentMethod from companies",
				"operationId": "companies.vendors.GetPaymentMethod",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.paymentMethod"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.paymentMethod"
				],
				"summary": "Update the navigation property paymentMethod in companies",
				"operationId": "companies.vendors.UpdatePaymentMethod",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.paymentMethod"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.paymentMethod"
				],
				"summary": "Delete navigation property paymentMethod for companies",
				"operationId": "companies.vendors.DeletePaymentMethod",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/paymentTerm": {
			"get": {
				"tags": [
					"companies.vendors.paymentTerm"
				],
				"summary": "Get paymentTerm from companies",
				"operationId": "companies.vendors.GetPaymentTerm",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.paymentTerm"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.paymentTerm"
				],
				"summary": "Update the navigation property paymentTerm in companies",
				"operationId": "companies.vendors.UpdatePaymentTerm",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.paymentTerm"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.paymentTerm"
				],
				"summary": "Delete navigation property paymentTerm for companies",
				"operationId": "companies.vendors.DeletePaymentTerm",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/picture": {
			"get": {
				"tags": [
					"companies.vendors.picture"
				],
				"summary": "Get picture from companies",
				"operationId": "companies.vendors.GetPicture",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"parentType",
									"width",
									"height",
									"contentType",
									"pictureContent"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.picture"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.picture"
				],
				"summary": "Update the navigation property picture in companies",
				"operationId": "companies.vendors.UpdatePicture",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.picture"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.picture"
				],
				"summary": "Delete navigation property picture for companies",
				"operationId": "companies.vendors.DeletePicture",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/picture/pictureContent": {
			"get": {
				"tags": [
					"companies.vendors.picture"
				],
				"summary": "Get media content for the navigation property picture from companies",
				"operationId": "companies.vendors.GetPicturePictureContent",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved media content",
						"content": {
							"application/octet-stream": {
								"schema": {
									"type": "string",
									"format": "binary"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/salespersonPurchaser": {
			"get": {
				"tags": [
					"companies.vendors.salespersonPurchaser"
				],
				"summary": "Get salespersonPurchaser from companies",
				"operationId": "companies.vendors.GetSalespersonPurchaser",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.salespersonPurchaser"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.salespersonPurchaser"
				],
				"summary": "Update the navigation property salespersonPurchaser in companies",
				"operationId": "companies.vendors.UpdateSalespersonPurchaser",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.salespersonPurchaser"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.salespersonPurchaser"
				],
				"summary": "Delete navigation property salespersonPurchaser for companies",
				"operationId": "companies.vendors.DeleteSalespersonPurchaser",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/shipmentMethod": {
			"get": {
				"tags": [
					"companies.vendors.shipmentMethod"
				],
				"summary": "Get shipmentMethod from companies",
				"operationId": "companies.vendors.GetShipmentMethod",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.shipmentMethod"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.shipmentMethod"
				],
				"summary": "Update the navigation property shipmentMethod in companies",
				"operationId": "companies.vendors.UpdateShipmentMethod",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.shipmentMethod"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.shipmentMethod"
				],
				"summary": "Delete navigation property shipmentMethod for companies",
				"operationId": "companies.vendors.DeleteShipmentMethod",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/vendor": {
			"get": {
				"tags": [
					"companies.vendors.vendor"
				],
				"summary": "Get vendor from companies",
				"operationId": "companies.vendors.GetVendor",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"number",
									"displayName",
									"displayName2",
									"searchName",
									"contact",
									"telexNo",
									"ourAccountNo",
									"budgetedAmount",
									"addressLine1",
									"addressLine2",
									"city",
									"state",
									"country",
									"postalCode",
									"phoneNumber",
									"email",
									"website",
									"faxNo",
									"telexAnswerBack",
									"noSeries",
									"disableSearchByName",
									"taxAreaCode",
									"taxRegistrationNumber",
									"currencyId",
									"currencyCode",
									"paymentTermsId",
									"paymentTermsCode",
									"paymentMethodId",
									"paymentMethodCode",
									"taxLiable",
									"territoryCode",
									"purchaserCode",
									"locationCode",
									"shipmentMethodCode",
									"shippingAgentCode",
									"invoiceDiscCode",
									"payToVendorNo",
									"applicationMethod",
									"partnerType",
									"pricesIncludingVat",
									"gln",
									"blockPaymentTolerance",
									"responsibilityCenter",
									"privacyBlocked",
									"documentSendingProfile",
									"icPartnerCode",
									"prepaymentPct",
									"creditorNo",
									"preferredBankAccountCode",
									"cashFlowPaymentTermsCode",
									"primaryContactNo",
									"mobilePhoneNo",
									"leadTimeCalculation",
									"priceCalculationMethod",
									"baseCalendarCode",
									"validateEUVatRegNo",
									"overReceiptCode",
									"blocked",
									"balance",
									"languageCode",
									"globalDimension1Code",
									"globalDimension2Code",
									"genBusPostingGroup",
									"vendorPostingGroup",
									"vatBusPostingGroup",
									"finChargeTermsCode",
									"statisticsGroup",
									"priority",
									"lastDateModified",
									"lastModifiedDateTime",
									"replicationCounter",
									"currency",
									"paymentTerm",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"shipmentMethod",
									"vendor",
									"vendorBankAccount",
									"dimensionValue",
									"vendorPostGroup",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*",
									"currency",
									"paymentTerm",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
									"shipmentMethod",
									"vendor",
									"vendorBankAccount",
									"dimensionValue",
									"vendorPostGroup",
									"picture",
									"defaultDimensions"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.vendor"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.vendor"
				],
				"summary": "Update the navigation property vendor in companies",
				"operationId": "companies.vendors.UpdateVendor",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.vendor"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.vendor"
				],
				"summary": "Delete navigation property vendor for companies",
				"operationId": "companies.vendors.DeleteVendor",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/vendorBankAccount": {
			"get": {
				"tags": [
					"companies.vendors.vendorBankAccount"
				],
				"summary": "Get vendorBankAccount from companies",
				"operationId": "companies.vendors.GetVendorBankAccount",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.vendorBankAccount"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.vendorBankAccount"
				],
				"summary": "Update the navigation property vendorBankAccount in companies",
				"operationId": "companies.vendors.UpdateVendorBankAccount",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.vendorBankAccount"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.vendorBankAccount"
				],
				"summary": "Delete navigation property vendorBankAccount for companies",
				"operationId": "companies.vendors.DeleteVendorBankAccount",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/companies({id})/vendors({id1})/vendorPostGroup": {
			"get": {
				"tags": [
					"companies.vendors.vendorPostGroup"
				],
				"summary": "Get vendorPostGroup from companies",
				"operationId": "companies.vendors.GetVendorPostGroup",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved navigation property",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.vendorPostGroup"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"companies.vendors.vendorPostGroup"
				],
				"summary": "Update the navigation property vendorPostGroup in companies",
				"operationId": "companies.vendors.UpdateVendorPostGroup",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					}
				],
				"requestBody": {
					"description": "New navigation property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.vendorPostGroup"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"companies.vendors.vendorPostGroup"
				],
				"summary": "Delete navigation property vendorPostGroup for companies",
				"operationId": "companies.vendors.DeleteVendorPostGroup",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "key: id of company",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "company"
					},
					{
						"name": "id1",
						"in": "path",
						"description": "key: id of vendor",
						"required": true,
						"schema": {
							"pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
							"type": "string",
							"format": "uuid"
						},
						"x-ms-docs-key-type": "vendor"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/entityDefinitions": {
			"get": {
				"tags": [
					"entityDefinitions.entityMetadata"
				],
				"summary": "Get entities from entityDefinitions",
				"operationId": "entityDefinitions.entityMetadata.ListEntityMetadata",
				"parameters": [
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"entityName",
									"entityName desc",
									"entitySetName",
									"entitySetName desc",
									"entityCaptions",
									"entityCaptions desc",
									"entitySetCaptions",
									"entitySetCaptions desc",
									"properties",
									"properties desc",
									"actions",
									"actions desc",
									"enumMembers",
									"enumMembers desc"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"entityName",
									"entitySetName",
									"entityCaptions",
									"entitySetCaptions",
									"properties",
									"actions",
									"enumMembers"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"content": {
							"application/json": {
								"schema": {
									"title": "Collection of entityMetadata",
									"type": "object",
									"properties": {
										"value": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Microsoft.NAV.entityMetadata"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				}
			},
			"post": {
				"tags": [
					"entityDefinitions.entityMetadata"
				],
				"summary": "Add new entity to entityDefinitions",
				"operationId": "entityDefinitions.entityMetadata.CreateEntityMetadata",
				"requestBody": {
					"description": "New entity",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.entityMetadata"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created entity",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.entityMetadata"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/entityDefinitions({entityName})": {
			"get": {
				"tags": [
					"entityDefinitions.entityMetadata"
				],
				"summary": "Get entity from entityDefinitions by key",
				"operationId": "entityDefinitions.entityMetadata.GetEntityMetadata",
				"parameters": [
					{
						"name": "entityName",
						"in": "path",
						"description": "key: entityName of entityMetadata",
						"required": true,
						"schema": {
							"type": "string"
						},
						"x-ms-docs-key-type": "entityMetadata"
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"entityName",
									"entitySetName",
									"entityCaptions",
									"entitySetCaptions",
									"properties",
									"actions",
									"enumMembers"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$expand",
						"in": "query",
						"description": "Expand related entities",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"*"
								],
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.NAV.entityMetadata"
								}
							}
						}
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"patch": {
				"tags": [
					"entityDefinitions.entityMetadata"
				],
				"summary": "Update entity in entityDefinitions",
				"operationId": "entityDefinitions.entityMetadata.UpdateEntityMetadata",
				"parameters": [
					{
						"name": "entityName",
						"in": "path",
						"description": "key: entityName of entityMetadata",
						"required": true,
						"schema": {
							"type": "string"
						},
						"x-ms-docs-key-type": "entityMetadata"
					}
				],
				"requestBody": {
					"description": "New property values",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Microsoft.NAV.entityMetadata"
							}
						}
					},
					"required": true
				},
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			},
			"delete": {
				"tags": [
					"entityDefinitions.entityMetadata"
				],
				"summary": "Delete entity from entityDefinitions",
				"operationId": "entityDefinitions.entityMetadata.DeleteEntityMetadata",
				"parameters": [
					{
						"name": "entityName",
						"in": "path",
						"description": "key: entityName of entityMetadata",
						"required": true,
						"schema": {
							"type": "string"
						},
						"x-ms-docs-key-type": "entityMetadata"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "ETag",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/components/responses/error"
					}
				},
				"x-ms-docs-operation-type": "operation"
			}
		},
		"/vendors": {
			"get": {
				"tags": [
					"vendors.vendor"
				],
				"summary": "Get entities from vendors",
				"operationId": "vendors.vendor.ListVendor",
				"parameters": [
					{
						"$ref": "#/components/parameters/top"
					},
					{
						"$ref": "#/components/parameters/skip"
					},
					{
						"$ref": "#/components/parameters/search"
					},
					{
						"$ref": "#/components/parameters/filter"
					},
					{
						"$ref": "#/components/parameters/count"
					},
					{
						"name": "$orderby",
						"in": "query",
						"description": "Order items by property values",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"id desc",
									"number",
									"number desc",
									"displayName",
									"displayName desc",
									"displayName2",
									"displayName2 desc",
									"searchName",
									"searchName desc",
									"contact",
									"contact desc",
									"telexNo",
									"telexNo desc",
									"ourAccountNo",
									"ourAccountNo desc",
									"budgetedAmount",
									"budgetedAmount desc",
									"addressLine1",
									"addressLine1 desc",
									"addressLine2",
									"addressLine2 desc",
									"city",
									"city desc",
									"state",
									"state desc",
									"country",
									"country desc",
									"postalCode",
									"postalCode desc",
									"phoneNumber",
									"phoneNumber desc",
									"email",
									"email desc",
									"website",
									"website desc",
									"faxNo",
									"faxNo desc",
									"telexAnswerBack",
									"telexAnswerBack desc",
									"noSeries",
									"noSeries desc",
									"disableSearchByName",
									"disableSearchByName desc",
									"taxAreaCode",
									"taxAreaCode desc",
									"taxRegistrationNumber",
									"taxRegistrationNumber desc",
									"currencyId",
									"currencyId desc",
									"currencyCode",
									"currencyCode desc",
									"paymentTermsId",
									"paymentTermsId desc",
									"paymentTermsCode",
									"paymentTermsCode desc",
									"paymentMethodId",
									"paymentMethodId desc",
									"paymentMethodCode",
									"paymentMethodCode desc",
									"taxLiable",
									"taxLiable desc",
									"territoryCode",
									"territoryCode desc",
									"purchaserCode",
									"purchaserCode desc",
									"locationCode",
									"locationCode desc",
									"shipmentMethodCode",
									"shipmentMethodCode desc",
									"shippingAgentCode",
									"shippingAgentCode desc",
									"invoiceDiscCode",
									"invoiceDiscCode desc",
									"payToVendorNo",
									"payToVendorNo desc",
									"applicationMethod",
									"applicationMethod desc",
									"partnerType",
									"partnerType desc",
									"pricesIncludingVat",
									"pricesIncludingVat desc",
									"gln",
									"gln desc",
									"blockPaymentTolerance",
									"blockPaymentTolerance desc",
									"responsibilityCenter",
									"responsibilityCenter desc",
									"privacyBlocked",
									"privacyBlocked desc",
									"documentSendingProfile",
									"documentSendingProfile desc",
									"icPartnerCode",
									"icPartnerCode desc",
									"prepaymentPct",
									"prepaymentPct desc",
									"creditorNo",
									"creditorNo desc",
									"preferredBankAccountCode",
									"preferredBankAccountCode desc",
									"cashFlowPaymentTermsCode",
									"cashFlowPaymentTermsCode desc",
									"primaryContactNo",
									"primaryContactNo desc",
									"mobilePhoneNo",
									"mobilePhoneNo desc",
									"leadTimeCalculation",
									"leadTimeCalculation desc",
									"priceCalculationMethod",
									"priceCalculationMethod desc",
									"baseCalendarCode",
									"baseCalendarCode desc",
									"validateEUVatRegNo",
									"validateEUVatRegNo desc",
									"overReceiptCode",
									"overReceiptCode desc",
									"blocked",
									"blocked desc",
									"balance",
									"balance desc",
									"languageCode",
									"languageCode desc",
									"globalDimension1Code",
									"globalDimension1Code desc",
									"globalDimension2Code",
									"globalDimension2Code desc",
									"genBusPostingGroup",
									"genBusPostingGroup desc",
									"vendorPostingGroup",
									"vendorPostingGroup desc",
									"vatBusPostingGroup",
									"vatBusPostingGroup desc",
									"finChargeTermsCode",
									"finChargeTermsCode desc",
									"statisticsGroup",
									"statisticsGroup desc",
									"priority",
									"priority desc",
									"lastDateModified",
									"lastDateModified desc",
									"lastModifiedDateTime",
									"lastModifiedDateTime desc",
									"replicationCounter",
									"replicationCounter desc"
								],
								"type": "string"
							}
						}
					},
					{
						"name": "$select",
						"in": "query",
						"description": "Select properties to be returned",
						"style": "form",
						"explode": false,
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"enum": [
									"id",
									"number",
									"displayName",
									"displayName2",
									"searchName",
									"contact",
									"telexNo",
									"ourAccountNo",
									"budgetedAmount",
									"addressLine1",
									"addressLine2",
									"city",
									"state",
									"country",
									"postalCode",
									"phoneNumber",
									"email",
									"website",
									"faxNo",
									"telexAnswerBack",
									"noSeries",
									"disableSearchByName",
									"taxAreaCode",
									"taxRegistrationNumber",
									"currencyId",
									"currencyCode",
									"paymentTermsId",
									"paymentTermsCode",
									"paymentMethodId",
									"paymentMethodCode",
									"taxLiable",
									"territoryCode",
									"purchaserCode",
									"locationCode",
									"shipmentMethodCode",
									"shippingAgentCode",
									"invoiceDiscCode",
									"payToVendorNo",
									"applicationMethod",
									"partnerType",
									"pricesIncludingVat",
									"gln",
									"blockPaymentTolerance",
									"responsibilityCenter",
									"privacyBlocked",
									"documentSendingProfile",
									"icPartnerCode",
									"prepaymentPct",
									"creditorNo",
									"preferredBankAccountCode",
									"cashFlowPaymentTermsCode",
									"primaryContactNo",
									"mobilePhoneNo",
									"leadTimeCalculation",
									"priceCalculationMethod",
									"baseCalendarCode",
									"validateEUVatRegNo",
									"overReceiptCode",
									"blocked",
									"balance",
									"languageCode",
									"globalDimension1Code",
									"globalDimension2Code",
									"genBusPostingGroup",
									"vendorPostingGroup",
									"vatBusPostingGroup",
									"finChargeTermsCode",
									"statisticsGroup",
									"priority",
									"lastDateModified",
									"lastModifiedDateTime",
									"replicationCounter",
									"currency",
									"paymentTerm",
									"paymentMethod",
									"salespersonPurchaser",
									"location",
[...]
