@each $color, $color_value in $utility-colors {
  .transcendence .button .button--color-#{$color},
  .transcendence .button.image-below .button--color-#{$color} .button__caption,
  .transcendence .button.image-above .button--color-#{$color} .button__caption {
    background-color: $color_value !important;
  }

  .button--color-#{$color} {
    background-color: $color_value !important;
  }

  .mobile-view .mobile-button.mobile-button--#{$color} {
    .mobile-button__icon {
      background-color: $color_value;
    }
  }
}

@each $color, $color_value in $utility-colors-hover {
  .transcendence .button .button--color-#{$color}:hover,
  .transcendence
    .button.image-below
    .button--color-#{$color}:hover
    .button__caption,
  .transcendence
    .button.image-above
    .button--color-#{$color}:hover
    .button__caption {
    background-color: $color_value !important;
  }

  .button--color-#{$color}:hover {
    background-color: $color_value !important;
  }
}
